version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      golang-org:
        patterns:
          - "golang.org/*"
      google-cloud:
        patterns:
          - "cloud.google.com/*"
          - "google.golang.org/*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"