APP_NAME=tsb-service
APP_ENV=local
APP_KEY=base64:hv6q2Hed07dJkFHZQfDYDFCzEGC9NyouzzhuEDz2yvU=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

PASSPORT_PASSWORD_GRANT_CLIENT_ID=
PASSPORT_PASSWORD_GRANT_SECRET=

MOLLIE_API_KEY=
MOLLIE_PARTNER_ID=
MOLLIE_PROFILE_ID=

NEXT_APP_ENDPOINT=http://localhost:3000/
