{"openapi":"3.1.0","info":{"title":"Catalogue API","version":"1.0.0"},"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api.developers.deliveroo.com","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com","description":"Sandbox"}],"security":[{"OAuth2-Production":[]}],"paths":{"/brands/{brand_id}/catalogue/uploads":{"post":{"summary":"Catalogue Upload","operationId":"CatalogueUpload","tags":["Catalogue Upload"],"description":"The Catalogue Upload endpoint allows grocery and retail partners to create and update a catalogue of items and associated data. Sites can reference this catalogue (by provided id) in subsequent update listings calls\nAs processing large amounts of catalogue data can be resource-intensive, there are a few steps necessary for catalogue upload.\n\n**Steps**:\n1. Correctly set up webhooks for the Catalogue API in the Developer Portal\n2. Call Catalogue Upload URL. Successful requests will receive an `upload_url` and an `upload_id`, which is used for tracking the entire catalogue upload lifecycle\n3. Upload catalogue data to the `upload_url` provided in the response. When upload is complete catalogue processing will begin\n4. When processing is complete, or a problem occurs, webhook notifications will be sent, containing the `upload_id`\n\n**Points to Note**\n1. `upload_url` expires 60 minutes after being issued.\n2. `upload_url` should be called with the catalogue information specified in the Upload URL request\n3. `upload_url` should not be used for uploading multiple files.\n\n**Rate Limit**\n\nThis endpoint is rate-limited at 10 requests per minute per brand.\n\n**Entity Limits**\n\nBrands should not have more than 10 active catalogues (catalogues with listed sites) at any point in time.\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueUploadOutput"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueUploadOutput"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueUploadOutput"}}}}}}},"/upload_url":{"put":{"summary":"Upload URL (from catalogue upload response)","operationId":"UploadURL","tags":["Upload URL (from catalogue upload response)"],"description":"The Catalogue Upload endpoint returns a pre-signed `upload_url` that you'll use to upload your catalogue data. The `upload_url` is valid for a single file upload only and cannot be reused for multiple files. Note that your catalogue file must not exceed 200MB in size.\n\n**Catalogue ID Management**\n\nCatalogue ID is a unique identifier for your entire product feed.\nThink of it as your catalogue's permanent signature - once you set it, use the same ID for all future uploads of that catalogue.\nThis will reduce processing time and ensure listings and stock availability data are maintained on subsequent uploads.\nWhen you change Catalogue ID, our system treats it as a completely new catalogue instead of an update to the existing one.\nThis may reset all linked data, causing you to lose marketer offers, reordering capabilities, and item upsell.\nTo maintain these features and ensure smooth processing, choose your Catalogue ID carefully and keep it consistent across all uploads.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerCatalogueUpload"}}}},"responses":{"200":{"description":"Successful operation"},"404":{"description":"Not found"}},"callbacks":{"CatalogueUploadWebhookResponse":{"{integratorwebhookurl}":{"post":{"summary":"Catalogue Upload Webhook Response","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueWebhookResponse"}}}},"responses":{"200":{"description":"expected response from partner server"},"404":{"description":"Not found"}}}}}}}},"/brands/{brand_id}/catalogue/{catalogue_id}":{"get":{"summary":"Get Catalogue","operationId":"GetCatalogue","tags":["Get Catalogue"],"description":"The get catalogue endpoint allows brands to get the latest uploaded catalogue by `catalogue_id`.\n\n**Rate Limit**\n\nThe get catalogue endpoint is limited to 20 requests per catalogue per minute\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalogue_id","in":"path","description":"id provided in catalogue upload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerCatalogueUpload"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCatalogueErrorOutput"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCatalogueErrorOutput"}}}}}}},"/brands/{brand_id}/catalogue/{catalogue_id}/sites/{site_id}/prices":{"put":{"summary":"Update Prices Per Site (Upcoming)","operationId":"UpdatePrices","tags":["Update Prices (Upcoming)"],"description":"## What is Update Prices per Site?\nThe Update Prices Per Site endpoint allows partners to override item prices at the site level. This enables site-specific pricing without needing to create multiple master catalogues. Overrides can be set for all items, a subset of items, or include modifiers.\n\nBy default, all sites use the base (catalogue-wide) price defined in your Master Catalogue. This endpoint allows you to override that default for individual sites.\n\n## How to use\nThe Update Prices Per Site endpoint is used to define or update site-specific item prices. It supports both individual item prices and modifier prices, aligning with the price_info format used in the Master Catalogue. **If you have a uniform price across all sites, you don’t need to use this endpoint and you can just define the prices in the master catalogue.**\n\n> **Note:** This endpoint is coming soon and not live in production for usage\n\n### Timing Guidance\n- **First-Time Setup:** When setting up a brand new site or catalogue, and if you intend to use site-specific pricing, call Update Prices Per Site before calling Listings.\n- **For New Items:** If you want new items to launch with the correct site-specific prices, call the Update Prices Per Site before you call the Upload Listings endpoint for those items.\n- **Independent Usage for Price Updates:** The Update Prices Per Site endpoint can also be used independently of Listings. You do not need to re-upload listings every time you update prices for regular price refreshes.\n\nThis ensures the correct prices are shown to customers immediately when items go live.\n\n### Steps\n1. Call this endpoint to override prices for individual sites.\n2. Specify the site ID and the items you want to override.\n3. Receive webhook notifications when the price update is successfully processed or if an error occurs.\n\n### Important Usage Guidelines\n\n- **Use for Pricing Only:** This endpoint is strictly for managing price overrides. It does not control item visibility or availability. Prices can be updated independently of catalogue or listings updates.\n- **Persistent Overrides:** Price overrides are persistent until explicitly updated or removed. Changes to the base catalogue price do not override existing site-level overrides.\n- **Partial Payloads:** Items not included in the request will have their overrides deleted and be assigned the default price in the master catalogue. To avoid unintentionally removing overrides, always send the full list of intended overrides with each call.\n- **Modifiers Supported:** Use the `overrides` field in `price_info` for modifiers.\n\n### Validation Rules\n\n- All item IDs must exist in the latest processed catalogue referenced in the update prices request URL.\n- Items must be unique.\n- Item prices must follow the price i.e. Positive integer or zero Price in minor units of the currency, eg. pennies for GBP, or cents for EUR.\n- Version field is required with value: “update-prices-v1”\n- Modifiers must have a valid `type` and `id` field within `overrides`.\n\n### Rate Limit\nTwo types of rate limits apply to this endpoint:\n\n| Environment  | Site level rate limit              | Brand level rate limit            |\n|--------------|------------------------------------|-----------------------------------|\n| Live         | 10 requests per site per day  | 10 requests per brand per second |\n| Test         | 20 requests per site per day | 10 requests per brand per second |\n\n### Multiple sites\nThis endpoint is designed to handle updates one site at a time. For bulk updates across multiple sites, issue separate calls per site using the respective `site_id`.\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalogue_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"site_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePricesRequest"}}}},"callbacks":{"UpdateCataloguePricesWebhookResponse":{"{integratorwebhookurl}":{"post":{"summary":"Update Prices Webhook Response","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCataloguePricesWebhookResponse"}}}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePricesOutput"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePricesOutput"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePricesOutput"}}}}}}},"/brands/{brand_id}/catalogue/{catalogue_id}/listings":{"put":{"summary":"Update Listings","operationId":"UpdateListings","tags":["Update Listings"],"description":"## What is Listings?\nListings represent the range of items typically sold in a store, drawn from the master catalogue. A listing does not guarantee the item’s availability or stock status in the store; instead, it defines the store’s usual offerings or assortment.\n\nIf you don't have a concept of listing, store range or store assortment then we recommend basing listings on items that have been in stock over the past two weeks in a store. This method ensures that the store's listings include products that have been recently available, aligning what customers see with what’s likely to be in stock.\n\n## How to use\nThe Update Listings endpoint enables you to control which items from your processed catalogue are visible on Deliveroo's website and consumer applications. Only items explicitly included in your listing request will be visible to customers\n\n### Steps\n1. Once catalogue processing is completed, call the listings URL with Site IDs and Item IDs\n2. Receive webhook notifications when processing completes or if any issues occur\n\n### Catalogue Updates\n- **Modified Items:** Changes to existing items in your catalogue are immediately reflected on listed sites. So if you're just updating your master catalogue, there's no need to call Update Listings again.\n- **New Items:** New items added to your catalogue won't automatically appear on listed sites - you must include them in a subsequent listings update\n- **Removed Items:** Items removed from your catalogue are automatically removed from listed sites\n\n### Important Usage Guidelines\n\n- **Not for Frequent Visibility Changes**: **Do not use the Listings endpoint to frequently add or remove items from customers.** This endpoint is intended for managing the general assortment of items offered by a store, not for real-time stock or availability updates. For frequent availability changes, please use the **Unavailabilities** endpoint, which is designed specifically for that purpose.\n\n- **Avoid Excessive Catalogue Removals**: Avoid removing large numbers of items from your catalogue at once. This can lead to unexpected customer experiences and may impact the performance of your integration.\n\n### Validation Rules\n\n1. All Item IDs in your request must exist in your latest processed catalogue\n2. Duplicate Site IDs are not allowed (returns 400)\n3. Requests will fail (returns 404) if any Item ID is not found in the catalogue\n4. Requests will fail if the associated catalogue is currently being processed\n\n### Rate Limit\nTwo types of rate limits apply to this endpoint:\n\n| Environment  | Site level rate limit              | Brand level rate limit            |\n|--------------|------------------------------------|-----------------------------------|\n| Live         | 3 requests per site per 24 hours  | 10 requests per brand per second |\n| Test         | 10 requests per site per 24 hours | 10 requests per brand per second |\n\n> **Note:** To efficiently handle frequent updates and real-time availability changes, we recommend using the **Unavailabilities** endpoint as it is designed with rate limits that accommodate frequent changes, making it ideal for updating item availability based on stock status. The Listings endpoint is best suited for managing your store's general assortment.\n\n### Multiple sites\nYou can update multiple stores in a single request.\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalogue_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateListingsRequest"}}}},"callbacks":{"UpdateCatalogueListingWebhookResponse":{"{integratorwebhookurl}":{"post":{"summary":"Update Listings Webhook Response","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCatalogueListingWebhookResponse"}}}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateListingsOutput"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateListingsOutput"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateListingsOutput"}}}}}}},"/brands/{brand_id}/catalogue/{catalogue_id}/item_unavailabilities/{site_id}":{"patch":{"summary":"Update Unavailabilities","operationId":"UpdateUnavailabilities","tags":["Update Unavailabilities"],"description":"The **Unavailabilities Endpoint** enables you to set items as \"available\" or \"unavailable\" to reflect their real-time stock status (e.g., items that are out of stock). Since stock availability can differ for every site, both the **Catalogue ID** (provided during catalogue upload) and the specific **Site ID** are required when using this endpoint.\n\nWhen you first add items to a store through the Update Listings endpoint, all items are automatically set as \"available\" for customers to order. You'll need to explicitly mark any out-of-stock items using the Update Unavailabilities endpoint.\n\n### Item IDs not found\n\nAll **Item IDs** included in the request must exist in the specified catalogue. If any ID is not found, the entire request will fail and return a **404 error**.\n\n### Rate Limit\n\nThis endpoint is rate-limited to ensure optimal performance:\n\n- **Standard Requests**: Limited to **1 request per 100 milliseconds** per site per brand.\n- **Requests with `reset_all_item_availabilities` set to `true`**: Limited to **1 request per minute** per site per brand.\n\n### Changing Unavailabilities During Catalogue Upload\n\nUpdating availabilities while a catalogue upload is in progress can lead to unpredictable behaviour, such as requests failing for newly created items. We recommend **avoiding** calling the update availabilities endpoint when the site's associated catalogue is still processing.\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalogue_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"site_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnavailabilitiesRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnavailabilitiesResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnavailabilitiesResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnavailabilitiesResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnavailabilitiesResponse"}}}}}},"get":{"summary":"Get Unavailabilities","operationId":"GetUnavailabilities","tags":["Get Unavailabilities"],"description":"This endpoint allows you to view \"unavailable\" items for a given site.\n\nSince stock availability can differ for every site, both the Catalogue ID (provided during catalogue upload) and the specific Site ID are required when using this endpoint.\n\n**Rate Limit**\n\nThis endpoint is rate-limited at 100 requests per minute per brand.\n","parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalogue_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"site_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUnavailabilitiesResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUnavailabilitiesError"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsResponse"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUnavailabilitiesError"}}}}}}},"/webhooks-upload":{"post":{"summary":"Upload Catalogue Webhook","operationId":"UploadCatalogueWebhook","tags":["Webhooks"],"description":"This webhook notifies you of the status of a catalogue upload, identified by a unique `upload_id`.\nIt is triggered once per upload to provide essential details on the upload's overall progress.\nYou can distinguish the webhook events from others by the `event` attribute.\n","parameters":[{"$ref":"#/components/parameters/SequenceGuid"},{"$ref":"#/components/parameters/Hmac"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueWebhookResponse"}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}},"/webhooks-update-prices":{"post":{"summary":"Update Catalogue Prices Webhook","operationId":"UpdateCataloguePricesWebhook","tags":["Webhooks"],"description":"This webhook provides status updates for update prices per site, identified by a unique `update_catalogue_prices_id`.\nIt is triggered once per prices update to share key information on the overall status.\nYou can distinguish the webhook events from others by the `event` attribute.\n","parameters":[{"$ref":"#/components/parameters/SequenceGuid"},{"$ref":"#/components/parameters/Hmac"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCataloguePricesWebhookResponse"}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}},"/webhooks-update-listing":{"post":{"summary":"Update Catalogue Listing Webhook","operationId":"UpdateCatalogueListingsWebhook","tags":["Webhooks"],"description":"This webhook provides status updates for listings, identified by a unique `update_catalogue_listing_id`.\nIt is triggered once per listing update to share key information on the overall status.\nYou can distinguish the webhook events from others by the `event` attribute.\n","parameters":[{"$ref":"#/components/parameters/SequenceGuid"},{"$ref":"#/components/parameters/Hmac"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCatalogueListingWebhookResponse"}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://auth.developers.deliveroo.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://auth-sandbox.developers.deliveroo.com/oauth2/token","scopes":{}}}}},"schemas":{"PartnerCatalogueUpload":{"type":"object","required":["version","catalogue"],"properties":{"version":{"$ref":"#/components/schemas/CatalogueUploadVersion","examples":["catalogue-upload-v1"]},"catalogue":{"$ref":"#/components/schemas/PartnerCatalogue"}}},"PartnerCatalogue":{"type":"object","required":["id","hero_image","items","categories"],"properties":{"id":{"type":"string","description":"Catalogue ID is the unique identifier for the catalogue, provided by the partner. The Catalogue ID must be unique across all other catalogue ids in the partner's catalogue. The maximum length of Catalogue ID should be 50 characters (only allowed alphanumeric and _ characters).","pattern":"^[a-zA-Z0-9_ ]+$","examples":["1234","winter_2023"]},"hero_image":{"$ref":"#/components/schemas/PartnerCatalogueHeroImage","description":"HeroImage is the banner image for the site. There are specific size requirements for the image. Refer \"Hero Image\" in Guidelines section."},"items":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueItem"},"description":"Partner catalogue item object. A maximum 15,000 items can be included. Catalogues with item counts over 10,000 will be subject to slower processing speeds."},"merchandise_collections":{"$ref":"#/components/schemas/PartnerCatalogueMerchandiseCollections","description":"MerchandiseCollections are the merchandise collections available for sale at the site. Typically these are promotional collections of items. A maximum 100 merchandise collections can be included"},"experience":{"$ref":"#/components/schemas/ExperienceCode"},"categories":{"$ref":"#/components/schemas/PartnerCatalogueCategories","description":"The \"categories\" section outlines how partners group items for sale on the site, requiring either one level with just \"item_categories\" or two levels combining item_categories for specific item groupings and \"groups\" for broader category collections.\nWhether one or two levels are used depends on the \"experience\" attribute.\n"},"modifiers":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueModifier"},"description":"List of of modifiers. Modifiers apply to items or groups of items."}}},"PartnerCatalogueItem":{"type":"object","required":["id","name","description","price_info","tax_rate"],"properties":{"id":{"type":"string","description":"Custom unique identifier for the product, which can be set to the SKU or PLU. IDs should have a maximum length of 50 characters and can only contain alphanumeric characters (a-z, A-Z, 0-9), underscores (_), and hyphens (-)","pattern":"^[a-zA-Z0-9_-]+$","examples":["12345678"]},"plu":{"type":"string","description":"Unique PLU for the product, primarily used by POS systems and not displayed to consumers. PLUs should have a maximum length of 50 characters","examples":["3008"]},"barcodes":{"type":"array","items":{"type":"string"},"description":"Barcodes for the product, where the first barcode is the primary barcode. Barcodes are used for scanning and are not displayed to the consumer. Barcodes should conform to GS1 standards","examples":["70000000001235"]},"mpn":{"type":"string","description":"Manufacturer's Part Number, which has a maximum length of 70 characters","examples":["12345"]},"name":{"$ref":"#/components/schemas/TranslatedText","description":"Display name for the product (by language), which has a maximum length of 120 characters. Not all languages names are required.","examples":[{"en":"1kg flour"}]},"description":{"$ref":"#/components/schemas/TranslatedText","description":"Description is an optional description for the item (by language). Description length should have a maximum length of 500 characters","examples":[{"en":"1kg fresh flour"}]},"media":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueMedia"},"description":"Media is the media for the item e.g. display images. Only main_image is currently allowed","examples":[[{"media_type":"main_image","media_url":"https://xxx.com/image.jpeg"}]]},"price_info":{"$ref":"#/components/schemas/PartnerCatalogueItemPriceInfo","description":"Price information of the product","examples":[{"price":150}]},"tax_rate":{"$ref":"#/components/schemas/TaxCode","description":"Tax rate percentage (from 0-100) for the item.\nAccepted tax_rates by country:\nAE: 0.0, 5.0\nBE: 0.0, 6.0, 12.0, 21.0\nFR: 0.0, 2.1, 5.5, 10.0, 20.0\nIE: 0.0, 9.0, 13.5, 23.0\nIT: 0.0, 4.0, 5.0, 10.0, 22.0\nKW: 0.0\nSG: 0.0, 9.0\nGB: 0.0, 5.0, 12.5, 20.0\nQA: 0.0\n","examples":["20.0"]},"is_eligible_as_replacement":{"type":"boolean","description":"Indicates that the product is eligible as a replacement for other products","examples":[true]},"is_eligible_for_substitution":{"type":"boolean","description":"Indicates that the product is eligible for substitution of other products. Variable Measurement items are not eligible for substitution","examples":[true]},"is_returnable":{"type":["boolean","null"],"description":"Indicates that the product is returnable, and is typically used for non-perishable products. Variable Measurement items are not returnable","examples":[false]},"max_quantity":{"type":["number","null"],"description":"MaxQuantity sets an optional upper limit to how many of this item can be requested in a single order.","examples":[5]},"returns_information":{"$ref":"#/components/schemas/TranslatedText","description":"Returns information for the product(by language), which has a maximum of 1,500 characters. Not all languages strings needed.","examples":[{"en":"Return back to Deliveroo. Should only be set if returnable is true"}]},"age_restricted":{"type":"boolean","description":"Indicates that the product is age restricted","examples":[true]},"alcohol_percentage_by_volume":{"$ref":"#/components/schemas/FloatValue","description":"Alcohol by volume of the item, as expressed as a volume percent","examples":[10.55]},"classifications":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationCode"},"description":"Classifications are region-specific classifications e.g. contains paracetamol. Permitted strings listed in the 'Item classifications information' in Guidelines section."},"highlights":{"type":"array","items":{"$ref":"#/components/schemas/HighlightCode"},"description":"Highlights information. This is for partners to control some of the visual attributes of an item card and apply some \"highlight\" behaviour.\nAvailable labels:\n\"suitable_for_gifting\" - to signal to a customer that a given item is suitable for gifting.\n"},"allergies":{"type":"array","items":{"$ref":"#/components/schemas/AllergyCode"},"description":"Item's allergy information. Permitted strings listed in the 'Item allergens' in Guidelines section. Empty array means allergy information unavailable.","examples":[["no_allergens"]]},"diets":{"type":"array","items":{"$ref":"#/components/schemas/DietCode"},"description":"Dietary information of the product"},"type":{"type":"string","description":"type describes the underlying nature of the item\n\nSince items can be used to represent either a \"choice\" for a modifier (i.e. no onions), an actual saleable \"item\" (i.e. cheeseburger), this attribute specifies what that item is used for.\n\n- `ITEM` - a directly sellable item. This item belongs to a category.\n- `CHOICE` - a modifier option. This item does not belong to a category, and is only purchaseable as a modifier to an `ITEM`\n","enum":["ITEM","CHOICE"]},"country_of_origin":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/CountryCode"},{"type":"string"}]},"description":"Country of origin of the product, in ISO 3166-1 format OR string. Multiple countries can be specified.","examples":[["Ecuador"]]},"manufacturer":{"type":"string","description":"Product manufacturer name and address","examples":["Banana Inc., 123 Banana Street, Tropic City"]},"eu_responsible_person":{"type":"string","description":"Name, postal address, and web address of the \"EU responsible person\". Required if the item is sold in the EU and the Manufacturer is not located in the EU.","examples":["EU Banana Distributor, 456 Europe Lane, Euro City"]},"warranty_information":{"$ref":"#/components/schemas/TranslatedText","description":"Warranty information of the product (by language). Maximum of 1,500 characters","examples":[{"en":"2 years limited warranty"}]},"directions":{"$ref":"#/components/schemas/TranslatedText","description":"Directions for the product(by language), including how it should be prepared, cooked, stored, or used. Maximum of 1,500 characters","examples":[{"en":"Store in a cool, dry place. Best served chilled."}]},"brand":{"type":"string","description":"Brand name of the product that is recognisable by consumers","examples":["Coca Cola"]},"colour":{"$ref":"#/components/schemas/TranslatedText","description":"Product colour (by language)","examples":[{"en":"Yellow"}]},"gender":{"$ref":"#/components/schemas/Gender","description":"The gender for which the product is intended, either \"male\", \"female\", or \"unisex\"","examples":["male"]},"safety_information":{"$ref":"#/components/schemas/TranslatedText","description":"Safety information for the product (by language)","examples":[{"en":"No specific safety information."}]},"google_product_category":{"type":"integer","format":"int32","description":"Google Product Category of the item, as expressed in a numerical category ID","examples":[1234]},"temperature_zone":{"$ref":"#/components/schemas/TemperatureZone","description":"Temperature zone of the item at the point of purchase. Possible values are ambient, chilled, frozen, or hot","examples":["ambient"]},"display_price_per_unit":{"$ref":"#/components/schemas/PartnerCatalogueItemDisplayPricePerUnitInfo","description":"Product price per unit value displayed to consumers\n\nFor example,\n  1. *display_price_per_unit* = {\"value\": 10, \"unit\": \"ml\"},\nin this case *product_volume* will be used to determine price per 10ml which will be shown to consumer. *product_weight*(if provided) will be ignored here.\n\n  2. *display_price_per_unit* = {\"value\": 10, \"unit\": \"g\"},\nin this case *product_weight* will be used to determine price per 10g which will be shown to consumer. *product_volume*(if provided) will be ignored here.\n\nAllowed values are 10g, 10ml, 100g, 100ml, 75cl, 1l, 1kg\n","examples":[{"value":10,"unit":"ml"}]},"nutritional_info":{"$ref":"#/components/schemas/PartnerCatalogueNutritionalInfo","nullable":true,"description":"Nutritional information of the product"},"product_size":{"$ref":"#/components/schemas/TranslatedText","description":"Product-specific size information (by language), eg the number of pieces, or \"XL\"","examples":[{"en":"XL"}]},"product_dimensions":{"$ref":"#/components/schemas/DimensionsAndUnit","description":"Product dimensions, excluding packaging","examples":[{"length":100,"width":50,"height":10.6,"unit":"cm"}]},"product_weight":{"$ref":"#/components/schemas/WeightValueUnit","description":"Product weight, excluding packaging. For solid products sold in liquid please specify the drained weight","examples":[{"value":200,"unit":"g"}]},"product_volume":{"$ref":"#/components/schemas/VolumeValueUnit","description":"Product volume, excluding packaging. Typically used for liquids","examples":[{"value":2000,"unit":"ml"}]},"shipping_dimensions":{"$ref":"#/components/schemas/DimensionsAndUnit","description":"Product dimensions, including packaging","examples":[{"length":130,"width":80,"height":16,"unit":"cm"}]},"shipping_weight":{"$ref":"#/components/schemas/WeightValueUnit","description":"Product weight, including packaging","examples":[{"value":230,"unit":"g"}]},"pack_details":{"$ref":"#/components/schemas/PackDetails","description":"Size and volume information for items in the pack"},"modifier_ids":{"type":"array","items":{"type":"string"},"description":"ModifierIDs are the IDs of the modifiers that apply to the item."},"operational_name":{"type":"string","description":"OperationalName is the name of the item used for operational purposes. It is not displayed to the consumer. OperationalName has a maximum length of 255 characters","examples":["1kg fresh flour"]},"variable_measurement":{"type":"object","required":["unit","sold_by","increment"],"description":"To list variable measurement items, please contact your account manager.\n\nWhen this field is filled, the item will be sold by measurement (e.g. weight). Examples include:\n\n* Counter / deli items, sold by weight (e.g. tabbouleh, olives, pistachios)\n\n* Variable weight products (e.g. leg of lamb, slice of cake, bath salts)\n\n* Pre-packaged variable weight items (e.g. 500g of cubed meat)\n\nVariable measurement items that also have a specified max_quantity will have an upper limit to the number of increments of an item. e.g.\nan item with\n```\n  \"max_quantity\":3\n  variable_measurement: {\n    \"unit\": \"GRAMS\",\n    \"sold_by\": \"MEASUREMENT\",\n    \"increment\":100\n  }\n```\nwould permit orders of 100g, 200g, 300g.\n\nCurrently variable measurement items cannot be substituted and cannot be returned.\n\nCurrently variable measurement items are not applicable for offers.\n\nCurrently the Picking API does not support variable measurement items. Picking partners must use the picking app “Grocery Order Picker”\n","properties":{"unit":{"type":"string","description":"The unit of measurement for the item","enum":["GRAMS","KILOGRAMS"],"examples":["GRAMS","KILOGRAMS"]},"sold_by":{"type":"string","description":"How the item is sold, either by count or by a measurement. e.g. you may wish to sell 150g burgers by COUNT. However olives would typically be sold by MEASUREMENT","enum":["MEASUREMENT","COUNT"],"examples":["MEASUREMENT"]},"increment":{"type":"number","description":"The increment of the unit of measurement customers are allowed to order.\ne.g\n```\n\"unit\": \"GRAMS\",\n\"increment\":100\n```\nwould represent increments of 100g. This would permit orders of 100g, 200g, 300g etc.\n","examples":[100]}}}}},"PartnerCatalogueCategories":{"type":"object","properties":{"item_categories":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueCategory"}},"groups":{"type":"array","description":"Groups are higher-level collections that organise related item categories into broader sections. Max groups allowed are 100.","items":{"$ref":"#/components/schemas/CategoryGroup"}}}},"PartnerCatalogueMerchandiseCollections":{"type":"object","properties":{"item_categories":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueMerchandiseCollection"}}}},"PartnerCatalogueMedia":{"type":"object","properties":{"media_type":{"$ref":"#/components/schemas/MediaType"},"media_url":{"type":"string"}}},"PartnerCatalogueHeroImage":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the hero image","examples":["http://grocery-images.com/site-1005-hero-image.jpg"]}}},"PartnerCatalogueItemPriceInfo":{"type":"object","properties":{"price":{"type":"integer","format":"int64","description":"Positive integer or zero Price in minor units of the currency, eg. pennies for GBP, or cents for EUR."},"overrides":{"type":"array","description":"Price overrides for the item in different contexts.","items":{"$ref":"#/components/schemas/PartnerCatalogueItemPriceOverride"}},"fees":{"type":"array","items":{"$ref":"#/components/schemas/PartnerCatalogueItemPriceFee"}}}},"UpdatePricesItemPriceInfo":{"type":"object","properties":{"price":{"type":"integer","format":"int64","description":"Positive integer or zero Price in minor units of the currency, eg. pennies for GBP, or cents for EUR."},"overrides":{"type":"array","description":"Price overrides for the item in different contexts.","items":{"$ref":"#/components/schemas/UpdatePricesItemPriceOverride"}}}},"PartnerCatalogueItemDisplayPricePerUnitInfo":{"type":"object","properties":{"value":{"type":"integer","format":"int64"},"unit":{"$ref":"#/components/schemas/DenominatorUnitType"}}},"DenominatorUnitType":{"type":"string","enum":["g","kg","ml","cl","l"]},"PartnerCatalogueItemPriceOverride":{"type":"object","properties":{"id":{"type":"string","example":"breakfast-bundle"},"type":{"type":"string","example":"ITEM","enum":["ITEM","MODIFIER","PICKUP_ITEM","PICKUP_MODIFIER"]},"price":{"type":"integer","format":"int64"}}},"UpdatePricesItemPriceOverride":{"type":"object","properties":{"id":{"type":"string","example":"breakfast-bundle"},"type":{"type":"string","example":"ITEM","enum":["ITEM","MODIFIER","PICKUP_ITEM","PICKUP_MODIFIER"]},"price":{"type":"integer","format":"int64"}}},"PartnerCatalogueItemPriceFee":{"type":"object","properties":{"type":{"type":"string","enum":["DEPOSIT_FEES"]},"amount":{"type":"integer","format":"int64"}}},"PartnerCatalogueMerchandiseCollection":{"type":"object","required":["id","name","item_ids"],"properties":{"id":{"type":"string","pattern":"^[\\w-]+$","examples":["halloweenspecials"]},"name":{"$ref":"#/components/schemas/TranslatedText","examples":["{\"en\": \"Halloween Specials\"}"]},"description":{"$ref":"#/components/schemas/TranslatedText"},"item_ids":{"type":"array","items":{"type":"string"}}}},"PartnerCatalogueCategory":{"type":"object","required":["id","name","item_ids"],"properties":{"id":{"type":"string","pattern":"^[\\w-]+$","examples":["citrus_fruit"]},"name":{"allOf":[{"$ref":"#/components/schemas/TranslatedText"},{"description":"Translated name of the category. Length: 3-120."}],"examples":["{\"en\": \"Citrus Fruit\"}"]},"description":{"$ref":"#/components/schemas/TranslatedText"},"item_ids":{"type":"array","description":"Item IDs are items which are required to be added to the defined category.","items":{"type":"string"}}}},"CategoryGroup":{"type":"object","required":["id","name","item_category_ids"],"properties":{"id":{"type":"string","pattern":"^[\\w-]+$","examples":["fruit"]},"name":{"allOf":[{"$ref":"#/components/schemas/TranslatedText"},{"description":"Translated name of the category group. Length: 3-120."}],"examples":["{\"en\": \"Fruit\"}"]},"description":{"$ref":"#/components/schemas/TranslatedText"},"item_category_ids":{"type":"array","description":"Item Category IDs are item categories which are required to be added to the defined group. A maximum of 50 item category ids can be included.","items":{"type":"string"},"examples":[["citrus_fruit"]]}}},"PartnerCatalogueNutritionalInfo":{"type":"object","properties":{"energy":{"$ref":"#/components/schemas/PartnerCatalogueEnergy","description":"Energy information for the product","examples":[{"kcal":200,"kj":800}]},"ingredients":{"$ref":"#/components/schemas/TranslatedText","description":"Ingredients of the product (by language)","examples":[{"en":"Bananas"}]},"macronutrients":{"$ref":"#/components/schemas/MacronutrientsInfo","description":"Macronutrient information for the product"},"serving_size":{"$ref":"#/components/schemas/ServingSize","description":"Recommended serving size for the product","examples":[{"unit":"g","value":200}]},"nutri_score":{"type":"string","enum":["A","B","C","D","E"],"description":"Product Nutri-Score, applicable only to partners in France and Belgium. Possible values are A, B, C, D, or E","examples":["E"]},"nutri_grade":{"type":"string","enum":["A","B","C","D"],"description":"Product Nutri-Grade, applicable only to partners in Singapore. Possible values are A, B, C, D","examples":["D"]}}},"PartnerCatalogueEnergy":{"type":"object","properties":{"kcal":{"type":"integer","format":"int64","description":"Number of kilocalories (kcal) in the product. Max 1000000"},"kj":{"type":"integer","format":"int64","description":"Number of kilojoules (kj) in the product"}}},"MacronutrientsInfo":{"type":"object","properties":{"measurement_unit":{"type":"string","enum":["ml","g"],"description":"Unit of measurement for the base amount 100(either g or ml) of the macronutrient. This applies for each macronutrient added","examples":["g"]},"description":{"$ref":"#/components/schemas/TranslatedText","description":"Description of the product's macronutrient information displayed to consumers, if not provided as sold(language specific). Examples include, \"pan fried\" and \"grilled\"","examples":[{"en":"as consumed"}]},"protein":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"mg","value":10.5}]},"fat":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":10.5}]},"fat_of_which_saturates":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":5.5}]},"carbohydrates":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":10.5}]},"carbohydrates_of_which_sugars":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":10.5}]},"fibre":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":10.5}]},"salt":{"$ref":"#/components/schemas/MacronutrientSize","examples":[{"unit":"g","value":10.5}]}}},"FloatValue":{"type":"number","format":"float"},"WeightValueUnit":{"type":"object","properties":{"unit":{"type":"string","enum":["kg","g","mg"]},"value":{"$ref":"#/components/schemas/FloatValue"}}},"MacronutrientSize":{"type":"object","properties":{"unit":{"type":"string","enum":["mg","g"]},"value":{"$ref":"#/components/schemas/FloatValue"}}},"ServingSize":{"type":"object","properties":{"value":{"$ref":"#/components/schemas/FloatValue"},"unit":{"type":"string","enum":["mg","g","kg","ml","cl","l"]}}},"VolumeValueUnit":{"type":"object","properties":{"unit":{"type":"string","enum":["ml","cl","l"]},"value":{"$ref":"#/components/schemas/FloatValue"}}},"DimensionsAndUnit":{"type":"object","properties":{"length":{"type":"integer","format":"int64"},"width":{"type":"integer","format":"int64"},"height":{"type":"integer","format":"int64"},"unit":{"type":"string","enum":["mm","cm"]}}},"PackDetails":{"type":"object","properties":{"counts_per_pack":{"type":"integer","format":"int64","description":"Number of items per pack","examples":[5]},"product_size":{"$ref":"#/components/schemas/TranslatedText","description":"Per item size information"},"product_dimensions":{"$ref":"#/components/schemas/DimensionsAndUnit","description":"Per item dimensions"},"product_weight":{"$ref":"#/components/schemas/WeightValueUnit","description":"Per item weight"},"product_volume":{"$ref":"#/components/schemas/VolumeValueUnit","description":"Per item volume"}}},"PartnerCatalogueModifier":{"type":"object","required":["name"],"properties":{"id":{"type":"string","pattern":"^[\\w-]+$","description":"A unique identifying string for the modifier group, provided by the site. Modifier ID should have a maximum length of 50 characters"},"name":{"$ref":"#/components/schemas/TranslatedText","description":"The displayed name for the modifier (by language). Modifier Name should have a maximum length of 250 characters. Not all languages names are required."},"description":{"$ref":"#/components/schemas/TranslatedText","description":"An optional description for the modifier (by language). Modifier description should have a maximum length of 255 characters"},"type":{"type":"string","description":"type describes the underlying nature of the modifier\n  - \"up-sell-existing-items\" - An existing main menu item sold alongside a main item, e.g coca-cola\n  - \"remove-ingredient\"      - Removing an ingredient from an item, e.g remove egg\n  - \"add-ingredient\"         - Adding an additional ingredient to an item, e.g add tomatoes\n  - \"cooking-instruction\"    - Cooking instructions on how to prepare the item, e.g medium rare\n  - \"size-modification\"      - A choice of size for the item in question, e.g small.\n  - \"product-variation\"      - A variation of the product itself, e.g. brioche bun or gluten free.\n  - \"gift-wrap\"              - Item requires gift wrapping.\n  - \"add-separate-condiment\" - Add a separate condiment to the item, e.g. ketchup sachet.\n","enum":["up-sell-existing-items","remove-ingredient","add-ingredient","cooking-instruction","size-modification","product-variation","gift-wrap","add-separate-condiment"]},"min_selection":{"type":"integer","format":"int32","description":"The minimum number of items the consumer can pick in the modifier."},"max_selection":{"type":"integer","format":"int32","description":"The maximum number of items the consumer can pick in the modifier."},"repeatable":{"type":"boolean","description":"Describes if the consumer can order the same item multiple times."},"item_ids":{"type":"array","items":{"type":"string"},"description":"Items linked to the modifier."}}},"TranslatedText":{"type":"object","properties":{"ar":{"type":"string"},"ar-kw":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"nl":{"type":"string"},"nl-be":{"type":"string"},"zh":{"type":"string"},"zh-tw":{"type":"string"}},"additionalProperties":{"type":["string","null"]}},"CatalogueUploadVersion":{"type":"string","enum":["catalogue-upload-v1"],"examples":["catalogue-upload-v1"]},"ExperienceCode":{"type":"string","description":"'Experience' determines the layout for the site and how items are viewed and browsed by consumers on the site and apps.\n`categories` uses specified categories and merchandising collections from the payload and displays them in the consumer experience. If `aisles` is selected, partners must always provide two levels of their own categories alongside merchandising collections.\n","enum":["categories","aisles"]},"AllergyCode":{"type":"string","enum":["no_allergens","celery","crustaceans","eggs","fish","gluten_wheat","gluten_rye","gluten_barley","gluten_oats","lupin","milk","molluscs","mustard","nuts_almond","nuts_hazelnut","nuts_walnut","nuts_cashew_nut","nuts_pecan_nut","nuts_brazil_nut","nuts_pistachio_nut","nuts_macadamia_or_queensland_nut","peanuts","sesame_seeds","soybeans","sulphur_dioxide_sulphites"]},"ClassificationCode":{"type":"string","enum":["early_stage_infant_formula","non_muslim","pharmaceuticals_paracetamol","pharmaceuticals_ibuprofen","pharmaceuticals_aspirin","alcohol_product","tobacco_product","vape_product","cbd_product","is_hfss","world_foods","organic","less_healthy_foods"]},"HighlightCode":{"type":"string","enum":["suitable_for_gifting"]},"MediaType":{"type":"string","enum":["main_image"]},"DietCode":{"type":"string","enum":["dairy_free","gluten_free","halal","keto","paleo","plant_based","vegan","vegetarian"]},"CountryCode":{"type":"string","description":"ISO 3166-1 Country code","enum":["AF","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW"]},"TaxCode":{"type":"string","enum":["0.0","2.1","4.0","5.0","6.0","9.0","10.0","12.0","12.5","13.5","20.0","21.0","22.0","23.0"]},"Gender":{"type":"string","enum":["male","female","unisex"]},"TemperatureZone":{"type":"string","enum":["ambient","chilled","frozen","hot"]},"CatalogueUploadOutput":{"type":"object","properties":{"upload_url":{"type":"string","description":"The URL where the catalogue should be uploaded. The upload_url expires 3600 seconds after being issued."},"upload_id":{"type":"string","description":"The unique identifier for the upload."},"error":{"type":["string","null"],"description":"Any error that occurred during the upload."}}},"UpdateUnavailabilitiesResponse":{"type":"object","properties":{"error":{"type":["string","null"],"description":"Any error that occurred during the update."}}},"UpdateUnavailabilitiesRequest":{"type":"object","required":["item_unavailabilities","version"],"properties":{"version":{"$ref":"#/components/schemas/UnavailabilitiesVersion","description":"Version of the unavailabilities."},"reset_all_item_availabilities":{"type":"boolean","description":"Flag to reset all item availabilities."},"item_unavailabilities":{"type":"array","items":{"$ref":"#/components/schemas/ItemUnavailability"},"description":"List of item unavailabilities."}}},"ItemUnavailability":{"type":"object","required":["item_id","status"],"properties":{"item_id":{"type":"string","description":"ItemID is the partner provided item ID"},"status":{"$ref":"#/components/schemas/AvailabilityStatus","description":"Status is the status of the item's availability. \"unavailable\", or \"available\"."}}},"AvailabilityStatus":{"type":"string","enum":["available","unavailable"],"description":"Availability status of an item."},"UnavailabilitiesVersion":{"type":"string","enum":["unavailabilities-v1"],"description":"Version of the unavailabilities."},"GetUnavailabilitiesResponse":{"type":"object","properties":{"item_unavailabilities":{"type":"array","items":{"$ref":"#/components/schemas/ItemUnavailability"},"description":"List of item unavailabilities."}}},"GetUnavailabilitiesError":{"type":"object","properties":{"error":{"type":["string"],"description":"Any error that occurred getting unavailabilities"}}},"CatalogueWebhookResponse":{"type":"object","properties":{"event":{"type":"string","description":"name of the event. used to differentiate between CatalogueWebhookResponse and other events.\n","enum":["catalogue_upload"],"example":"catalogue_upload"},"created_at":{"type":"string","format":"date-time","description":"The time when the upload was created."},"brand_id":{"type":"string","description":"The external brand ID."},"catalogue_id":{"type":"string","description":"The ID of the catalogue."},"status":{"$ref":"#/components/schemas/CatalogueWebhookResponseStatus"},"upload_id":{"type":"string","description":"The ID of the upload."},"updated_at":{"type":"string","format":"date-time","description":"The time when the upload was last updated."},"error_messages":{"type":"array","items":{"type":["string","null"]},"description":"If processing failed, details about the failures."},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"},"description":"information about warnings that occurred when process the request. These warnings do not affect the success of the processing"}}},"Warning":{"type":"object","properties":{"warning_type":{"type":"string","description":"the warning type","enum":["image_download_warning","barcode_warning"]},"value":{"type":"string","description":"the value which causes the warning"},"message":{"type":"string","description":"a description of the warning that occurred"}}},"CatalogueWebhookResponseStatus":{"type":"string","enum":["success","external_error","internal_error"]},"UpdatePricesRequest":{"type":"object","properties":{"version":{"$ref":"#/components/schemas/UpdatePricesVersion","examples":["update-prices-v1"]},"items":{"type":"array","description":"item prices for the site","items":{"$ref":"#/components/schemas/UpdatePricesItem"},"example":[{"id":"burger","price_info":{"price":310}},{"id":"fries","price_info":{"price":300,"overrides":[{"id":"burger_meal","price":150,"type":"ITEM"}]}}]}}},"UpdateListingsRequest":{"type":"object","properties":{"version":{"$ref":"#/components/schemas/UpdateListingsVersion","examples":["catalogue-listing-v1"]},"site_ids":{"type":"array","description":"list of site_ids"},"listed_items":{"type":"array","description":"items to be listed in sites","items":{"$ref":"#/components/schemas/UpdateListingsItem"}}}},"UpdatePricesVersion":{"type":"string","description":"prices format version.\n","enum":["update-prices-v1"]},"UpdateListingsVersion":{"type":"string","description":"listing format version.\n","enum":["catalogue-listing-v1"]},"UpdatePricesItem":{"type":"object","description":"item price information\n","properties":{"id":{"type":"string","description":"ID of the item. Item should be included in the latest catalogue upload. Maximum length 50 characters"},"price_info":{"$ref":"#/components/schemas/UpdatePricesItemPriceInfo","description":"Price information of the item"}}},"UpdateListingsItem":{"type":"object","description":"listed item information\n","properties":{"id":{"type":"string","description":"ID of the item. Item should be included in the latest catalogue upload. Maximum length 50 characters"}}},"UpdatePricesOutput":{"type":"object","properties":{"update_catalogue_prices_id":{"type":"string","description":"The unique identifier for the update prices request."},"error":{"type":["string","null"],"description":"Any error that occurred during the processing."}}},"UpdateListingsOutput":{"type":"object","properties":{"update_catalogue_listing_id":{"type":"string","description":"The unique identifier for the update listing request."},"error":{"type":["string","null"],"description":"Any error that occurred during the processing."}}},"UpdateCataloguePricesWebhookResponse":{"type":"object","properties":{"event":{"type":"string","description":"name of the event. used to differentiate between UpdateCataloguePricesWebhookResponse and other events.\n","enum":["update_catalogue_prices"],"example":"update_catalogue_prices"},"created_at":{"type":"string","format":"date-time","description":"The time when the update request was created."},"brand_id":{"type":"string","description":"The external brand ID."},"catalogue_id":{"type":"string","description":"The ID of the catalogue."},"status":{"$ref":"#/components/schemas/UpdateCataloguePricesWebhookResponseStatus"},"update_catalogue_prices_id":{"type":"string","description":"The ID of the update request."},"updated_at":{"type":"string","format":"date-time","description":"The time when the update request was last updated."},"error_messages":{"type":"array","items":{"type":["string","null"]},"description":"If processing failed, details about the failures."},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"},"description":"information about warnings that occurred when process the request. These warnings do not affect the success of the processing"}}},"UpdateCatalogueListingWebhookResponse":{"type":"object","properties":{"event":{"type":"string","description":"name of the event. used to differentiate between UpdateCatalogueListingWebhookResponse and other events.\n","enum":["update_catalogue_listing"],"example":"update_catalogue_listing"},"created_at":{"type":"string","format":"date-time","description":"The time when the update request was created."},"brand_id":{"type":"string","description":"The external brand ID."},"catalogue_id":{"type":"string","description":"The ID of the catalogue."},"status":{"$ref":"#/components/schemas/UpdateCatalogueListingWebhookResponseStatus"},"update_catalogue_listing_id":{"type":"string","description":"The ID of the update request."},"updated_at":{"type":"string","format":"date-time","description":"The time when the update request was last updated."},"error_messages":{"type":"array","items":{"type":["string","null"]},"description":"If processing failed, details about the failures."},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"},"description":"information about warnings that occurred when process the request. These warnings do not affect the success of the processing"}}},"UpdateCatalogueListingWebhookResponseStatus":{"type":"string","enum":["success","external_error","internal_error"]},"UpdateCataloguePricesWebhookResponseStatus":{"type":"string","enum":["success","external_error","internal_error"]},"TooManyRequestsResponse":{"type":"object","properties":{"error":{"type":"string","description":"Too Many Requests."}}},"GetCatalogueErrorOutput":{"type":"object","properties":{"error":{"type":"string"}}}},"parameters":{"SequenceGuid":{"in":"header","name":"x-deliveroo-sequence-guid","description":"Deliveroo Sequential globally unique identifier (GUID). Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"1499765769"},"Hmac":{"in":"header","name":"x-deliveroo-hmac-sha256","description":"On registration, we'll provide you with a webhook secret. We'll use the webhook secret and a sequential globally unique identifier (GUID) to generate a hash of the order payload. When you receive a POST request, you will be able to compute a hash and verify that it's a genuine, authorized request sent from Deliveroo. Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"cc28251639033853f1cd1f8bde5a75cefba53c7c991d2b0db848b6747e258678"}}}}