{"openapi":"3.1.0","info":{"version":"1.0.0","title":"Deliveroo Express API"},"security":[{"OAuth2-Production":[]}],"servers":[{"url":"https://api.developers.deliveroo.com/daas","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com/daas","description":"Sandbox API"}],"paths":{"/v1/quotes":{"post":{"description":"Create a quote to check serviceability, cost and estimated delivery timeframes between two addresses.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"createQuoteV1","summary":"Create quote","tags":["v1"],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"type":"object","required":["external_ref_id","pickup","dropoff"],"properties":{"external_ref_id":{"description":"Partner external reference unique identifier.\nExample: 6823e970-283d-4bfd-849e-7bcb0e4a1b40\nExample: ref01\n","type":"string","maxLength":128,"minLength":5},"external_short_id":{"description":"Human readable short id. Defaults to the 6 last alphanumeric characters of the `external_ref_id` if not specified.","type":"string","maxLength":6},"pickup":{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/pickup"},"dropoff":{"type":"object","required":["location","name"],"properties":{"location":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/pickup/properties/location"},"name":{"description":"Dropoff preferred name/business name.","type":"string","maxLength":100,"minLength":1}}},"cargo":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo"}}}]}}},"required":true},"responses":{"201":{"description":"Quote successfully created","content":{"application/json":{"schema":{"allOf":[{"type":"object","required":["dropoff","pickup","external_ref_id","external_short_id","id","fee","expires_at","travel_distance"],"properties":{"id":{"description":"Quote ID.","type":"string"},"external_ref_id":{"description":"Partner external reference unique identifier.\nExample: 6823e970-283d-4bfd-849e-7bcb0e4a1b40\n","type":"string"},"external_short_id":{"description":"Human readable short id. Defaults to the 6 last alphanumeric characters of the `external_ref_id` if not specified.","type":"string"},"pickup":{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/pickup"},"dropoff":{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/dropoff"},"fee":{"description":"Total net delivery fee.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/items/items/properties/price"},"additional_fees":{"description":"Any additional fees incurred.","$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/additional_fees"},"expires_at":{"description":"(RFC 3339) Quote is invalid after this time.","type":"string","format":"date-time"},"cargo":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo"},"travel_distance":{"$ref":"#/paths/~1v1~1availabilities/get/responses/200/content/application~1json/schema/properties/travel_distance"}}}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","required":["code","message"],"properties":{"code":{"description":"Error category","type":"string","enum":["BAD_REQUEST","RESOURCE_NOT_FOUND","INTERNAL_ERROR","CONFLICT"]},"message":{"type":"string","description":"Detailed error message"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"409":{"description":"Quote already exists","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}},"/v1/quotes/{id}":{"get":{"description":"Query a previously generated quote.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"getQuoteV1","summary":"Get quote","tags":["v1"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Quote successfully retrieved","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1quotes/post/responses/201/content/application~1json/schema/allOf/0"}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}},"patch":{"description":"Updates an existing quote for a better cost estimation.\n\nPlease note JSON merge patch (RFC 7386) is used.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"updateQuoteV1","summary":"Update quote","tags":["v1"],"parameters":[{"$ref":"#/paths/~1v1~1quotes~1%7Bid%7D/get/parameters/0"}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"anyOf":[{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/allOf/0"}]}}},"required":true},"responses":{"200":{"description":"Quote successfully updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1quotes/post/responses/201/content/application~1json/schema/allOf/0"}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"409":{"description":"Conflict when external reference ID update invalid","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}},"/v1/deliveries":{"get":{"description":"Query a list of previously generated deliveries based on pickup latitude and longitude.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"getDeliveriesByLatLon","summary":"Get deliveries by latitude and longitude","parameters":[{"name":"pickup_lat","in":"query","required":true,"schema":{"type":"number","format":"float","x-go-type":"float64"},"example":51.5074},{"name":"pickup_lon","in":"query","required":true,"schema":{"type":"number","format":"float","x-go-type":"float64"},"example":0.1278}],"tags":["v1"],"responses":{"200":{"description":"Deliveries successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Location not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable, `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}},"post":{"description":"Create a delivery based on a previously generated quote.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"scheduleDeliveryV1","summary":"Schedule delivery","tags":["v1"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pickup_details","dropoff_details"],"properties":{"quote_id":{"type":"string","maxLength":40,"description":"Required if external_ref_id, pickup and dropoff not specified"},"pickup_details":{"type":"object","$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/pickup_details"},"dropoff_details":{"type":"object","$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/dropoff_details"},"external_ref_id":{"description":"Partner external reference unique identifier.\nExample: 6823e970-283d-4bfd-849e-7bcb0e4a1b40\nExample: ref01\nRequired if quote id is not specified.\n","type":"string","minLength":5,"maxLength":128},"external_short_id":{"description":"Human readable short id. Defaults to the 6 last alphanumeric characters of the `external_ref_id` if not specified.","type":"string","maxLength":6},"pickup":{"description":"Required if quote id is not specified.","$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/pickup"},"dropoff":{"description":"Required if quote id is not specified.","$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/allOf/0/properties/dropoff"},"cargo":{"type":"object","properties":{"volume":{"description":"Delivery cargo volume.","type":"object","required":["value","unit"],"properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string","enum":["CUBIC CENTIMETERS"]}}},"weight":{"description":"Cargo weight.","type":"object","required":["value","unit"],"properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string","enum":["GRAM"]}}},"value":{"description":"Total delivery monetary value.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/items/items/properties/price"},"items":{"description":"Required to receive a more accurate delivery fee.","type":"array","items":{"type":"object","properties":{"name":{"type":"string","maxLength":100},"external_id":{"description":"External item ID.","type":"string","maxLength":40},"restricted_categories":{"description":"Restricted category list if applicable.","type":"array","items":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/restricted_categories/items"}},"minimum_age":{"description":"Age verification if applicable.","type":"integer","format":"int64"},"hide":{"description":"Required set to true if item not to be displayed to rider.","type":"boolean","default":false},"quantity":{"type":"integer","format":"int64"},"price":{"type":"object","required":["fractional","currency"],"properties":{"fractional":{"description":"Amount fractional in the currency's smallest subunit, e.g. pence for GBP.","type":"integer","format":"int64"},"currency":{"type":"string","enum":["GBP","EUR"]}}},"volume":{"description":"Item volume, required if total delivery volume not specified.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/volume"},"weight":{"description":"Item weight, required if total delivery weight not specified.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/weight"},"dimensions":{"description":"Item dimensions (height x length x width).","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/dimensions"}}}},"dimensions":{"description":"Package dimensions (height x length x width).","type":"object","required":["length","width","height"],"properties":{"length":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/dimensions/properties/width"},"width":{"type":"object","required":["value","unit"],"properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string","enum":["CM"]}}},"height":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/dimensions/properties/width"}}},"restricted_categories":{"description":"Restricted category list if applicable. Is superseded by the restricted categories on the item level if provided.\nIf the item level restriction is set to TOBACCO and the cargo level is set to ALCOHOL, we will consider TOBACCO the restricted category to be applied.\n","type":"array","items":{"type":"string","enum":["ALCOHOL","ADULT","TOBACCO","FROZEN","CHILLED","VAPE","CBD","OTCMEDICINE"]}}}},"features":{"description":"Feature to apply to the delivery","type":"array","items":{"type":"string","enum":["RETURNABLE"]}}}}}},"required":true},"responses":{"201":{"description":"Delivery successfully scheduled","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema"}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable, `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}},"/v1/deliveries/{id}":{"get":{"description":"Query a previously generated delivery.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"getDeliveryV1","summary":"Get delivery","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"tags":["v1"],"responses":{"200":{"description":"Delivery successfully retrieved","content":{"application/json":{"schema":{"type":"object","required":["dropoff","pickup","external_ref_id","external_short_id","quote_id","id","fee","status","pickup_details","dropoff_details","travel_distance"],"properties":{"id":{"description":"Delivery ID.","type":"string"},"quote_id":{"description":"Quote ID.","type":"string"},"external_ref_id":{"description":"Partner external reference ID.","type":"string"},"external_short_id":{"description":"Human readable short id. Defaults to the 6 last alphanumeric characters of the `external_ref_id` if not specified.","type":"string"},"pickup":{"type":"object","required":["location","name"],"properties":{"location":{"type":"object","required":["lat","lon","address"],"properties":{"lat":{"description":"Location latitude.","type":"number","format":"double","minimum":-90,"maximum":90},"lon":{"description":"Location longitude.","type":"number","format":"double","minimum":-180,"maximum":180},"address":{"type":"object","required":["line1","postcode","city"],"properties":{"city":{"type":"string","maxLength":100},"line1":{"description":"Street address, company name, etc.","type":"string","maxLength":150,"minLength":1},"line2":{"description":"Apartment, suite, unit, building, floor, etc.","type":"string","maxLength":150},"postcode":{"description":"Location postcode, zipcode or other address code.","type":"string","maxLength":10,"minLength":1}}}}},"name":{"description":"Pickup preferred name/business name. This will be the site name displayed to the rider and is important for the rider to correctly identify the pickup point.","type":"string","maxLength":100,"minLength":1}}},"pickup_details":{"type":"object","required":["ready_at"],"properties":{"ready_at":{"description":"(RFC 3339) Pickup ready at time.","type":"string","format":"date-time"},"phone_number":{"description":"Best pickup contact phone number.","type":"string","pattern":"^(\\+?\\d{1,4}[\\s-]?)?(\\(?\\d{1,4}\\)?[\\s-]?)?[\\d\\s-]{5,15}$","example":"+1 (234) 567-8901"},"email":{"description":"Pickup contact email.","type":"string","maxLength":100},"notes":{"description":"Any specific instructions (door codes etc ...) for pickup.","type":"string","maxLength":250}}},"dropoff":{"type":"object","required":["min_eta","max_eta","location","name"],"properties":{"location":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/pickup/properties/location"},"name":{"description":"Dropoff preferred name/business name.","type":"string","maxLength":100,"minLength":1},"min_eta":{"description":"(RFC 3339) Minimum ETA before dropoff based on quote request time.","type":"string","format":"date-time"},"max_eta":{"description":"(RFC 3339) Maximum ETA before dropoff based on quote request time.","type":"string","format":"date-time"}}},"dropoff_details":{"type":"object","required":["phone_number"],"properties":{"phone_number":{"description":"Best dropoff contact phone number.","type":"string","pattern":"^(\\+?\\d{1,4}[\\s-]?)?(\\(?\\d{1,4}\\)?[\\s-]?)?[\\d\\s-]{5,15}$","example":"+1 (234) 567-8901"},"contact_free":{"description":"Set to true if contact free dropoff required.","type":"boolean","x-oapi-codegen-extra-tags":{"validate":"excluded_with_if_true=Verification"}},"verification":{"description":"If specified, verification procedure for delivery handover.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/dropoff_details/properties/return_verifications/items"},"return_verifications":{"description":"List of verification procedures for return deliveries in case the rider cannot perform the delivery and needs to return it to the pickup site.","type":"array","items":{"type":"object","required":["type"],"properties":{"type":{"description":"Verification type (can be code etc.)","type":"string","enum":["CODE","PHOTO"]},"value":{"description":"Verification to be provided (code value etc.). Only 2 digit values are currently supported for the CODE type.","type":"string"}}}},"email":{"description":"Dropoff contact email.","type":"string","maxLength":100},"notes":{"description":"Any specific instructions (door codes etc ...) for dropoff.","type":"string","maxLength":250}}},"fee":{"description":"Total net delivery fee.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/items/items/properties/price"},"additional_fees":{"description":"Any additional fees incurred.","type":"object","properties":{"return_fee":{"description":"Total net delivery return fee.","$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo/properties/items/items/properties/price"}}},"cargo":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/cargo"},"status":{"type":"object","required":["effective_at","status"],"properties":{"effective_at":{"description":"(RFC 3339) Status effective at time.","type":"string","format":"date-time"},"status":{"description":"Status code.","type":"string","enum":["UNKNOWN","ACTIVE","DELIVERED","PARTIALLY_DELIVERED","CANCELLED","UNFULFILLED","REQUESTED"]},"reason":{"description":"Required if failed status.","type":"string","enum":["UNKNOWN","CANCELLED_BY_PARTNER","CANCELLED_AUTOMATICALLY","OTHER","CANNOT_FIND_CUSTOMER","LEFT_AT_SAFE_PLACE","COMPLETING_DELIVERY","DELIVERY_LOCATION_ISSUE","HANDOVER_CODE_MISMATCH","ID_CHECK_FAILURE","INCIDENT","UNEXPECTED_DELAY","VEHICLE_PROBLEMS","COLLECTING_DELIVERY","CARGO_ISSUE","LEFT_AT_DOORSTEP","LEFT_AT_CONCIERGE","LEFT_AT_FRONT_GARDEN","LEFT_AT_NEIGHBOUR","LEFT_AT_OTHER_LOCATION","LEFT_AT_RECEPTION"]}}},"riders":{"description":"Riders details for the ongoing delivery","type":"array","items":{"type":"object","required":["id","status","delivery_type"],"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["EN_ROUTE_TO_SITE","ARRIVED_AT_SITE","CONFIRMED_AT_SITE","EN_ROUTE_TO_CUSTOMER","ARRIVED_AT_CUSTOMER","CONFIRMED_AT_CUSTOMER","COMPLETED_DELIVERY","FAILED_DELIVERY"]},"delivery_type":{"type":"string","enum":["MAIN","RETURN"]},"reason":{"description":"Required if failed status.","$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/responses/200/content/application~1json/schema/properties/status/properties/reason"},"location":{"type":"object","required":["lat","lon"],"properties":{"lat":{"description":"Location latitude.","type":"number","format":"double","minimum":-90,"maximum":90},"lon":{"description":"Location longitude.","type":"number","format":"double","minimum":-180,"maximum":180}}},"pickup_eta":{"description":"(RFC 3339) Dynamic pickup ETA for the rider to reach the pickup location\nUpdated frequently until the rider is confirmed at the pickup location\n","type":"string","format":"date-time"}}}},"travel_distance":{"$ref":"#/paths/~1v1~1availabilities/get/responses/200/content/application~1json/schema/properties/travel_distance"},"features":{"description":"Feature to apply to the delivery","type":"array","items":{"$ref":"#/paths/~1v1~1deliveries/post/requestBody/content/application~1json/schema/properties/features/items"}},"delivery_files":{"description":"Files associated with the delivery","type":"array","items":{"type":"object","required":["file_id","rider_id","type"],"properties":{"file_id":{"type":"string"},"rider_id":{"type":"string"},"type":{"type":"string","enum":["DELIVERY_PROOF","CANNOT_FIND_CUSTOMER","LEFT_AT_SAFE_PLACE","DELIVERY_LOCATION_ISSUE","HANDOVER_CODE_MISMATCH"]}}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Delivery not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}},"delete":{"description":"Cancel an ongoing delivery.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"cancelDeliveryV1","summary":"Cancel delivery","parameters":[{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/parameters/0"}],"tags":["v1"],"responses":{"200":{"description":"Delivery successfully cancelled"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Delivery not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}},"/v1/deliveries/{id}/photos/{file_id}":{"get":{"description":"Get a delivery photo.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"getDeliveryPhotoV1","summary":"Get delivery photo","parameters":[{"$ref":"#/paths/~1v1~1deliveries~1%7Bid%7D/get/parameters/0"},{"name":"file_id","in":"path","required":true,"schema":{"type":"string"}}],"tags":["v1"],"responses":{"200":{"description":"Delivery photo successfully retrieved","content":{"application/json":{"schema":{"type":"object","required":["url","expires_at"],"properties":{"url":{"description":"Photo URL.","type":"string"},"expires_at":{"description":"(RFC 3339) Photo expires at.","type":"string","format":"date-time"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Delivery or photo not found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable. `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}},"/v1/availabilities":{"get":{"description":"Check availability based on pickup and dropoff locations.\n\n**Rate Limit**\n\nThis endpoint is rate limited. Rate limit to be communicated in response headers.\n","operationId":"getAvailabilityV1","summary":"Get Availability","parameters":[{"name":"pickup_lat","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"pickup_lon","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"dropoff_lat","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"dropoff_lon","in":"query","required":true,"schema":{"type":"number","format":"double"}}],"tags":["v1"],"responses":{"200":{"description":"Availability successfully computed.","content":{"application/json":{"schema":{"type":"object","required":["available","travel_distance"],"properties":{"available":{"description":"Is the delivery possible for pickup/dropoff locations","type":"boolean"},"min_eta":{"description":"(RFC 3339) Minimum ETA before dropoff based on quote request time.","type":"string","format":"date-time"},"max_eta":{"description":"(RFC 3339) Maximum ETA before dropoff based on quote request time.","type":"string","format":"date-time"},"travel_distance":{"description":"Distance in meters between pickup and dropoff locations.","type":"integer","format":"int64"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}},"503":{"description":"Unavailable, `Retry-After` response header provided","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema"}}}}}}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://auth.developers.deliveroo.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://auth-sandbox.developers.deliveroo.com/oauth2/token","scopes":{}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}