{"openapi":"3.1.0","info":{"description":"Orders API documentation.","version":"1.0","title":"Orders API"},"tags":[{"name":"Webhooks"},{"name":"Endpoints V1"},{"name":"Endpoints V2"}],"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api.developers.deliveroo.com/order/","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com/order/","description":"Sandbox"}],"paths":{"/v1/deliveroo/order-events":{"post":{"summary":"Order Events Webhook Callback","description":"This webhook is used to let you know that there's a new order or a status update of an existing order. In order to receive these events, you need to have a configured Order Events webhook. If we receive an error in the response then we'll try to retry the callback:\n\n - up to 6 minutes for ASAP orders,\n - up to 30 minutes for scheduled orders,\n\n We share an order event in our payloads. The following are all the valid values for it.\n\n Order Status | Description\n -------------|------------\n placed       | Order is placed in our system.\n rejected     | Order is rejected by site or automatically rejected due to lack of reaction from the restaurant.\n accepted     | Order is accepted by site.\n confirmed    | For scheduled orders only. Site has confirmed that they started preparing the order.\n canceled     | Order was canceled by site or customer.\n\n We'll send you this payload after a new order is placed or updated. This requires a configured Order Events webhook URL.\n\n Keep in mind that while every attempt is made to make callbacks in the order they occurred and in a timely manner, neither can be absolutely guaranteed. It is also possible to receive the same callback more than once. The status log should be treated as the source of truth when it comes to the order of the statuses.\n\n Please consult [Fulfillment Types](doc:fulfillment-types) page in Guides and see examples of requests on the right. See also other order types:\n* [Scheduled Orders](doc:scheduled-orders)\n* [Canceled Orders](doc:cancelled-orders)\n* [Remake Orders](doc:remake-orders)\n\n> ❗️ Order Preparation\n>\n> - All orders must be accepted (with `accepted` status present in the `status_log` in the event) before they are prepared.\n> - For the vast majority of orders, the time you receive the order will be almost equal to the `start_preparing_at` timestamp.\n> - Sometimes `start_preparing_at` may be far in the future (for example scheduled orders or when the site is close to closing). In these situations we recommend you wait until `start_preparing_at` before printing or showing the order in the kitchen\n> - For the avoidance of doubt: preparation time is inclusive of any time required to accept the order\n","operationId":"order-events-webhook","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/1"},{"in":"header","name":"x-deliveroo-payload-type","description":"Marks what event type is this request. Currently supported values are `event/order.new` and `event/order.status_update`. Please implement it as case-insensitive.","schema":{"type":"string","enum":["event/order.new","event/order.status_update"]},"required":true,"example":"event/order.new"},{"in":"header","name":"x-deliveroo-webhook-version","description":"Marks which version of payload this request is having. Currently, all our payloads are version 1","schema":{"type":"string"},"required":true,"example":"1"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Order Update Event","type":"object","properties":{"event":{"title":"Order Event Type","type":"string","enum":["order.new","order.status_update"]},"body":{"title":"Order Event Body","type":"object","properties":{"order":{"title":"Order","type":"object","properties":{"id":{"title":"Order ID","description":"Unique ID of the order.","type":"string"},"order_number":{"title":"Order Numeric ID","description":"Deliveroo's complete order ID.","type":"string"},"location_id":{"title":"Location ID","description":"The in-store system location ID.","type":"string"},"brand_id":{"title":"Brand ID","description":"The unique identifier for the brand.","type":"string"},"display_id":{"title":"Display ID","description":"The ID we give to the site/rider/customer to easily identify the order.","type":"string"},"status":{"allOf":[{"description":"Current status of the order. Can be placed, accepted, confirmed (for scheduled orders), rejected or canceled."},{"type":"string","title":"Status","enum":["pending","placed","accepted","confirmed","rejected","canceled","delivered"]}]},"status_log":{"description":"List of all statuses of the order with status type and time of occurrence.","type":"array","items":{"title":"Status Log Item","type":"object","properties":{"at":{"description":"Date and time in the ISO-8601 format when the order event changed.","type":"string"},"status":{"allOf":[{"description":"Status of the order. Can be pending, placed, accepted, confirmed (for scheduled orders), rejected or canceled."},{"$ref":"#/paths/~1v1~1deliveroo~1order-events/post/requestBody/content/application~1json/schema/properties/body/properties/order/properties/status/allOf/1"}]}}}},"fulfillment_type":{"title":"Fulfillment Type","description":"Who will be collecting the order. Can be `deliveroo`, `restaurant`, `customer`, `table_service`, `autonomous`.","type":"string","enum":["deliveroo","restaurant","customer","table_service","autonomous"]},"order_notes":{"title":"Order Notes","description":"Order notes from the customer.","type":"string"},"cutlery_notes":{"title":"Cutlery Notes","description":"Cutlery notes from the customer.","type":"string"},"asap":{"description":"False if the order is scheduled for a later time or the next day.","type":"boolean"},"prepare_for":{"title":"Prepare For","description":"Date and time in the ISO-8601 format when the site should have the order prepared for rider to pickup.","type":"string"},"table_number":{"title":"Table Number","description":"Number of customer's table. Only applies to Table Service orders.","type":"string"},"subtotal":{"allOf":[{"description":"Subtotal of items, excluding fees and discounts."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"delivery":{"allOf":[{"description":"Information related to delivery. Only applies to restaurant fulfilled orders."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/delivery"}]},"total_price":{"allOf":[{"description":"Total price for the order (including fees and discounts deducted). For Deliveroo fulfilled orders, fees = restaurant tip + item fees. For Restaurant fulfilled orders, fees = delivery fee + restaurant tip + item fees and surcharge."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"partner_order_subtotal":{"allOf":[{"description":"The subtotal of the order after substitutions, excluding fees and discounts. I.e. the total price of menu_unit_price items and their modifiers."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"partner_order_total":{"allOf":[{"description":"The total of the order after substitutions, including fees and discounts. I.e. the total price of menu_unit_price items and their modifiers. For Deliveroo fulfilled orders, fees = restaurant tip + item fees. For Restaurant fulfilled orders, fees = delivery fee + restaurant tip + item fees and surcharge."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"offer_discount":{"allOf":[{"description":"Discount to be applied to the total price of the order (value)."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"cash_due":{"allOf":[{"description":"The amount the customer needs to pay in cash when the delivery arrives."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"bag_fee":{"allOf":[{"description":"The amount for the bag fee that customer needs to pay."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"surcharge":{"allOf":[{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"},{"description":"The fee that makes up the difference if the total price is below the minimum order value."}]},"fee_breakdown":{"description":"This contains a list of individual fee descriptions.","type":"array","items":{"allOf":[{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/fee_breakdown/items"}]}},"items":{"description":"An array of the Items in the order.","type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/items/items"}},"start_preparing_at":{"title":"Start Preparing At","description":"Date and time in the ISO-8601 format when the site should start preparing the order.","type":"string"},"confirm_at":{"title":"Confirm At","description":"Date and time in the ISO-8601 format for when the site should confirm scheduled orders by. May still be NULL for scheduled orders, if the order is placed close to the scheduled delivery time (and the site must start preparing immediately). Only applies to scheduled order type.","type":"string"},"promotions":{"description":"Contains the promotions associated with the order. If the order does not have a promotion applied then this section is not in payload.","type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/promotions/items"}},"remake_details":{"title":"Remake Details","description":"Details related to parent order.","type":"object","properties":{"parent_order_id":{"title":"Parent Order ID","description":"Unique ID of the original order.","type":"string"},"fault":{"title":"Fault","description":"Defines who caused the redelivery, and affects the total_price. Possible values are \"deliveroo\" (total_price will be 100%) and \"restaurant\" (total_price will be 0).","type":"string","enum":["deliveroo","restaurant"]},"order_cost":{"title":"Order Cost","description":"The price of the order before fault is applied.","type":"number"}}},"is_tabletless":{"title":"Is Tablet-less","description":"Flags if site is using tablet or not.","type":"boolean"},"meal_cards":{"type":"array","items":{"allOf":[{"title":"Meal Card","type":"object","properties":{"provider":{"description":"Meal card provider used in order. Please mind that the list is not conclusive.","type":"string","enum":["EDENRED","SODEXO","APETIZ","SWILE","UP"]},"amount":{"description":"Amount for order paid via meal card. Represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"integer","format":"int64"}}}]}},"customer":{"allOf":[{"title":"Customer Details"},{"description":"Information about the customer."},{"title":"Customer Details","description":"Information about the customer.","type":"object","properties":{"first_name":{"title":"First Name","description":"Customer first name. Deliveroo fulfilled and pickup orders only.","type":"string"},"contact_number":{"title":"Contact Number","description":"A third party number used to contact customers. Deliveroo fulfilled and pickup orders only.","type":"string"},"contact_access_code":{"title":"Contact Access Code","description":"The access code needed to use the third party number to contact customers. Deliveroo fulfilled and pickup orders only.","type":"string"},"order_frequency_at_site":{"title":"Order Frequency At Site","description":"Customer order frequency at a given site. This is free text and shouldn't be considered an enum.","type":"string"},"loyalty":{"title":"Loyalty","description":"Loyalty information attached to the order","type":"object","properties":{"card_number":{"title":"Card Number","description":"Loyalty card number of the user","type":"string","deprecated":true},"loyalty_id":{"title":"Loyalty ID","description":"Loyalty identifier (card number or email) of the user","type":"string"}}}}}]}}}}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"servers":[{"url":"https://your-server-url.com/api"}]}},"/v1/deliveroo/rider-events":{"post":{"summary":"Rider Events Webhook Callback","description":"This webhook is used to let you know that there's an update on rider status. In order to receive these events, you need to have a configured Rider Events webhook. If we receive an error in the response then we'll try to retry the callback up to 10 minutes. Usually a regular rider status lifecycle is `rider_assigned` => `rider_arrived` (at the restaurant).\n\nThe following are all the valid values for a rider status.\n\n Rider Status                  | Description\n ------------------------------|------------\n rider_assigned                | Rider was assigned to the order.\n rider_arrived                 | Rider nearby to the site.\n rider_confirmed_at_restaurant | Rider arrival at the site confirmed on rider's app.\n rider_unassigned              | Rider was unassigned from the order.\n rider_in_transit              | Rider is on the way to the customer.\n Keep in mind that while every attempt is made to make callbacks in the order they occurred and in a timely manner, neither can be absolutely guaranteed. It is also possible to receive the same callback more than once. The status log should be treated as the source of truth when it comes to the order of the statuses.\n","operationId":"rider-events-webhook","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/1"},{"in":"header","name":"x-deliveroo-payload-type","description":"Marks what event type is this request. Currently supported values is `event/rider.status_update`. Please implement it as case-insensitive.","schema":{"type":"string","enum":["event/rider.status_update"]},"required":true,"example":"event/rider.status_update"},{"$ref":"#/paths/~1v1~1deliveroo~1order-events/post/parameters/3"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Rider Status Event","type":"object","properties":{"event":{"title":"Rider Status Event Type","type":"string","enum":["rider.status_update"],"properties":{"event":{"type":"string"}}},"body":{"title":"Rider Status Body","type":"object","properties":{"order_id":{"title":"Order ID","description":"Order's unique identification.","type":"string"},"stacked_with":{"title":"Stacked With","description":"Array containing unique ids of orders stacked with this order.","type":"array","items":{"title":"Order ID","description":"Unique ID of the order.","type":"string"}},"riders":{"title":"Riders","description":"Array containing one or more rider objects.","type":"array","items":{"type":"object","properties":{"estimated_arrival_time":{"title":"Estimated Arrival Time","description":"Estimated time when the rider will arrive at the site.","type":"string"},"at":{"title":"At","description":"When rider's information was updated.","type":"string"},"accuracy_in_meters":{"title":"Accuracy in Meters","description":"Rider's location accuracy in meters.","type":"integer"},"lat":{"title":"Latitude","description":"Rider's location latitude.","type":"number"},"lon":{"title":"Longitude","description":"Rider's location longitude.","type":"number"},"full_name":{"title":"Full Name","description":"Always sent as \"Deliveroo Rider” as rider anonymization has been enabled","default":"Deliveroo Rider","enum":["Deliveroo Rider"],"type":"string"},"contact_number":{"title":"Contact Number","description":"A third party number used to contact riders.","type":"string"},"bridge_code":{"title":"Bridge Code","description":"When rider's have their phone number masked, this value should be used when calling their temporary phone number.","type":"string"},"bridge_number":{"title":"Bridge Number","description":"As riders can have their personal phone numbers protected (masked), a temporary phone number and code will be assigned to bridge number.","type":"string"},"status_log":{"description":"Array containing one or more status_log object.","type":"array","items":{"allOf":[{"title":"Rider Status Log Item","type":"object","properties":{"at":{"description":"Timestamp when the given event occurred in ISO-8601 format.","type":"string"},"status":{"description":"Can be either `rider_assigned`, `rider_arrived`, `rider_confirmed_at_restaurant`, rider_in_transit or `rider_unassigned`.","type":"string","enum":["rider_assigned","rider_arrived","rider_confirmed_at_restaurant","rider_unassigned","rider_in_transit"]}}}]}}}}}}}}},"examples":{"RiderStatusUpdateEvent":{"summary":"Rider Status Update Event","value":{"event":"rider.status_update","body":{"order_id":"gb:f791e7af-3114-4414-88db-57092195cb60","stacked_with":[],"riders":[{"estimated_arrival_time":"2022-03-02T15:13:11Z","at":"2022-03-02T15:13:25.040753653Z","accuracy_in_meters":14,"lat":51.5456430966144,"lon":-0.100221291077752,"full_name":"Deliveroo Rider","contact_number":"442039605334 (956836621)","bridge_code":"956836621","bridge_number":"442039605334","status_log":[{"at":"2022-03-02T15:12:55.469Z","status":"rider_assigned"},{"at":"2022-03-02T15:13:11.901Z","status":"rider_arrived"},{"at":"2022-03-02T15:13:18.316Z","status":"rider_confirmed_at_restaurant"},{"at":"2022-03-02T15:13:24.576Z","status":"rider_in_transit"},{"at":"2022-03-02T15:13:24.576Z","status":"rider_unassigned"}]}]}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"servers":[{"url":"https://your-server-url.com/api"}]}},"/v1/deliveroo/new_order":{"post":{"operationId":"new-order-event-webhook","summary":"POS Webhook - New Order","description":"**This webhook is deprecated, please see [Order Events webhook](ref:order-events-webhook-1)**\n\n Here you'll find the keys and values you can expect in payloads for new orders and remakes. Your webhook should listen for these events, triggered when the order is accepted by the site on their deliveroo tablet, via Picking API or via the Order Update API endpoint.\n\n New Deliveroo order payloads **can vary** depending on fulfillment types.\n\n Please consult [Fulfillment Types](doc:fulfillment-types) page in Guides and see examples of requests on the right. See also other order types:\n* [Scheduled Orders](doc:scheduled-orders)\n* [Remake Orders](doc:remake-orders)\n\n We're using same webhook url for `new_order` and `cancel_order` event.\n","tags":["Webhooks"],"parameters":[{"in":"header","name":"x-deliveroo-sequence-guid","description":"Deliveroo Sequential globally unique identifier (GUID). Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"1499765769"},{"in":"header","name":"x-deliveroo-hmac-sha256","description":"On registration, we'll provide you with a webhook secret. We'll use the webhook secret and a sequential globally unique identifier (GUID) to generate a hash of the order payload. When you receive a POST request, you will be able to compute a hash and verify that it's a genuine, authorized request sent from Deliveroo. Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"cc28251639033853f1cd1f8bde5a75cefba53c7c991d2b0db848b6747e258678"}],"deprecated":true,"requestBody":{"description":"New order event","content":{"application/json":{"schema":{"title":"Order Events Callback","type":"object","properties":{"event":{"title":"Event type","description":"The name of the event. In this case new_order","type":"string"},"location_id":{"title":"Location ID","description":"The in-store system location ID","type":"string"},"restaurant_acknowledged_at":{"title":"Site Acknowledged At","description":"Date and time when the site accepted the order on the Deliveroo tablet in the ISO-8601 format","type":"string"},"order":{"title":"Order Body","type":"object","properties":{"id":{"title":"ID","description":"Unique ID of the order.","type":"string"},"display_id":{"title":"Display ID","description":"The ID we give to the site/rider/customer to easily identify the order.","type":"string"},"order_number":{"title":"Order Number","description":"Deliveroo's complete order ID. This field will be deprecated in future. It is a String field and shouldn't be parsed as numeric. It contains string values of unsigned int64.","type":"string"},"total_price":{"allOf":[{"description":"The amount paid by the customer, Including item deposit fees."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"partner_order_total":{"allOf":[{"description":"The subtotal of the order after substitutions + item deposit fees, excluding other fees and discounts. I.e. the total price of menu_unit_price items and their modifiers + item deposit fees."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"fee_breakdown":{"description":"This contains a list of individual fee descriptions.","type":"array","items":{"title":"FeeDescription","description":"Describes the part of the overall fees applied to the order","type":"object","properties":{"type":{"description":"The value of the item fee type represent type of fees applied (e.g. DEPOSIT_FEE).","type":"string","enum":["DEPOSIT_FEE"]},"amount":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}},"bundle_amount":{"allOf":[{"description":"Myltibuy offer amount value"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"quantity":{"description":"Number of items in the bundle","type":"integer"}}}},"items":{"description":"An array of the Items in the order.","type":"array","items":{"title":"Order Item","type":"object","properties":{"pos_item_id":{"title":"In-Store System Item ID","description":"The ID of the item in the in-store system. Value can also be null. If null, this will generate an `unknown_pos_item_id_error` field in the order payload as well.","type":"string"},"name":{"title":"Name","description":"Name of the item.","type":"string"},"operational_name":{"title":"Operational Name","description":"Operational name the site uses in-house for the item.","type":"string"},"unit_price":{"allOf":[{"title":"Unit Price"},{"description":"Price per unit."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"total_price":{"allOf":[{"title":"Total Price"},{"description":"Total price of the item, including unit price and the modifiers' price."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"menu_unit_price":{"allOf":[{"title":"Menu Unit Price"},{"description":"Price per unit according to the menu (can be different from Unit Price in case of more expensive substitutions, for example)"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"quantity":{"title":"Quantity","description":"The quantity ordered.","type":"integer"},"item_fees":{"type":"array","items":{"allOf":[{"title":"Deposit return scheme"},{"description":"Return eligible containers to a return point to get your deposit refund."},{"title":"item_fee","type":"object","properties":{"type":{"description":"The value of the item fee type represent type of fees applied (e.g. DEPOSIT_FEE).","type":"string","enum":["DEPOSIT_FEE"]},"cost_per_unit":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}}}}]}},"modifiers":{"title":"Modifiers","description":"Predefined preparation instructions that must be communicated to kitchen as well as food or drink items that might accompany a menu item, e.g. No tomato. You can have modifiers of modifiers.","type":"array","items":{"title":"Order Item","type":"object","properties":{"pos_item_id":{"title":"In-Store System Item ID","description":"The ID of the item in the in-store system. Value can also be null. If null, this will generate an unknown_pos_item_id_error field in the order payload as well.","type":"string"},"quantity":{"title":"Quantity","description":"The item's quantity.","type":"integer"},"name":{"title":"Name","description":"Name of the item.","type":"string"},"operational_name":{"title":"Operational Name","description":"Operational name the site uses in-house for the item.","type":"string"},"unit_price":{"allOf":[{"title":"Unit Price"},{"description":"Price per unit."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"menu_unit_price":{"allOf":[{"title":"Menu Unit Price"},{"description":"Price per unit according to the menu (can be different from Unit Price in case of more expensive substitutions, for example)"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"total_price":{"allOf":[{"title":"Total Price"},{"description":"Total price for the item & modifiers (without discounts)."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"discount_amount":{"allOf":[{"title":"Discount Amount"},{"description":"The discounted amount applied."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"item_fees":{"type":"array","items":{"allOf":[{"title":"Deposit return scheme"},{"description":"Return eligible containers to a return point to get your deposit refund."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/items/items/properties/item_fees/items/allOf/2"}]}},"modifiers":{"title":"Modifiers","description":"Predefined preparation instructions that must be communicated to kitchen as well as food or drink items that might accompany a menu item, e.g. No tomato. You can have modifiers of modifiers.","type":"array"}}}},"discount_amount":{"allOf":[{"title":"Discount Amount"},{"description":"The discounted amount applied."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]}}}},"asap":{"title":"ASAP","description":"False if the order is scheduled for a later time or the next day.","type":"boolean"},"notes":{"title":"Notes","description":"Allergy notes from the customer.","type":"string","example":"No CUTLERY"},"fulfillment_type":{"title":"Fulfillment Type","description":"Who will be collecting the order. Can be `deliveroo`, `restaurant`, `customer`, `table_service`, `autonomous`","type":"string","enum":["deliveroo","restaurant","customer","table_service","autonomous"]},"cash_due":{"allOf":[{"description":"The amount the customer needs to pay in cash when the delivery arrives."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"surcharge":{"allOf":[{"description":"The fee that makes up the difference if the total price is below the minimum order value."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"bag_fee":{"allOf":[{"description":"The bag fee amount for the order, paid by the partner."},{"title":"Monetary amount","type":"object","properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}}]},"offer_discount":{"allOf":[{"description":"Discount to be applied to the total price of the order (value)."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"pickup_at":{"title":"Pickup At","description":"The time the Deliveroo rider will pick up the order in ISO-8601 format.","type":"string"},"delivery":{"title":"Delivery Details","type":"object","properties":{"delivery_fee":{"allOf":[{"description":"The cost of delivery service."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"delivery_notes":{"title":"Delivery Notes","description":"Customer provided delivery notes.","type":"string"},"line1":{"title":"Line1","description":"First line of address info the customer enters at checkout like street name and number.","type":"string"},"line2":{"title":"Line2","description":"Second line of address info the customer enters at checkout like building number.","type":"string"},"city":{"title":"City","description":"The town or city the customer enters at checkout.","type":"string"},"postcode":{"title":"Postcode","description":"The postcode of the town or city the customer enters at checkout.","type":"string"},"contact_number":{"title":"Contact Number","description":"A third party number used to contact customers.","type":"string"},"contact_access_code":{"title":"Contact Access Code","description":"The access code needed to use the third party number to contact customers.","type":"string"},"deliver_by":{"title":"Deliver By","description":"Date and time when the order should be delivered by in the ISO-8601 format.","type":"string"},"customer_name":{"title":"Customer Name","description":"First name and the first letter of surname of the customer.","type":"string"},"location":{"title":"Location","description":"Delivery location object.","type":"object","properties":{"latitude":{"title":"Latitude","description":"Delivery's location latitude.","type":"number"},"longitude":{"title":"Longitude","description":"Delivery's location longitude.","type":"number"}}}}},"promotions":{"description":"Contains the promotions associated with the order. If the order does not have a promotion applied then this section is not in payload.","type":"array","items":{"title":"Promotion Item","type":"object","properties":{"id":{"title":"ID","description":"Unique ID of the promotion.","type":"string"},"type":{"title":"Type","description":"The type of promotion applied to the offer. It can be percentage_off_on_items or percentage_off_on_basket.","type":"string","enum":["percentage_off_on_items","percentage_off_on_basket"]},"value":{"title":"Value","description":"A integer representing the percentage of discount applied to the order.","type":"integer"},"amount":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}},"pos_item_ids":{"title":"In-Store System Item IDs","description":"A list of items in the order affected by the promotion.","type":"array","items":{"type":"object","properties":{"id":{"title":"ID","description":"The ID of the item in the in-store system.","type":"string"}}}}}}}}},"remake_details":{"title":"Remake Details","type":"object","properties":{"parent_order_id":{"title":"Parent Order ID","description":"Unique ID of the original order.","type":"string"},"fault":{"title":"Fault","description":"Defines who caused the redelivery, and affects the total_price. Possible values are \"deliveroo\" (total_price will be 100%) and \"restaurant\" (total_price will be 0).","type":"string","enum":["deliveroo","restaurant"]},"order_cost":{"title":"Order Cost","description":"The price of the order before fault is applied.","type":"number"}}}}},"examples":{"NewOrderDeliverooFulfilled":{"summary":"New Order, Deliveroo Fulfilled","value":{"event":"new_order","location_id":"05VIN","restaurant_acknowledged_at":"2018-12-04T11:39:41Z","order":{"id":"gb:df8849ae-5261-446d-9481-beb53a5cac35","display_id":"2206","order_number":"9128102206","total_price":{"fractional":1375,"currency_code":"EUR"},"partner_order_total":{"fractional":1375,"currency_code":"EUR"},"fee_breakdown":[{"type":"DEPOSIT_FEE","amount":{"fractional":50,"currency_code":"EUR"}}],"items":[{"pos_item_id":"1666","unit_price":{"fractional":595,"currency_code":"EUR"},"quantity":1,"item_fees":[{"type":"DEPOSIT_FEE","cost_per_unit":{"fractional":25,"currency_code":"EUR"}}],"modifiers":[{"pos_item_id":"11010049","unit_price":{"fractional":95,"currency_code":"EUR"},"menu_unit_price":{"fractional":95,"currency_code":"EUR"},"quantity":1,"modifiers":[],"discount_amount":{"fractional":0,"currency_code":"EUR"},"item_fees":[{"type":"DEPOSIT_FEE","cost_per_unit":{"fractional":25,"currency_code":"EUR"}}]},{"pos_item_id":"109841","unit_price":{"fractional":0,"currency_code":"EUR"},"menu_unit_price":{"fractional":0,"currency_code":"EUR"},"quantity":1,"modifiers":[],"discount_amount":{"fractional":0,"currency_code":"EUR"}}],"discount_amount":{"fractional":119,"currency_code":"EUR"}},{"pos_item_id":"11118914","unit_price":{"fractional":320,"currency_code":"EUR"},"quantity":1,"modifiers":[],"discount_amount":{"fractional":0,"currency_code":"EUR"}},{"pos_item_id":"11123102","unit_price":{"fractional":365,"currency_code":"EUR"},"quantity":1,"modifiers":[],"discount_amount":{"fractional":0,"currency_code":"EUR"}}],"asap":true,"notes":"PAS DE COUVERTS","fulfillment_type":"deliveroo","cash_due":{"fractional":0,"currency_code":"EUR"},"bag_fee":{"fractional":0,"currency_code":"EUR"},"offer_discount":{"fractional":0,"currency_code":"EUR"},"pickup_at":"2018-12-04T11:51:22Z","promotions":[{"id":"305ddb7a-e25e-4a6f-944e-68471a754c9e","type":"percentage_off_on_items","value":20,"pos_item_ids":[{"id":"1666"}]}]}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}},"/v1/deliveroo/cancel_order":{"post":{"operationId":"cancel-order-event-webhook","summary":"POS Webhook - Cancel Order","description":"**This webhook is deprecated, please see [Order Events webhook](ref:order-events-webhook-1)**\n\nHere you'll find the keys and values you can expect in payloads for cancelled orders. Your webhook should listen for these events, triggered when the order is accepted by the site on their deliveroo tablet, via Picking API or via the Order Update API endpoint.\n\n Please consult [Fulfillment Types](doc:fulfillment-types) page in Guides and see examples of requests on the right. See also [Canceled Orders](doc:cancelled-orders).\n\nWe're using same webhook url for `new_order` and `cancel_order` event.\n\n\n","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/parameters/1"}],"deprecated":true,"requestBody":{"description":"Cancel order event","content":{"application/json":{"schema":{"title":"Order Events Callback","type":"object","properties":{"event":{"title":"Event type","description":"The name of the event. In this case `cancel_order`.","type":"string"},"location_id":{"title":"Location ID","description":"The in-store system location ID","type":"string"},"cancelled_at":{"title":"Cancelled At","description":"Date and time when the customer cancelled the order in the ISO-8601 format.","type":"string"},"order":{"title":"Cancel Order Body","type":"object","properties":{"id":{"title":"ID","description":"Unique ID of the order.","type":"string"},"order_number":{"title":"Order Number","description":"Deliveroo's complete order ID. This field will be deprecated in future. It is a String field and shouldn't be parsed as numeric. It contains string values of unsigned int64.","type":"string"},"display_id":{"title":"Display ID","description":"The ID we give to the site/rider/customer to easily identify the order.","type":"string"},"pickup_at":{"title":"Pickup At","description":"The time the Deliveroo rider will pick up the order in ISO-8601 format.","type":"string"},"reason":{"title":"Reason","description":"The reason why Deliveroo is cancelling the order. Can be `deliveroo_cancelled`.","type":"string"}}}}},"examples":{"CanceledOrder":{"summary":"Canceled Order","value":{"event":"cancel_order","cancelled_at":"2017-03-20T15:21:00Z","location_id":"33235","order":{"id":"gb:df8849ae-5261-446d-9481-beb53a5cac35","display_id":"1244","order_number":"9128101244","pickup_at":"2017-03-20T16:30:00Z","reason":"deliveroo_cancelled"}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}},"/v1/orders/{order_id}/sync_status":{"parameters":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/parameters/0"}],"post":{"summary":"Create Sync Status for an Order","description":"Use this endpoint to tell us if the order has been successfully sent to the site's in-store system. If the status is `failed`, use the reason and notes values to tell us why.\n\n **If we don't receive your sync status after 3 minutes, or we receive a `failed` status, we'll send a message to the Deliveroo tablet prompting staff to check their in-store system for the order, and enter manually into the till if needed.**\n\n Once we've received a sync status (or the timeout occurs), any attempts to update it will give you an HTTP 409.\n\n **We don't require sync status calls for sites marked as tabletless.** If such a site is using Deliveroo tablet and some orders will fail to be synchronized, the tablet will not show notifications about the failures.\n\n This endpoint is rate limited at 1 request per 10s per order.\n","operationId":"create-sync-status","tags":["Endpoints V1"],"requestBody":{"description":"SyncStatus body.","content":{"application/json":{"schema":{"title":"Sync Status","type":"object","properties":{"status":{"description":"Status of the sync status. Can be `succeeded` or `failed`.","type":"string","enum":["succeeded","failed"]},"reason":{"description":"Required if the status is failed. This explains why the order could not be sent to the in-store system in the site.","type":"string","nullable":true,"enum":["price_mismatched","pos_item_id_mismatched","pos_item_id_not_found","items_out_of_stock","location_offline","location_not_supported","unsupported_order_type","no_webhook_url","webhook_failed","timed_out","other","no_sync_confirmation"]},"notes":{"description":"Free text field to provide more information as to why the order failed to reach the in-store system. e.g. which items or prices were wrong.","type":"string","nullable":true},"occurred_at":{"description":"Time the sync status was received in the ISO-8601 format.","type":"string","format":"date-string","example":"2022-04-12T12:43:00.000Z"}}},"examples":{"SucceededSyncStatus":{"summary":"Sync Status With Succeeded Status","value":{"status":"succeeded","occurred_at":"2022-04-12T12:43:00.000Z"}},"FailedSyncStatus":{"summary":"Sync Status With Failed Status","value":{"status":"failed","reason":"location_offline","occurred_at":"2022-04-12T12:43:00.000Z"}},"FailedSyncStatusWithNotes":{"summary":"Sync Status With Failed Status and notes","value":{"status":"failed","reason":"location_offline","notes":"site is closed","occurred_at":"2022-04-12T12:43:00.000Z"}}}}}},"responses":{"200":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/responses/200"},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"404":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/404"},"409":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/patch/responses/409"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v1/orders/{order_id}/prep_stage":{"parameters":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/parameters/0"}],"post":{"summary":"Create Preparation Stage for an Order","description":"You can use this endpoint if you have a kitchen management system and want to update Deliveroo on how the preparation of the order is going. ([detailed guide](doc:prep-stages-endpoint))","operationId":"create-prep-stage","tags":["Endpoints V1"],"requestBody":{"description":"PrepStage body.","content":{"application/json":{"schema":{"title":"Prep Stage","type":"object","properties":{"stage":{"description":"One of the possible preparation stage:\n - in_kitchen (Cooking has started)\n - ready_for_collection_soon (Food is a maximum of 60s from being ready to collect)\n - ready_for_collection (Food is cooked and packaged)\n - collected (The order has been collected)","type":"string","enum":["in_kitchen","ready_for_collection","ready_for_collection_soon","collected"]},"occurred_at":{"description":"The date/time (ISO-8601) the event occurred in UTC. Value must be within 1 hour in past from current UTC date/time or within 5 minutes in future from current UTC date/time. e.g. if current date/time is 15:00 occurred_at must be between 14:00 and 15:05","type":"string","format":"date-string"},"delay":{"description":"Optional requested delay to prep time. Value must be either 0, 2, 4, 6, 8 or 10.\n\nAny requested delay should be used with the `in_kitchen` prep stage.","type":"integer","format":"uint64"}}},"examples":{"InKitchen":{"summary":"Sets prep stage as in_kitchen","value":{"stage":"in_kitchen","occurred_at":"2022-04-12T12:43:00Z"}}}}}},"responses":{"200":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/responses/200"},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"404":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/404"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v1/orders/{order_id}":{"parameters":[{"name":"order_id","in":"path","required":true,"schema":{"type":"string"},"description":"Related order id in format {market}:{order_uuid}.","example":"gb:07fbb82a-ceb5-43ec-123f-18af89e3380a"}],"patch":{"summary":"Update Order Status","description":"Allows a user to accept or reject an order and confirm a scheduled one. This should be called only once per order and can only be used by partners with a configured Order Events webhook.\n\n On successful response, you'll receive 204 No Content (204 status code and response without body). This will mean that the order status was changed within Deliveroo systems. For failed requests, we'll send the appropriate status code with a message including a reason. If you don't accept an ASAP order in 10 minutes (7 for Kuwait and UAE markets) then it will get rejected automatically.\n\n This endpoint is rate limited at 5 request per min per order.\n\n List of allowed order status transitions:\n\n Transition            | Description\n ----------------------|--------------------\n placed => accepted    | Accepting an order.\n placed => rejected    | Rejecting an order.\n accepted => confirmed | Site confirms an order and is starting to prepare it. Only applies to scheduled order type.\n This endpoint is rate limited at 5 request per min per order.\n","operationId":"patch-order","tags":["Endpoints V1"],"requestBody":{"description":"PATCH Order Request Body","content":{"application/json":{"schema":{"title":"Change Order Status Body","type":"object","properties":{"status":{"title":"Order Status","description":"Operation type. `accepted` to accept an order, `rejected` to reject it or `confirmed` to confirm a scheduled order that was accepted before.","type":"string","enum":["accepted","rejected","confirmed"]},"reject_reason":{"title":"Reject Reason","description":"Reason for order rejection. Can be `closing_early`, `busy`, `ingredient_unavailable` or `other`. Required if status is `rejected`","nullable":true,"type":"string","enum":["closing_early","busy","ingredient_unavailable","other"]},"notes":{"title":"Notes","description":"Free text to give more information why order was rejected.","nullable":true,"type":"string"}}},"examples":{"AcceptOrder":{"summary":"Accept Order Request Body","value":{"status":"accepted"}},"ConfirmOrder":{"summary":"Confirm Order Request Body","value":{"status":"confirmed"}},"RejectOrder":{"summary":"Reject Order Request Body","value":{"status":"rejected","reject_reason":"closing_early","notes":"Closing early due to holidays."}}}}}},"responses":{"204":{"description":"The order was successfully accepted/rejected/confirmed."},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"409":{"description":"We'll return `409 Conflict` status code if sync status was already sent to us or the timeout occurred.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"message":"This sync status has already been finalized","status":"failed","reason":"no_sync_confirmation"}}}]}}},"headers":{}},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}},"get":{"summary":"Get Single Order Details","description":"Use this endpoint to retrieve the details of a single order using the unique order ID.\n\nYou can use this endpoint to check order-level data for any order using its ID. Don't include the curly brackets {} when you make the GET request - just add the order ID.\n","operationId":"get-order","deprecated":true,"tags":["Endpoints V1"],"responses":{"200":{"description":"Successfully returning order details.","content":{"application/json":{"schema":{"title":"Order","type":"object","properties":{"order_id":{"description":"Unique ID of the order.","title":"Order ID","type":"string","example":"gb:07fbb82a-ceb5-43ec-123f-18af89e3380a"},"created_at":{"description":"Time we created the order in the ISO-8601 format.","title":"Created At","type":"string","format":"date-string","example":"2022-04-12T10:39:05.336Z"},"order_events":{"type":"array","items":{"title":"Order Event","type":"object","properties":{"id":{"description":"Unique ID of the order event.","type":"integer"},"event_type":{"description":"Type of order event. Can be `ACCEPTED` or `CANCELLED`","type":"string","enum":["ACCEPTED","CANCELLED"]},"payload":{"description":"Details of the order sent to the in-store system company, used to create the order on their system.","type":"string","format":"json_as_string"},"sent_at":{"description":"Time we sent the order in the ISO-8601 format.","type":"string","format":"date-string"}},"example":{"id":1,"event_type":"ACCEPTED","payload":"{\"event\":\"new_order\",\"location_id\":\"site-A-street-1\",\"restaurant_acknowledged_at\":\"2022-04-12T10:44:32Z\",\"order\":{\"id\":\"gb:07fbb82a-ceb5-43ec-123f-18af89e3380a\",\"display_id\":\"7890\",\"order_number\":\"91234567890\",\"total_price\":{\"fractional\":1770,\"currency_code\":\"GBP\"},\"items\":[{\"pos_item_id\":\"item1\",\"unit_price\":{\"fractional\":630,\"currency_code\":\"GBP\"},\"quantity\":2,\"modifiers\":[{\"pos_item_id\":\"mod1\",\"unit_price\":{\"fractional\":255,\"currency_code\":\"GBP\"},\"quantity\":1,\"modifiers\":[],\"discount_amount\":{\"fractional\":0,\"currency_code\":\"GBP\"}}],\"discount_amount\":{\"fractional\":0,\"currency_code\":\"GBP\"}}],\"asap\":true,\"notes\":\"NO CUTLERY\",\"fulfillment_type\":\"deliveroo\",\"cash_due\":{\"fractional\":0,\"currency_code\":\"GBP\"},\"offer_discount\":{\"amount\":{\"fractional\":0,\"currency_code\":\"GBP\"}},\"pickup_at\":\"2022-04-12T11:00:14Z\"}}","sent_at":"2022-04-12T10:44:35.247Z"}}},"order_sync_statuses":{"type":"array","items":{"allOf":[{"title":"Sync Status","type":"object","properties":{"status":{"description":"Status of the sync status. Can be `succeeded` or `failed`.","type":"string","enum":["succeeded","failed"]},"reason":{"description":"Required if the status is failed. This explains why the order could not be sent to the in-store system in the site.","nullable":true,"type":"string","enum":["price_mismatched","pos_item_id_mismatched","pos_item_id_not_found","items_out_of_stock","location_offline","location_not_supported","unsupported_order_type","no_webhook_url","webhook_failed","timed_out","other","no_sync_confirmation"]},"notes":{"description":"Free text field to provide more information as to why the order failed to reach the in-store system. e.g. which items or prices were wrong.","nullable":true,"type":"string"},"occurred_at":{"description":"Time the sync status was received in the ISO-8601 format.","type":"string","format":"date-string","example":"2022-04-12T12:43:00.000Z"}}},{"properties":{"id":{"description":"Unique ID of the sync status.","type":"integer"},"order_event_id":{"description":"Unique ID of the order event.","type":"integer"}}},{"example":{"id":1,"status":"succeeded","reason":null,"notes":"test notes","order_event_id":1,"occurred_at":"2022-04-12T12:43:00.000Z"}}]}},"order_prep_stages":{"type":"array","items":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D~1prep_stage/post/requestBody/content/application~1json/schema"},{"properties":{"id":{"type":"integer","format":"uint64"}}}]}}}}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"schema":{"allOf":[{"title":"Error","type":"object","properties":{"error":{"description":"Error body","type":"object","properties":{"code":{"description":"HTTP status code description.","type":"string"},"message":{"description":"Details about the error.","type":"string"}}}},"required":["code","message"]},{"example":{"error":{"code":"bad_request","message":"invalid request"}}}]}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}}}]}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}}}]}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}}}]}}}}}}},"/v1/{site_location_id}/orders":{"parameters":[{"name":"site_location_id","in":"path","required":true,"schema":{"type":"string"},"description":"Related site location ID.","example":"site-A-street-1"},{"name":"page","in":"query","required":false,"schema":{"type":"string"},"description":"The parameter used for pagination.","example":"1"},{"name":"date","in":"query","required":false,"schema":{"type":"string"},"description":"Beginning of the time range to search in. ISO8601 compliant date-time string.","example":"2006-01-02T15:04:05Z"},{"name":"date_end","in":"query","required":false,"schema":{"type":"string"},"description":"End of the time range to search in. ISO8601 compliant date-time string.","example":"2006-01-02T15:04:05Z"}],"get":{"summary":"Get Orders","description":"Return a list of up to 100 orders for a given location within a given timeframe.\n\n There are several ways to make the GET request by timeframe. Don't include the curly brackets {} when you make the GET request - just add your in-store system ID and substitute the example dates and times for the ones you want to query.\n\n Example GET requests:\n\n `GET api/v1/{site_location_id}/orders?date=2018-12-11`\n\n See all orders on a certain date. This example would show all orders on 11 December 2018.\n\n `GET api/v1/{site_location_id}/orders?date=2018-12-11T15:00`\n\n See all orders on a certain date from a certain time. This example would show all orders between 15:00 and the end of the day on 11 December 2018.\n\n `GET api/v1/{site_location_id}/orders?date=2018-12-11&date_end=2018-12-13`\n\n See all orders from the beginning of a certain date to the end of another. This example would show all orders from the beginning of 11 December 2018 to the end of 13 December 2018.\n\n `GET api/v1/{site_location_id}/orders?date=2018-12-11T15:00&date_end=2018-12-13`\n\n See orders from a certain time on a certain date to the end of another date. This example would show all orders from 15:00 on 11 December 2018 to the end of the day on 13 December 2018.\n\n `GET api/v1/{site_location_id}/orders?date=2018-12-11T15:00&date_end=2018-12-13T16:21`\n\n See orders from a certain time on a certain date to a certain time on another date. This example would show all orders from 15:00 on 11 December 2018 to 16:21 on 13 December 2018.\n","operationId":"get-orders","deprecated":true,"tags":["Endpoints V1"],"responses":{"200":{"description":"Successfully returning orders details.","content":{"application/json":{"schema":{"title":"Get Orders","type":"object","properties":{"page_details":{"type":"object","properties":{"current_page":{"type":"integer"},"total_pages":{"type":"integer"},"total_results":{"type":"integer"}},"example":{"current_page":1,"total_pages":1,"total_results":22}},"orders":{"type":"array","items":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/200/content/application~1json/schema"}}}}}}},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"404":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/404"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v1/integrator/webhooks/order-events":{"get":{"summary":"Get Integrator's Order Events Webhook Configuration","description":"This endpoint allows you to retrieve order events webhook URL.","operationId":"get-order-events-webhook-config","tags":["Endpoints V1"],"responses":{"200":{"description":"Get webhook URL success response.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/requestBody/content/application~1json/schema/allOf/0"},{"example":{"webhook_url":"https://example.com/webhook"}}]}}}},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}},"put":{"summary":"Change Integrator's Order Events Webhook Configuration","description":"This endpoint allows you to update order events webhook URL.\n\nPlease remember to update site's settings if you're migrating to Order Events Webhook. See [Update Site Config endpoint](ref:put-sites-config).","operationId":"put-order-events-webhook-config","tags":["Endpoints V1"],"requestBody":{"description":"Webhook URL to update.","content":{"application/json":{"schema":{"allOf":[{"title":"Webhook Url","type":"object","properties":{"webhook_url":{"type":"string"}}},{"required":["webhook_url"]},{"description":"URL for the webhook (blank to remove webhook)"},{"example":{"webhook_url":"https://example.com/webhook"}}]}}}},"responses":{"200":{"description":"Everything worked as expected 🎉","content":{"application/json":{"schema":{"title":"200 OK","type":"object"}}}},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v1/integrator/webhooks/rider-events":{"get":{"summary":"Get Integrator's Rider Events Webhook configuration","description":"This endpoint allows you to retrieve rider events webhook URL.","operationId":"get-rider-events-webhook","tags":["Endpoints V1"],"responses":{"200":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/get/responses/200"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}},"put":{"summary":"Change Integrator's Rider Events Webhook configuration","description":"This endpoint allows you to update rider events webhook URL.","operationId":"put-rider-events-webhook","tags":["Endpoints V1"],"requestBody":{"description":"Webhook URL to update.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/requestBody/content/application~1json/schema/allOf/0"},{"required":["webhook_url"]},{"description":"URL for the webhook (blank to remove webhook)"},{"example":{"webhook_url":"https://example.com/webhook"}}]}}}},"responses":{"200":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/responses/200"},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v1/integrator/brands/{brand_id}/sites-config":{"get":{"summary":"Get Integrator's Sites Webhooks Configuration","description":"This endpoint allows you to retrieve the current settings for webhook URL in use for sites under the given brand.","operationId":"get-sites-config","tags":["Endpoints V1"],"parameters":[{"name":"brand_id","in":"path","description":"Brand ID","required":true,"schema":{"type":"string"},"example":123}],"responses":{"200":{"description":"Get sites webhook config success response.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1brands~1%7Bbrand_id%7D~1sites-config/put/requestBody/content/application~1json/schema/allOf/0"},{"example":{"sites":[{"location_id":456,"name":"Example Restaurant","orders_api_webhook_type":"POS_AND_ORDER_EVENTS"}]}}]}}}},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}},"put":{"summary":"Change Integrator's Sites Webhooks Configuration","description":"This endpoint allows you to update the type of webhook used by sites under the integrator brand.\n\nPlease find more information about OAuth Migration in public documentation [here](https://sites.google.com/deliveroo.co.uk/integration-migration/home).","operationId":"put-sites-config","tags":["Endpoints V1"],"parameters":[{"name":"brand_id","in":"path","description":"Brand ID","required":true,"schema":{"type":"string"},"example":123}],"requestBody":{"description":"Sites configuration to update.","content":{"application/json":{"schema":{"allOf":[{"title":"Sites Config","type":"object","properties":{"sites":{"type":"array","items":{"type":"object","properties":{"location_id":{"type":"string"},"orders_api_webhook_type":{"description":"Webhook type","allOf":[{"type":"string","enum":["POS","ORDER_EVENTS","POS_AND_ORDER_EVENTS"]}]},"name":{"type":"string","readOnly":true}}}}}},{"required":["sites"]},{"description":"List of sites to update."},{"example":{"sites":[{"location_id":456,"orders_api_webhook_type":"POS_AND_ORDER_EVENTS"},{"location_id":123,"orders_api_webhook_type":"POS"}]}}]}}}},"responses":{"200":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1order-events/put/responses/200"},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v2/orders/{order_id}":{"parameters":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/parameters/0"}],"get":{"summary":"Get Single Order Details","description":"Use this endpoint to retrieve the details of a single order using the unique order ID.\n\n Deliveroo would not return order data older than 30 days.\n\n You can use this endpoint to check order-level data for any order using its ID.\n\n This endpoint is rate limited at 1 request per second per order.\n","operationId":"get-order-v2","tags":["Endpoints V2"],"responses":{"200":{"description":"Successfully returning order details.","content":{"application/json":{"schema":{"title":"Order","type":"object","properties":{"id":{"title":"Order ID","description":"Unique ID of the order.","type":"string"},"order_number":{"title":"Order Numeric ID","description":"Deliveroo's complete order ID. This field will be deprecated in future. It is a String field and shouldn't be parsed as numeric. It contains string values of unsigned int64.","type":"string"},"location_id":{"title":"Location ID","description":"The in-store system location ID.","type":"string"},"brand_id":{"title":"Brand ID","description":"The unique identifier for the brand.","type":"string"},"display_id":{"title":"Display ID","description":"The ID we give to the site/rider/customer to easily identify the order.","type":"string"},"status":{"allOf":[{"description":"Current status of the order. Can be placed, accepted, confirmed (for scheduled orders), rejected or canceled."},{"title":"Status","type":"string","enum":["pending","placed","accepted","confirmed","rejected","canceled"]}]},"status_log":{"title":"Status Log","description":"List of all statuses of the order with status type and time of occurrence.","type":"array","items":{"title":"Status Log Item","type":"object","properties":{"at":{"description":"Date and time in the ISO-8601 format when the order event changed.","type":"string"},"status":{"allOf":[{"description":"Status of the order. Can be pending, placed, accepted, confirmed (for scheduled orders), rejected or canceled."},{"$ref":"#/paths/~1v2~1orders~1%7Border_id%7D/get/responses/200/content/application~1json/schema/properties/status/allOf/1"}]}}}},"fulfillment_type":{"title":"Fulfillment Type","description":"Who will be collecting the order. Can be `deliveroo`, `restaurant`, `customer`, `table_service`, `autonomous`.","type":"string","enum":["deliveroo","restaurant","customer","table_service","autonomous"]},"order_notes":{"title":"Order Notes","description":"Order notes from the customer.","type":"string"},"cutlery_notes":{"title":"Cutlery Notes","description":"Cutlery notes from the customer.","type":"string"},"asap":{"description":"False if the order is scheduled for a later time or the next day.","type":"boolean"},"prepare_for":{"title":"Prepare For","description":"Date and time in the ISO-8601 format when the site should have the order prepared for rider to pickup.","type":"string"},"table_number":{"title":"Table Number","description":"Number of customer's table. Only applies to Table Service orders.","type":"string"},"subtotal":{"allOf":[{"description":"Subtotal of items, excluding fees and discounts."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"delivery":{"allOf":[{"title":"Delivery"},{"description":"Information related to delivery. Only applies to restaurant fulfilled orders."},{"title":"Delivery Details","description":"Details of the delivery.","type":"object","properties":{"line1":{"title":"Line 1","description":"First line of address info the customer enters at checkout like street name and number.","type":"string"},"line2":{"title":"Line 2","description":"Second line of address info the customer enters at checkout like building number.","type":"string","nullable":true},"city":{"title":"City","description":"The town or city the customer enters at checkout.","type":"string"},"postcode":{"title":"Postcode","description":"The postcode of the town or city the customer enters at checkout.","type":"string"},"contact_number":{"title":"Contact Number","description":"A third party number used to contact customers.","type":"string"},"contact_access_code":{"title":"Contact Access Code","description":"The access code needed to use the third party number to contact customers.","type":"string"},"deliver_by":{"title":"Deliver By","description":"Date and time when the order should be delivered by in the ISO-8601 format.","type":"string"},"customer_name":{"title":"Customer Name","description":"Name and first letter of surname of the customer.","type":"string"},"delivery_fee":{"allOf":[{"title":"Delivery Fee"},{"description":"The cost of delivery service."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"location":{"title":"Location","description":"Delivery location object.","type":"object","properties":{"latitude":{"title":"Latitude","description":"Delivery's location latitude.","type":"number"},"longitude":{"title":"Longitude","description":"Delivery's location longitude.","type":"number"}}},"note":{"title":"Note","description":"Customer provided delivery notes.","type":"string"}}}]},"total_price":{"allOf":[{"title":"Total Price"},{"description":"Total price for the order (including fees and discounts deducted). For Deliveroo fulfilled orders, fees = restaurant tip + item fees. For Restaurant fulfilled orders, fees = delivery fee + restaurant tip + item fees and surcharge."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"partner_order_subtotal":{"allOf":[{"title":"Partner Order Subtotal"},{"description":"The subtotal of the order after substitutions, excluding fees and discounts. I.e. the total price of menu_unit_price items and their modifiers."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"partner_order_total":{"allOf":[{"title":"Partner Order Total"},{"description":"The total of the order after substitutions, including fees and discounts. I.e. the total price of menu_unit_price items and their modifiers. For Deliveroo fulfilled orders, fees = restaurant tip + item fees. For Restaurant fulfilled orders, fees = delivery fee + restaurant tip + item fees and surcharge."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"offer_discount":{"allOf":[{"title":"Offer Discount"},{"description":"Discount to be applied to the total price of the order (value)."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"cash_due":{"allOf":[{"title":"Cash Due"},{"description":"The amount the customer needs to pay in cash when the delivery arrives."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"bag_fee":{"allOf":[{"title":"Bag Fee"},{"description":"The amount for the bag fee that customer needs to pay."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"surcharge":{"allOf":[{"title":"Surcharge"},{"description":"The fee that makes up the difference if the total price is below the minimum order value."},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"fee_breakdown":{"title":"Provides the values of individual types of fee.","description":"This contains a list of individual fee descriptions.","type":"array","items":{"allOf":[{"title":"FeeDescription","description":"Describes the part of the overall fees applied to the order","type":"object","properties":{"type":{"description":"The value of the item fee type represent type of fees applied (e.g. DEPOSIT_FEE).","type":"string","enum":["DEPOSIT_FEE"]},"amount":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}}}}]}},"items":{"title":"Items","description":"An array of the Items in the order.","type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/items/items"}},"start_preparing_at":{"title":"Start Preparing At","description":"Date and time in the ISO-8601 format when the site should start preparing the order.","type":"string"},"confirm_at":{"title":"Confirm At","description":"Date and time in the ISO-8601 format for when the site should confirm scheduled orders by. May still be NULL for scheduled orders, if the order is placed close to the scheduled delivery time (and the site must start preparing immediately). Only applies to scheduled order type.","type":"string"},"promotions":{"title":"Promotions","description":"Contains the promotions associated with the order. If the order does not have a promotion applied then this section is not in payload.","type":"array","items":{"title":"Promotion Item","type":"object","properties":{"id":{"title":"ID","description":"Unique ID of the promotion.","type":"string"},"type":{"title":"Type","description":"The type of promotion applied to the offer. It can be `percentage_off_on_items` or `percentage_off_on_basket`.","type":"string","enum":["percentage_off_on_items","percentage_off_on_basket"]},"value":{"title":"Value","description":"A integer representing the percentage of discount applied to the order.","type":"integer"},"amount":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"number"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}},"bundle_amount":{"allOf":[{"description":"Myltibuy offer amount value"},{"$ref":"#/paths/~1v1~1deliveroo~1new_order/post/requestBody/content/application~1json/schema/properties/order/properties/bag_fee/allOf/1"}]},"quantity":{"description":"Number of items in the bundle","type":"integer"},"pos_item_ids":{"title":"In-Store System Item IDs","description":"A list of items in the order affected by the promotion.","type":"array","items":{"type":"object","properties":{"id":{"title":"ID","description":"The ID of the item in the in-store system.","type":"string"}}}}}}},"remake_details":{"title":"Remake Details","description":"Details related to parent order.","type":"object","properties":{"parent_order_id":{"title":"Parent Order ID","description":"Unique ID of the original order.","type":"string"},"fault":{"title":"Fault","description":"Defines who caused the redelivery, and affects the total_price. Possible values are \"deliveroo\" (total_price will be 100%) and \"restaurant\" (total_price will be 0).","type":"string","enum":["deliveroo","restaurant"]},"order_cost":{"title":"Order Cost","description":"The price of the order before fault is applied.","type":"number"}}},"is_tabletless":{"title":"Is Tabletless","description":"Flags if site is using tablet or not.","type":"boolean"},"prep_stages":{"type":"array","items":{"allOf":[{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D~1prep_stage/post/requestBody/content/application~1json/schema"},{"properties":{"id":{"type":"integer","format":"uint64"}}}]}},"meal_cards":{"type":"array","items":{"allOf":[{"title":"Meal Card","type":"object","properties":{"provider":{"description":"Meal card provider used in order. Please mind that the list is not conclusive.","type":"string","enum":["EDENRED","SODEXO","APETIZ","SWILE","UP"]},"amount":{"description":"Amount for order paid via meal card. Represented in the fractional or subunit of the currency (e.g. pence, cents).","type":"integer","format":"int64"}}}]}},"customer_order_count":{"title":"Customer Order Count","description":"The number of orders placed by the customer of this order with this restaurant. This count includes only orders in statuses DELIVERED and PICKED_UP_BY_CUSTOMER.","type":"integer","minimum":0},"customer":{"title":"Customer","type":"object","properties":{"loyalty":{"title":"Loyalty","type":"object","properties":{"card_number":{"description":"The loyalty card number associated to the user. If the loyalty card number is not associated this field will be an empty string.","type":"string","deprecated":true},"loyalty_id":{"description":"The loyalty identifier (card number or email) associated to the user. If no loyalty identifier is associated, this field will be an empty string.","type":"string"}}}}}}}}}},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"404":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/404"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}},"/v2/brand/{brand_id}/restaurant/{restaurant_id}/orders":{"parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"},"description":"The unique identifier for the brand (Deliveroo's integration team will provide this)."},{"name":"restaurant_id","in":"path","required":true,"schema":{"type":"string"},"description":"ID of the restaurant to get orders for."},{"name":"start_date","in":"query","required":false,"schema":{"type":"string"},"description":"Beginning of the time range to search in. ISO8601 compliant date-time string.","example":"2006-01-02T15:04:05Z"},{"name":"end_date","in":"query","required":false,"schema":{"type":"string"},"description":"End of the time range to search in. ISO8601 compliant date-time string.","example":"2006-01-02T15:04:05Z"},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"A cursor to retrieve the next page of results. This is returned in the `next` field of response for the previous page of results.","example":"eyJzdGFydF9kYXRlIjoiMjAxOC0xMi0xMVQwMDowMDowMCIsImVuZF9kYXRlIjoiMjAxOC0xMi0xMlQwMDowMDowMCIsIm1pbl9vcmRlcl9pZCI6IjA3ZmJiODJhLWNlYjUtNDNlYy0xMjNmLTE4YWY4OWUzMzgwYSJ9"},{"name":"live_orders","in":"query","required":false,"schema":{"type":"boolean"},"description":"**\\*This feature is experimental and may not be available for all Integration Partners.\\*** <br /> A value of \"true\" will return only live orders. Orders are \"live\" if they meet two criteria:\n1. Their status is `placed`, `accepted`, or `confirmed`\n2. The order has not yet been picked up by a rider or customer","example":true}],"get":{"summary":"Get Orders","description":"Return a list of up to 100 orders for a given restaurant within a given timeframe.\n\n Deliveroo would not return order data older than 30 days.\n\n There are several ways to make the GET request by timeframe.\n\n Example GET requests:\n\n `GET api/v2/brand/{brand_id}/restaurant/{restaurant_id}/orders?start_date=2018-12-11T00:00:00Z`\n\n See all orders on and after a certain date. This example would show all orders on and after 11 December 2018.\n\n `GET api/v2/brand/{brand_id}/restaurant/{restaurant_id}/orders?start_date=2018-12-11T00:00:00Z&end_date=2018-12-13T23:59:00Z`\n\n See all orders between start date and end date. This example would show all orders from the beginning of 11 December 2018 to the end of 13 December 2018.\n\n `GET api/v2/brand/{brand_id}/restaurant/{restaurant_id}/orders?cursor=eyJzdGFydF9kYXRlIjoiMjAxOC0xMi0xMVQwMDowMDowMCIsImVuZF9kYXRlIjoiMjAxOC0xMi0xMlQwMDowMDowMCIsIm1pbl9vcmRlcl9pZCI6IjA3ZmJiODJhLWNlYjUtNDNlYy0xMjNmLTE4YWY4OWUzMzgwYSJ9`\n\n See all order after the previous call, cursor will be returned as `next` in response if there are more than 100 orders in a window.\n\n This endpoint is rate limited at 5 request per minute per restaurant.\n","operationId":"get-orders-v2","tags":["Endpoints V2"],"responses":{"200":{"description":"Successfully returning orders.","content":{"application/json":{"schema":{"title":"Get Orders V2","type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/paths/~1v2~1orders~1%7Border_id%7D/get/responses/200/content/application~1json/schema"}},"next":{"type":"string","description":"Cursor for the next page if there are more than 100 orders"}}}}}},"400":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/400"},"500":{"$ref":"#/paths/~1v1~1orders~1%7Border_id%7D/get/responses/500"}}}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://deliveroo-api.auth.eu-west-1.amazoncognito.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://deliveroo-api-dp.auth.eu-west-1.amazoncognito.com/oauth2/token","scopes":{}}}}}},"security":[{"OAuth2-Production":[]}]}