{"openapi":"3.1.0","info":{"version":"1.0","title":"Signature API","description":"Provides a interface for partners to place orders through the Deliveroo network","contact":{"name":"Deliveroo Support"}},"tags":[{"name":"Webhooks"},{"name":"v1"},{"name":"v2"}],"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api.developers.deliveroo.com/signature","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com/signature","description":"Sandbox"}],"paths":{"/v1/orders":{"post":{"operationId":"create-order-v1","tags":["v1"],"summary":"Create a new order","description":"Create a new order for fulfillment by Deliveroo. A new order is returned with the `accepted` status.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","examples":[],"properties":{"id":{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/id","description":"If provided, sets a case-sensitive order id (otherwise one will be generated for you). The identifier must consist of letters, numbers, dashes, and underscores only."},"address":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/destination"},"customer":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/customer"},"fulfillment_type":{"type":"string","enum":["delivery"],"description":"Either `delivery` (default) or `pickup` Note: pickup orders are not yet supported.\n","title":"FulfillmentType","example":"delivery"},"quote_id":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/id"},"restaurant_id":{"description":"Restaurant unique identifier.","x-stoplight":{"id":"64a2e7d7ab626"},"examples":["sushimania-london-hackney"],"type":"string","pattern":"^[A-Za-z0-9-_]+$","example":"0123-sushimania"},"partner_fee_fractional":{"x-stoplight":{"id":"dj9oli2r0bqaz"},"description":"The price of all fees charged to the customer in the currency's smallest subunit, e.g. pence for GBP. This information is required if Customer Support is managed by Deliveroo so customers can be accurately compensated.","examples":[399],"type":"integer","example":399},"items":{"type":"array","description":"A list of items the customer wishes to order","items":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items"}},"scheduled_webhook_events":{"title":"ScheduledWebhookEvents","type":"array","items":{"type":"object","properties":{"status":{"anyOf":[{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/status"},{"title":"RiderStatus","type":"string","enum":["rider_assigned","rider_unassigned","rider_arrived","rider_confirmed_at_restaurant","rider_in_transit","rider_nearby"]}]},"delay":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"}}},"examples":[[{"status":"rider_assigned","delay":"10s"},{"status":"rider_unassigned","delay":"20s"},{"status":"rider_assigned","delay":"30s"}]],"description":"For test mode. Simulates webhook events with a given status to occur after a given delay after the order is created. Multiple webhooks of the same status may be triggered."},"test_webhooks":{"title":"TestWebhooks","x-stoplight":{"id":"ngyv105iw844d"},"type":"object","examples":[{"accepted":"10s","rider_assigned":"20s","rider_arrived":"30s","rider_in_transit":"40s","rider_nearby":"50s","rider_confirmed_at_customer":"1m","delivered":"1m10s"}],"deprecated":true,"properties":{"accepted":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"canceled":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"delivered":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rejected":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_arrived":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_assigned":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_in_transit":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_nearby":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_confirmed_at_customer":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"rider_unassigned":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"undeliverable":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"}}}},"required":["address","customer","restaurant_id","partner_fee_fractional","items"]},"examples":{"Example":{"value":{"id":"4c3-doYvTA-c4hhZy_LB6w","address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}]}},"With test webhooks":{"value":{"id":"4c3-doYvTA-c4hhZy_LB6w","address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"test_webhooks":{"accepted":"10s","rider_assigned":"20s","rider_arrived":"30s","rider_in_transit":"40s","rider_nearby":"50s","rider_confirmed_at_customer":"1m","delivered":"1m10s"}}},"With scheduled webhook events":{"value":{"id":"4c3-doYvTA-c4hhZy_LB6w","address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"scheduled_webhook_events":[{"status":"rider_assigned","delay":"10s"},{"status":"rider_unassigned","delay":"20s"},{"status":"rider_assigned","delay":"30s"}]}}}}}},"responses":{"200":{"description":"Order placed","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Order unique ID.","type":"string","pattern":"^[A-Za-z0-9-_:]","example":"4c3-doYvTA-c4hhZy_LB6w","title":"Order ID v1"},"created":{"title":"","type":"string","format":"date-time","example":"2023-02-03T15:04:37Z","description":"","x-stoplight":{"id":"95b89e6abc7e4"}},"customer":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/customer"},"delivered_place":{"title":"DeliveredPlace","x-stoplight":{"id":"5xxl5nf8f7myu"},"type":"string","enum":["CONCIERGE","RECEPTION","NEIGHBOUR","DOORSTEP","FRONT_GARDEN","OTHER","UNDELIVERED","REBOUND"],"description":"The place that the rider left the delivery payload if they could not make contact with the customer."},"destination":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/destination"},"estimated_duration":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_duration"},"estimated_rider_arrival_time":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"total_price":{"description":"Total order value, including basket subtotal and partner fee.","examples":[{"currency_code":"GBP","fractional":1098}],"type":"object","properties":{"currency_code":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/partner_fee/properties/currency_code"},"fractional":{"type":"integer"}}},"handover":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/handover"},"items":{"type":"array","items":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items"}},"prepare_for":{"title":"PrepareFor","type":"string","format":"date-time","example":"2023-02-03T15:34:12Z","description":""},"restaurant":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/restaurant"},"short_id":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/short_id"},"status":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/status"},"status_log":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/status_logs"},"support_id":{"title":"SupportID","x-stoplight":{"id":"q42pnp1d9j5sq"},"type":"string","pattern":"^[A-Za-z0-9]","example":"bCnqS4vaHAbAAQKJSDgeMn"},"support_url":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/support_url"},"updated":{"title":"","type":"string","format":"date-time","example":"2023-02-03T15:05:12Z","description":"","x-stoplight":{"id":"08e6d2922d047"}},"partner_fee":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/partner_fee"},"stacked_with":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/stacked_with","description":"This field is deprecated. Please use delivery_stack instead."},"delivery_priority":{"description":"This field is deprecated. Please use delivery_stack instead.","deprecated":true,"title":"DeliveryPriority","type":"array","format":"uri","items":{"anyOf":[{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/id"},{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/id"}]},"x-examples":{"Example 1":["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"]},"examples":[["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"]]},"webview_url":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/webview_url"},"webview_map_url":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/webview_map_url"},"delivery_stack":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1rider-status/post/requestBody/content/application~1json/schema/properties/delivery_stack/items"}}}},"examples":{"Order successfully created":{"value":{"id":"4c3-doYvTA-c4hhZy_LB6w","created":"2023-02-03T15:04:37Z","customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"delivered_place":"CONCIERGE","destination":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"estimated_duration":{"begin":"40m0s","end":"40m0s"},"estimated_rider_arrival_time":"40m0s","total_price":{"currency_code":"GBP","fractional":1098},"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"prepare_for":"2023-02-03T15:34:12Z","restaurant":{"name":"Sushimania London Hackney","id":"0123-sushimania"},"short_id":"1337","status":"pending","status_log":[{"status":"pending","at":"2019-08-24T14:15:22Z"}],"support_id":"bCnqS4vaHAbAAQKJSDgeMn","support_url":"https://partner-support.deliveroo.com?iid=XcE5LyznKGcoUz81N9RWZ&bid=sushi-supreme","updated":"2023-02-03T15:05:12Z","partner_fee":{"currency_code":"GBP","fractional":399},"stacked_with":["8CcV4aWaWBx4qMPz1J8okt"],"delivery_priority":["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"],"webview_url":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa","webview_map_url":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa?mapOnly=true"}}}}}}},"deprecated":true}},"/v1/orders/{id}":{"get":{"operationId":"get-order-v1","tags":["v1"],"summary":"Get information about an order","description":"Please note, that when the estimated duration exceeds one hour, fields in `estimated_duration` section (begin or end) will be prefixed with hour mark, as in the following example: `1h10m0s`.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema"},"examples":{"With all fields":{"value":{"id":"4c3-doYvTA-c4hhZy_LB6w","created":"2023-02-03T15:04:37Z","customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"delivered_place":"CONCIERGE","destination":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"estimated_duration":{"begin":"40m0s","end":"40m0s"},"estimated_rider_arrival_time":"40m0s","total_price":{"currency_code":"GBP","fractional":1098},"handover":{"code":"42","attempts":[{"provided_code":"13","attempt_number":0,"is_correct":false},{"provided_code":"98","attempt_number":1,"is_correct":false},{"provided_code":"42","attempt_number":2,"is_correct":true}]},"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"prepare_for":"2023-02-03T15:34:12Z","restaurant":{"name":"Sushimania London Hackney","id":"0123-sushimania"},"short_id":"1337","status":"pending","status_log":[{"status":"pending","at":"2019-08-24T14:15:22Z"}],"support_id":"bCnqS4vaHAbAAQKJSDgeMn","support_url":"https://partner-support.deliveroo.com?iid=XcE5LyznKGcoUz81N9RWZ&bid=sushi-supreme","updated":"2023-02-03T15:05:12Z","partner_fee":{"currency_code":"GBP","fractional":400},"stacked_with":["8CcV4aWaWBx4qMPz1J8okt"],"delivery_priority":["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"],"webview_url":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa","webview_map_url":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa?mapOnly=true"}}}}}}}},"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true,"description":"Order ID"}]},"/v1/orders/{id}/location":{"get":{"summary":"Get order location","operationId":"get-order-location-v1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"OrderLocationV1Response","x-stoplight":{"id":"zzi09w73kqd22"},"type":"object","description":"Provides details about the location of the order and the estimated delivery time","properties":{"accuracy_in_meters":{"title":"AccuracyInMeters","x-stoplight":{"id":"rdc10med02jcb"},"type":"number","format":"float","description":"The accuracy of the lat/lon coordinates in meters.","example":3},"lat":{"title":"Latitude","x-stoplight":{"id":"iqs77gda97ybj"},"type":"number","format":"float","minimum":-90,"maximum":90,"examples":[],"example":51.513822},"lon":{"title":"Longitude","x-stoplight":{"id":"e7fk69iwvrjrz"},"type":"number","format":"float","minimum":-180,"maximum":180,"example":-0.191615,"examples":[]},"at":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created","description":"The date/time the location was last updated"},"delivery_eta":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/delivery_eta"},"stacked_with":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/stacked_with","description":"This field is deprecated. Please use delivery_stack instead."},"delivery_priority":{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/delivery_priority","description":"This field is deprecated. Please use delivery_stack instead."},"delivery_stack":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1rider-status/post/requestBody/content/application~1json/schema/properties/delivery_stack/items"}},"rider_full_name":{"title":"RiderFullName","type":"string","examples":["Rider N."],"description":"Rider's full name or \"Deliveroo Rider\", if rider anonymisation has been enabled for partner."},"rider_contact_number":{"title":"","type":"string","examples":["442039605331 (973087341)"],"description":"Phone number the partner/restaurant can use to contact the rider. This should not be shared with or used by the customer.\n\nRiders can have their personal phone numbers protected (masked), in which case, a temporary phone number and code will be assigned to `rider_bridge_number` and `rider_bridge_code`. In this case, `rider_contact_number` will be formatted as `rider_bridge_number (rider_bridge_code)`. When the rider's phone is unmasked, `rider_bridge_number` and `rider_bridge_code` will be null.","x-stoplight":{"id":"ede28c06928a9"}},"rider_bridge_code":{"title":"RiderBridgeCode","type":"string","description":"When rider's have their phone number masked, this value should be used when calling their temporary phone number.","example":"973087341"},"rider_bridge_number":{"title":"RiderBridgeNumber","type":"string","example":"442039605331","x-stoplight":{"id":"d4159286d9793"},"description":"A rider may have their personal phone number protected (masked), in which case the rider's temporary phone number and code will be assigned to `bridge_number`."},"customer_to_rider_contact_number":{"title":"","type":"string","examples":["+441234567890"],"description":"Phone number the customer can use to contact the rider.","x-stoplight":{"id":"11aead4a06587"}}}},"examples":{"Location retrieved":{"value":{"accuracy_in_meters":3,"lat":51.513822,"lon":-0.191615,"at":"2022-10-27T14:39:19.583268373Z","delivery_eta":{"lower":"2019-08-24T14:15:22Z","upper":"2019-08-24T14:15:22Z"},"stacked_with":["8CcV4aWaWBx4qMPz1J8okt"],"delivery_priority":["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"],"rider_full_name":"Rider N.","rider_contact_number":"442039605331 (973087341)","rider_bridge_code":"973087341","rider_bridge_number":"442039605331"}},"Order has reached terminal status":{"value":{}},"Order has not yet been assigned to a rider":{"value":{}}}}}}},"description":"Gets the current location of the order's delivery rider along with their name and contact numbers, if available.\n\nYou can use this endpoint to render tracking maps for customers or an approximate progress bar based on travel distance remaining. If the location isn't available, the order may not have a delivery rider yet.\nThe best time to begin using this endpoint is after you've received a `rider_assigned` order status webhook callback. Riders can be subject to change after assignment, for this reason contact information should only\nbe passed to the customer after the order has been collected. If another rider is assigned a new rider_assigned status will be sent via webhook callback, use this endpoint to call for new rider contact information.\n\nThe location data does not update more than every minute, so it's unnecessary to poll more frequently. It will stop providing location data once any terminal order status is reached (delivered, undeliverable, canceled).","deprecated":true,"tags":["v1"]},"parameters":[{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D/parameters/0"}]},"/v1/quotes":{"post":{"deprecated":false,"tags":["v1"],"operationId":"create-quote","summary":"Create quote","description":"It is recommended to create a quote before placing an order as during quote creation multiple validation steps are performed and errors that might result in order rejection can be avoided.\n\nIt is important to note that a quote is only valid for 5 minutes and after this a new quote must be created before placing the order, otherwise an error will be returned.\n\nWhen a quote is created, Deliveroo validates the delivery location, that can be represented either as latitude/longitude or using a textual representation of the address.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"lat":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lat","description":"Required if address is not provided."},"lon":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lon","description":"Required if address is not provided."},"address":{"description":"Required if lat/lon is not provided.","type":"object","examples":[],"title":"Address","properties":{"city":{"title":"AddressCity","type":"string","example":"London"},"country_code":{"type":"string","pattern":"^[A-Z]{2}$","description":"2-letter country code according to ISO 3166-1 alpha-2 format.\n","examples":[],"example":"GB","title":"CountryCode2"},"delivery_note":{"title":"DeliveryNote","type":"string","maxLength":160,"description":"Customer provided delivery note.","example":"Door bell is broken, please knock"},"door_code":{"title":"DoorCode","type":"string","description":"Customer provided door code, such as one for entering a shared apartment.","example":"1234","maxLength":10},"line1":{"title":"AddressLine1","type":"string","description":"Street address, company name, c/o.","example":"1 Cousin Lane"},"line2":{"title":"AddressLine2","type":"string","description":"Apartment, suite, unit, building, floor, etc.","example":"1st Floor"},"full":{"title":"AddressFull","type":"string","x-stoplight":{"id":"a6205ae28caaf"},"example":"1 Cousin Lane, London EC4R 3TE","description":"Can be used in lieu of supplying line1/line2/postcode."},"postcode":{"$ref":"#/paths/~1v1~1restaurants/get/parameters/2/schema"}},"required":["city","line1"],"x-stoplight":{"id":"eb34b59925c1d"}},"restaurant_id":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/restaurant_id"}},"required":["restaurant_id"]},"examples":{"With lat/lon":{"value":{"lat":51.513822,"lon":-0.191615,"restaurant_id":"0123-sushimania"}},"With address":{"value":{"restaurant_id":"0123-sushimania","address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE"}}}}}}},"responses":{"200":{"description":"Quote created.","content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"id":"9R4F0RPOTlijCvHz2iMaVA","created":"2022-10-27T14:34:19.58328Z","delivery_fee":{"fractional":199,"currency_code":"GBP"},"destination":{"city":"","country_code":"","delivery_note":"","door_code":"","lat":51.490747,"line1":"","line2":"","lon":-0.149672,"postcode":""},"estimated_duration":{"begin":"25m0s","end":"35m0s"},"estimated_rider_arrival_time":"28m44s","restaurant":{"id":"puzzles-pizza-location-site-id","name":"Puzzles Pizza - Chelsea"},"valid_until":"2022-10-27T14:39:19.583268373Z"}},"properties":{"id":{"title":"QuoteID","x-stoplight":{"id":"dqdtpmfnbi4c4"},"type":"string","pattern":"^[A-Za-z0-9-_]+$","examples":[],"example":"_PZOvsivTiWhIk-sQt9wmA"},"created":{"title":"DateTime","x-stoplight":{"id":"0zp9rzfrkycgo"},"type":"string","description":"A textual representation of the time value formatted according to the RFC3339 format","examples":["2022-10-27T14:39:19.583268373Z"]},"delivery_fee":{"type":"object","properties":{"currency_code":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/partner_fee/properties/currency_code"},"fractional":{"type":"integer"}},"examples":[{"currency_code":"GBP","fractional":250}]},"destination":{"type":"object","examples":[{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615}],"title":"Address","description":"Delivery location address.","properties":{"city":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/city"},"country_code":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/country_code"},"delivery_note":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/delivery_note"},"door_code":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/door_code"},"line1":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/line1"},"line2":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/line2"},"full":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/full"},"postcode":{"$ref":"#/paths/~1v1~1restaurants/get/parameters/2/schema"},"lat":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lat","description":"Can be used to exactly specify the latitude of the delivery location. If supplied, `address.lon` must also be supplied.\n"},"lon":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lon","description":"Can be used to exactly specify the longitude of the delivery location. If supplied, `address.lat` must also be supplied.\n"}},"required":["city","line1"]},"estimated_duration":{"title":"EstimatedOrderDuration","x-stoplight":{"id":"4iz9gluj3uecs"},"type":"object","x-examples":{"example-1":{"begin":"40m0s","end":"1h5m0s"}},"properties":{"begin":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"end":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"}},"description":"The estimated minimum and maximum time to deliver this order"},"estimated_rider_arrival_time":{"title":"Duration","x-stoplight":{"id":"9g8wgggckh3wx"},"type":"string","examples":["40m0s","1h5m0s"],"description":"A duration string is a possibly signed sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\", \"-1.5h\" or \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\"."},"restaurant":{"type":"object","x-stoplight":{"id":"25e8d7e69b7c1"},"properties":{"name":{"type":"string","example":"Sushimania London Hackney"},"id":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/restaurant_id"}}},"valid_until":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"}}},"examples":{"Quote successfully created":{"value":{"id":"_PZOvsivTiWhIk-sQt9wmA","created":"2022-10-27T14:39:19.583268373Z","delivery_fee":{"currency_code":"GBP","fractional":250},"destination":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"estimated_duration":{"begin":"40m0s","end":"40m0s"},"estimated_rider_arrival_time":"40m0s","restaurant":{"name":"Sushimania London Hackney","id":"0123-sushimania"},"valid_until":"2022-10-27T14:39:19.583268373Z"}}}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"schema":{"allOf":[{"title":"Error","type":"object","properties":{"error":{"description":"Error body","type":"object","properties":{"code":{"description":"HTTP status code description.","type":"string"},"message":{"description":"Details about the error.","type":"string"}}}},"required":["code","message"]},{"example":{"error":{"code":"bad_request","message":"invalid request"}}}]}}}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}}}]}}}}}}},"/v1/restaurants":{"get":{"deprecated":false,"tags":["v1"],"operationId":"get-restaurants","summary":"Get restaurants for location","description":"Returns a list of sites that deliver to a given location, which can be represented either as latitude/longitude or using the combination of postcode and country code.\n\nA site must not be presented as an option to the customer if the attribute `visible` is set as `false` as Deliveroo will not be able to fulfil the order as the site is either closed or there is no rider available in the area at the moment.\n\nAn example request will look as follows:\n```\nGET https://partners.deliveroo.com/api/v1/fulfillment/restaurants?lat=51.513822&lon=-0.191615&postcode=EC4R3TE&brand_id=brand-id&country_code=GB\n```","parameters":[{"name":"lat","description":"Latitude","in":"query","schema":{"type":"number","example":51.513822,"minimum":-90,"maximum":90}},{"name":"lon","description":"Longitude","in":"query","schema":{"type":"number","example":-0.191615,"minimum":-180,"maximum":180}},{"name":"postcode","in":"query","schema":{"type":"string","description":"Location postcode.\n","examples":["EC4 R3TE"]}},{"name":"brand_id","in":"query","schema":{"description":"Brand unique identifier.","x-stoplight":{"id":"8518188c30875"},"title":"BrandID","type":"string","pattern":"^[A-Za-z0-9-_]+$","example":"brand-id"}},{"name":"country_code","in":"query","schema":{"$ref":"#/paths/~1v1~1quotes/post/requestBody/content/application~1json/schema/properties/address/properties/country_code","type":"string","minLength":2,"maxLength":2,"example":"GB"}},{"schema":{"type":"boolean"},"in":"query","name":"include_test_sites","description":"For test mode. If true, test restaurants are included in the response."}],"responses":{"200":{"description":"A list of Restaurants that deliver to the specified location.","content":{"application/json":{"schema":{"type":"array","x-examples":{"example-1":[{"id":"EgG27rbviS26itnuhLaHin","distance":1218.213236,"estimated_duration":{"begin":"20m0s","end":"25m0s"},"location":{"lat":51.510109,"lon":-0.093282},"name":"restaurant name","display_name":"restaurant display name","status":"available","delivery_fee":{"currency_code":"GBP","fractional":350},"visible":true},{"id":"gcjv053teh3j-xYM7X3DCtlw","distance":2377.1997179077334,"estimated_duration":{"begin":"45m0s","end":"45m0s"},"name":"Seb's Busy Bees","display_name":"Seb's Busy Bees","location":{"lat":51.51522735141347,"lon":-3.141261871084153},"status":"closed","delivery_fee":{"currency_code":"","fractional":0},"visible":true}]},"description":"An array of Restaurants which you can order from.\n\nIf delivery fee cannot currently be retrieved for a site, the value of `currency_code` becomes `\"\"` (empty string) and the value of `fractional` becomes `0`. This occurs, for example, for sites currently closed.","items":{"type":"object","properties":{"id":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/restaurant_id","description":"The Restaurant Id"},"distance":{"type":"number","description":"The straightline distance to the Restaurant in meters","example":4200},"estimated_duration":{"description":"When the estimated duration exceeds one hour,  begin or end will be prefixed with hour\nmark, as in the following example: `1h10m0s`.","type":"object","properties":{"begin":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"end":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"}}},"location":{"type":"object","description":"The latitude and longitude of the location","properties":{"lat":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lat","description":"The latitude"},"lon":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lon","description":"The longitude"}},"required":["lat","lon"],"title":"LatLon"},"name":{"type":"string","description":"The internal name of the Restaurant","example":"[Signature API] Sushimania London Hackney"},"display_name":{"type":"string","description":"The display name of the Restaurant. Can be used to display the name of the restaurant to customers.","example":"Sushimania London Hackney"},"status":{"type":"string","description":"If the Restaurant is accepting orders this will be `available`, otherwise will return `unavailable` ","enum":["available","unavailable"]},"delivery_fee":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/delivery_fee"},"visible":{"type":"boolean","description":"If the value of the visible flag is set to false, Deliveroo cannot\ncurrently deliver from this site. This may occur when there is no available riders"}},"required":["visible"]}},"examples":{"Restaurant list retrieved":{"value":[{"id":"0123-sushimania","distance":4200,"estimated_duration":{"begin":"40m0s","end":"40m0s"},"location":{"lat":51.513822,"lon":-0.191615},"name":"[Signature API] Sushimania London Hackney","display_name":"Sushimania London Hackney","status":"available","delivery_fee":{"currency_code":"GBP","fractional":250},"visible":true}]}}}}},"400":{"$ref":"#/paths/~1v1~1quotes/post/responses/400"},"401":{"$ref":"#/paths/~1v1~1quotes/post/responses/401"}}}},"/v1/webhooks":{"get":{"deprecated":false,"tags":["v1"],"operationId":"get-webhooks","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema"},"example":{"refund_url":"https://example.com/order/refund","credit_url":"https://example.com/order/credit","redelivery_url":"https://example.com/order/redelivery","status_url":"https://example.com/order/status","rider_status_url":"https://example.com/order/rider_status"},"examples":{"Webhooks retrieved":{"value":{"refund_url":"https://example.com/order/refund","credit_url":"https://example.com/order/credit","redelivery_url":"https://example.com/order/redelivery","status_url":"https://example.com/order/status","rider_status_url":"https://example.com/order/rider_status"}}}}}}},"description":"Get a list of currently registered webhooks.","summary":"List registered webhooks"},"post":{"deprecated":false,"tags":["v1"],"operationId":"configure-webhooks","summary":"Register webhooks","description":"Update the webhook URLs configured for your integrator. If a particular webhook is omitted or set to `null`, it will not be updated. Webhooks can be set to an empty string (`\"\"`), in which case it will no longer be triggered.\n\nIf you do not wish to receive order status updates (and perhaps poll the order endpoint instead), you can omit the `status_url`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","example":{"refund_url":"https://example.com/order/refund","credit_url":"https://example.com/order/credit","redelivery_url":"https://example.com/order/redelivery","status_url":"https://example.com/order/status","rider_status_url":"https://example.com/order/rider_status"},"properties":{"refund_url":{"description":"The URL to call when a refund is requested.","oneOf":[{"format":"uri"},{"maxLength":0}],"type":"string"},"credit_url":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema/properties/refund_url","description":"The URL to call when a credit is requested."},"redelivery_url":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema/properties/refund_url","description":"The URL to call when a redelivery event occurs."},"status_url":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema/properties/refund_url","description":"The URL to call when the status of an order changes."},"rider_status_url":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema/properties/refund_url","description":"The URL to call to inform of rider status changes (arrived at restaurant, picked up order)"}}},"examples":{"Webhooks specified":{"value":{"refund_url":"https://example.com/order/refund-new","credit_url":""}}}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1webhooks/post/requestBody/content/application~1json/schema"},"examples":{"Webhooks registered":{"value":{"refund_url":"https://example.com/order/refund-new","credit_url":"","redelivery_url":"https://example.com/order/redelivery","status_url":"https://example.com/order/status","rider_status_url":"https://example.com/order/rider_status"}}}}}}}}},"/v1/refund-notifications":{"post":{"deprecated":false,"tags":["v1"],"operationId":"create-refund-notification","summary":"Submit a refund notification for an order","description":"If you are using your own customer support service, this can be used to notify us of refunds you have given to customers for which Deliveroo are liable. Refund notifications are processed in the background and will be subsequently be rejected if the requested amount exceeds the total order value (including delivery fees). Multiple refund notifications may be submitted for a single order, but their sum total should not exceed the total order value.\n\nUse the refund webhook to be notified when refund notifications submitted via this method have been ingested and processed successfully by Deliveroo.","parameters":[],"responses":{"202":{"description":"Accepted"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"order_id":"urqLd9T-R2OnlBETM_5eMQ","amount":{"fractional":400,"currency_code":"GBP"},"reason":"cold_food"}},"properties":{"order_id":{"anyOf":[{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/id"},{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/id"}]},"amount":{"type":"object","examples":[],"properties":{"currency_code":{"type":"string","pattern":"^[A-Z]{3}$","example":"GBP"},"fractional":{"type":"integer","description":"Amount in cents, e.g. `400` for 4 GBP"}},"required":["currency_code","fractional"]},"reason":{"type":"string","enum":["cold_food","driver_issue","deliveroo_delay","redelivery"],"description":"Reason for the refund"}},"required":["order_id","amount","reason"]},"examples":{"Example":{"value":{"order_id":"4c3-doYvTA-c4hhZy_LB6w","amount":{"currency_code":"GBP","fractional":400},"reason":"cold_food"}}}}}}}},"/v2/orders":{"post":{"operationId":"create-order-v2","deprecated":false,"tags":["v2"],"summary":"Create a new order","description":"Create a new order for fulfillment by Deliveroo. A new order is returned with the `accepted` status.\n\n_Unlike v1, this endpoint supports [idempotency](https://api-docs.deliveroo.com/docs/signature-idempotent-requests)._","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","title":"OrderV2","properties":{"address":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/destination"},"customer":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/customer","description":"The customers details"},"fulfillment_type":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/fulfillment_type","description":"Either `delivery` (default) or `pickup`. Note: pickup orders are not yet supported.\n"},"quote_id":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/id","description":"If a quote was created then use its Id to prevent validation errors"},"restaurant_id":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/restaurant_id"},"partner_fee_fractional":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/partner_fee_fractional","description":"The price of all fees charged to the customer in the currency's smallest subunit, e.g. pence for GBP. This information is required if Customer Support is managed by Deliveroo so customers can be accurately compensated.\n"},"items":{"type":"array","description":"A list of items the customer wishes to order","items":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items"}},"scheduled_webhook_events":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/scheduled_webhook_events"},"test_webhooks":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/test_webhooks"}},"required":["address","customer","restaurant_id","partner_fee_fractional","items"]},"examples":{"Example":{"value":{"address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}]}},"With test webhooks":{"value":{"address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"test_webhooks":{"accepted":"10s","rider_assigned":"20s","rider_arrived":"30s","rider_in_transit":"40s","rider_nearby":"50s","rider_confirmed_at_customer":"1m","delivered":"1m10s"}}},"With scheduled webhook events":{"value":{"address":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"fulfillment_type":"delivery","quote_id":"_PZOvsivTiWhIk-sQt9wmA","restaurant_id":"0123-sushimania","partner_fee_fractional":399,"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"scheduled_webhook_events":[{"status":"rider_assigned","delay":"10s"},{"status":"rider_unassigned","delay":"20s"},{"status":"rider_assigned","delay":"30s"}]}}}}},"description":""},"responses":{"200":{"description":"Order placed","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Order unique ID.","type":"string","pattern":"^[a-z0-9-:]","example":"gb:93ab6499-1ab0-445f-b68b-5648ec132dea","title":"Order ID v2"},"created":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"customer":{"type":"object","description":"At least one of `first_name` and `last_name` must be provided.","examples":[],"title":"Customer","properties":{"id":{"title":"CustomerID","type":"string","examples":["customer-id"],"example":"customer-id-123","description":"External unique customer identifier, used to correlate orders from the same person."},"email":{"type":"string","format":"email","example":"foodlover@example.com","description":"Customer email address."},"first_name":{"type":"string","description":"Required if `last_name` is empty.","example":"Will"},"last_name":{"type":"string","description":"Required if `first_name` is empty.","example":"Shu"},"phone_number":{"description":"Customer phone number.","type":"string","pattern":"^\\+\\d{2}\\d+$","examples":[],"example":"+44123456789"},"preferred_name":{"type":"string","description":"Customer preferred name used to greet the customer. First name will be used if omitted.\n","example":"Willz"},"drinking_age_confirmed":{"type":"boolean","description":"*Required if the order item has `contains_alcohol: true`*. Customer has confirmed they are able to show proof of age by valid ID to receive these items; otherwise they will not be delivered.\n"}},"required":["id","phone_number"]},"destination":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/destination"},"estimated_duration":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_duration"},"estimated_rider_arrival_time":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/estimated_rider_arrival_time"},"total_price":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"description":"The unique ID for the menu item.\n","type":"string","examples":[],"x-stoplight":{"id":"6f9ab3d29775a"},"title":"UniqueID","pattern":"^[A-Za-z0-9-_]+$"},"description":{"type":"string","description":"The menu item name.\n","minLength":1},"price_fractional":{"type":"integer","minimum":0},"quantity":{"type":"integer","minimum":1},"contains_alcohol":{"type":"boolean"},"modifiers":{"type":"array","items":{"type":"object","description":"An array of modifiers to the current menu item.\n","properties":{"id":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items/properties/id","description":"The unique ID for the modifier.\n"},"description":{"type":"string","description":"The modifier name.\n"},"parent_id":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items/properties/id","description":"The ID of the item or modifier to which this modifier corresponds. If not provided, it will default to the parent item.\n"}},"required":["id"],"examples":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}}},"required":["id","description","price_fractional","quantity"],"examples":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}]}},"prepare_for":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"restaurant":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/restaurant"},"short_id":{"type":"string","x-stoplight":{"id":"54eed3d7cc70b"},"description":"Short ID provided by partner for this order.","example":"1337"},"status":{"title":"OrderStatus","type":"string","enum":["pending","placed","accepted","rider_assigned","rider_arrived","rider_in_transit","rider_nearby","delivered","canceled","rejected","undeliverable"]},"status_logs":{"type":"array","items":{"type":"object","properties":{"status":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/status"},"at":{"type":"string","description":"Timestamp when the given event occurred.","format":"date-time"}}}},"support_id":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/short_id"},"support_url":{"title":"SupportURL","x-stoplight":{"id":"j20akibvh56ij"},"type":"string","format":"uri","example":"https://partner-support.deliveroo.com?iid=XcE5LyznKGcoUz81N9RWZ&bid=sushi-supreme"},"updated":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"partner_fee":{"type":"object","properties":{"currency_code":{"type":"string","x-stoplight":{"id":"4f3fc0dbddc5a"},"example":"GBP","pattern":"^[A-Z]{3}$"},"fractional":{"type":"integer"}},"examples":[{"currency_code":"GBP","fractional":399}]},"stacked_with":{"description":"A list of order ids this order is stacked with","deprecated":true,"title":"StackedWith","type":"array","format":"uri","items":{"anyOf":[{"$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/id"},{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/id"}]},"examples":[["8CcV4aWaWBx4qMPz1J8okt"]]},"webview_url":{"title":"WebviewURL","x-stoplight":{"id":"09i9q6mu164c4"},"type":"string","format":"uri","example":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa"},"webview_map_url":{"title":"WebviewMapURL","x-stoplight":{"id":"rvde962wks4ht"},"type":"string","format":"uri","example":"https://partner-support.deliveroo.com/webview/ae6919f9-6fcb-4336-821c-663769b123aa?mapOnly=true"}}},"examples":{"Order successfully created":{"value":{"id":"gb:93ab6499-1ab0-445f-b68b-5648ec132dea","created":"2022-10-27T14:39:19.583268373Z","customer":{"id":"customer-id-123","email":"foodlover@example.com","first_name":"Will","last_name":"Shu","phone_number":"+44123456789","preferred_name":"Willz","drinking_age_confirmed":true},"destination":{"city":"London","country_code":"GB","delivery_note":"Door bell is broken, please knock","door_code":"1234","line1":"1 Cousin Lane","line2":"1st Floor","postcode":"EC4 R3TE","lat":51.513822,"lon":-0.191615},"estimated_duration":{"begin":"40m0s","end":"40m0s"},"estimated_rider_arrival_time":"40m0s","total_price":{"currency_code":"GBP","fractional":400},"items":[{"id":"f81c8141-c9a9-4739-994e-c381d5317051","description":"Salmon sashimi","price_fractional":699,"quantity":1,"modifiers":[{"id":"3cd4f216-51b3-4e06-aaa1-06789b4509a1","description":"Extra soy sauce"}]}],"prepare_for":"2022-10-27T14:39:19.583268373Z","restaurant":{"name":"Sushimania London Hackney","id":"0123-sushimania"},"short_id":"string","status":"placed","status_logs":[{"status":"pending","at":"2019-08-24T14:15:22Z"}],"support_id":"1337","support_url":"http://example.com","updated":"2022-10-27T14:39:19.583268373Z","partner_fee":{"currency_code":"GBP","fractional":400},"stacked_with":["string"],"webview_url":"http://example.com","webview_map_url":"http://example.com"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}},"examples":{"Closed - Bad Request":{"value":{"error":{"code":"restaurant_closed","message":"restaurant is closed"}}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1orders/post/responses/400/content/application~1json/schema"}}}}}}},"/v2/orders/{id}/location":{"get":{"deprecated":false,"tags":["v2"],"operationId":"get-order-location-v2","summary":"Get order location","description":"This endpoint provides more detailed information about the riders that are assigned to a given order.\n\nCompared to v1, this endpoint supports multiple riders as well as a `status_log` array containing the events that occurred for each rider. It is important to note that if the rider anonymisation setting has been enabled for the partner, the rider's actual name will be replaced with \"Deliveroo Rider\".\n\nThe following table explains rider statuses.\n\n| Rider Status | Description |\n| -- | -- |\n| `rider_assigned` | Rider was assigned to the order. |\n| `rider_unassigned` | Rider was unassigned to the order. |\n| `rider_arrived` | Rider nearby to the restaurant. |\n| `rider_confirmed_at_restaurant` | Rider arrival at the restaurant confirmed on rider's app. |\n| `rider_in_transit` | Rider en route to the customer. |\n| `rider_nearby` | Rider is arriving at customer. |\n","parameters":[{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D/parameters/0"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"example":null,"type":"object","properties":{"stacked_with":{"deprecated":true,"description":"This field is deprecated. Please use delivery_stack instead.","$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/stacked_with"},"delivery_eta":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/delivery_eta"},"riders":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1rider-status/post/requestBody/content/application~1json/schema/properties/riders/items"}},"delivery_priority":{"deprecated":true,"description":"This field is deprecated. Please use delivery_stack instead.","$ref":"#/paths/~1v1~1orders/post/responses/200/content/application~1json/schema/properties/delivery_priority"},"delivery_stack":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1rider-status/post/requestBody/content/application~1json/schema/properties/delivery_stack/items"}}}},"examples":{"Single rider assigned":{"value":{"stacked_with":["8CcV4aWaWBx4qMPz1J8okt"],"delivery_eta":{"lower":"2019-08-24T14:15:22Z","upper":"2019-08-24T14:15:22Z"},"riders":[{"full_name":"Rider N.","contact_number":"442039605331 (973087341)","bridge_code":"973087341","bridge_number":"442039605331","accuracy_in_meters":3,"lat":51.513822,"lon":-0.191615,"at":"2019-08-24T14:15:22Z","estimated_arrival_time":"2019-08-24T14:15:22Z","status_log":[{"status":"rider_assigned","at":"2019-08-24T14:15:22Z"}]}],"delivery_priority":["4c3-doYvTA-c4hhZy_LB6w","8CcV4aWaWBx4qMPz1J8okt"]}},"Multiple riders assigned":{"value":{"stacked_with":["tAke4r1VSjil2BMTLi3MeQ"],"delivery_eta":{"lower":"2021-10-26T13:15:00Z","upper":"2021-10-26T13:10:00Z"},"riders":[{"full_name":"Mary A.","contact_number":"4400123456 (7890123)","bridge_code":"7890123","bridge_number":"4400123456","accuracy_in_meters":200,"lat":51.4606780787024,"lon":0.0274540382576987,"at":"2021-07-05T12:55:26Z","estimated_arrival_time":"2021-07-05T13:18:10Z","status_log":[{"status":"rider_assigned","at":"2021-07-05T12:45:39.649Z"},{"status":"rider_unassigned","at":"2021-07-05T12:55:08.573Z"}]},{"full_name":"John T.","contact_number":"442039605334 (875285953)","bridge_code":"875285953","bridge_number":"442039605334","accuracy_in_meters":200,"lat":51.4606780787024,"lon":0.0274540382576987,"at":"2021-07-05T12:55:26Z","estimated_arrival_time":"2021-07-05T13:17:10Z","status_log":[{"status":"rider_assigned","at":"2021-07-05T12:55:05.649Z"},{"status":"rider_arrived","at":"2021-07-05T12:55:08.573Z"},{"status":"rider_in_transit","at":"2021-07-05T12:57:15.221Z"},{"status":"rider_nearby","at":"2021-07-05T12:58:20.591Z"}]}]}},"Order has reached terminal status":{"value":{}},"Order has not yet been assigned to a rider":{"value":{}}}}}},"404":{"description":"Resource was not found in our systems.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}}}]}}}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1quotes/post/responses/400/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}}}]}}}}}}},"/v1/deliveroo/order-status":{"post":{"summary":"Order Status Callback","tags":["Webhooks"],"parameters":[{"in":"header","name":"x-deliveroo-sequence-guid","description":"Deliveroo Sequential globally unique identifier (GUID). Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"1499765769"},{"in":"header","name":"x-deliveroo-hmac-sha256","description":"On registration, we'll provide you with a webhook secret. We'll use the webhook secret and a sequential globally unique identifier (GUID) to generate a hash of the order payload. When you receive a POST request, you will be able to compute a hash and verify that it's a genuine, authorized request sent from Deliveroo. Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"cc28251639033853f1cd1f8bde5a75cefba53c7c991d2b0db848b6747e258678"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"order_id":{"type":"string"},"restaurant_id":{"type":"string"},"restaurant_brand_id":{"type":"string"},"customer_id":{"type":"string"},"reason":{"type":"string"},"status":{"type":"string","title":"Status","enum":["pending","placed","accepted","confirmed","rejected","canceled","delivered"]},"status_log":{"type":"array","items":{"title":"Status Log Item","type":"object","properties":{"at":{"description":"Date and time in the ISO-8601 format when the order event changed.","type":"string"},"status":{"allOf":[{"description":"Status of the order. Can be pending, placed, accepted, confirmed (for scheduled orders), rejected or canceled."},{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/status"}]}}}},"credit_amount":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"refund_amount":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"handover":{"title":"HandoverVerification","x-stoplight":{"id":"4qcdizud3c6pk"},"type":"object","properties":{"code":{"type":"string","example":"42"},"attempts":{"type":"array","items":{"title":"HandoverVerificationAttempt","x-stoplight":{"id":"w7dyyryu8ha4e"},"type":"object","properties":{"provided_code":{"type":"string","example":"42"},"attempt_number":{"type":"integer","example":0},"is_correct":{"type":"boolean"}}}}},"examples":[{"code":"42","attempts":[{"provided_code":"13","attempt_number":0,"is_correct":false},{"provided_code":"98","attempt_number":1,"is_correct":false},{"provided_code":"42","attempt_number":2,"is_correct":true}]}]},"delivered_place":{"title":"DeliveredPlace","x-stoplight":{"id":"s6km7con0xijb"},"type":"object","properties":{"description":{"type":"string","enum":["CONCIERGE","RECEPTION","NEIGHBOUR","DOORSTOP","FRONT_GARDEN","OTHER","UNDELIVERED","REBOUND"]},"note":{"type":"string"}},"description":"Will be passed only when rider had problems delivering the order."},"delivery_eta":{"title":"OrderDeliveryEstimates","x-stoplight":{"id":"940qlvixmfz17"},"type":"object","properties":{"lower":{"type":"string","format":"date-time"},"upper":{"type":"string","format":"date-time"}},"description":"Provides an estimated delivery window for the order"},"resolution_time":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"prepare_for":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"items":{"type":"array","items":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items"}}}},"examples":{}}},"description":""},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"operationId":"signature-order-status","description":"This webhook is called when an order changes status or when the `prepare_for` field has changed."}},"/v1/deliveroo/order-refund":{"post":{"summary":"Order Refund Callback","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/1"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"order_id":"4K6CexdNbessmia4HDVewu9","customer_id":"7c779a04-6fa2-11eb-9439-0242ac130002","restaurant_id":"12345","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","reason":"Customer requested cancellation","status":"canceled","refund_amount":{"fractional":1234,"currency_code":"GBP"},"status_log":[{"at":"2019-06-04T18:18:19.454393Z","status":"accepted"}]}},"properties":{"order_id":{"type":"string"},"customer_id":{"type":"string"},"restaurant_id":{"type":"string"},"restaurant_brand_id":{"type":"string"},"reason":{"type":"string"},"reason_code":{"name":"RefundReasonCode","type":"string","example":"missing_items","enum":["order_undeliverable","order_other","missing_items","marked_as_delivered_not_arrived","missed_delivery","received_wrong_order","late_order","items_unavailable","dietary_requirements","failed_delivery_recovery","cooked_incorrectly","cold_food","incorrect_items","spilled_or_crushed","unknown"]},"status":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/status"},"refund_amount":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"refund_id":{"type":"string"},"status_log":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/status_log/items"}},"delivered_place":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/delivered_place"}}},"examples":{"Cancellation Request":{"value":{"order_id":"4K6CexdNbessmia4HDVewu9","customer_id":"7c779a04-6fa2-11eb-9439-0242ac130002","restaurant_id":"12345","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","reason":"Customer requested cancellation","status":"canceled","refund_amount":{"fractional":1234,"currency_code":"GBP"},"status_log":[{"at":"2019-06-04T18:18:19.454393Z","status":"accepted"}]}},"Refund Request":{"value":{"order_id":"DN1cOmXoRrCSBZa84P5V-A","restaurant_id":"12345","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","customer_id":"65361","reason":"Auto-generated ( Agent Name )\n\nIssue:\nMissing items\n\nAffected items:\n  Meal Deal for Two - £22.90\n    Affected modifiers for this item:\n      Chili Sauce - £0.00\n      NEW! General Tso's Chicken - £0.00\n      Crispy Chicken Bao - £0.00\n      NEW! General Tso's Chicken - £0.00\n      Claypot Aubergine Bao (Vg) - £0.00\n\nSelected resolution:\nRefund - £22.90\n\nNote:\n full refund","status":"delivered","delivered_place":{"description":"RECEPTION","note":"I tried to contact the client, she's not answering."},"refund_amount":{"currency_code":"GBP","fractional":2290},"status_log":[{"at":"2021-02-05T16:17:38.845429997Z","status":"placed"},{"at":"2021-02-05T16:17:57.831Z","status":"delivered"}]}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"operationId":"signature-order-refund","description":"This webhook is called when an order has reached a terminal state or the customer has requested a refund as a form of compensation."}},"/v1/deliveroo/order-credit":{"post":{"summary":"Order Credit Callback","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/1"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"order_id":"XkKEJWOsQbSspsPp6srKzK","restaurant_id":"12345","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","customer_id":"654321","reason":"incorrect_food","status":"delivered","delivered_place":{"description":"RECEPTION","note":"I tried to contact the client, she's not answering."},"credit_amount":{"currency_code":"GBP","fractional":2364},"status_log":[{"at":"2021-02-05T16:06:29.43054125Z","status":"placed"},{"at":"2021-02-05T16:06:48.515Z","status":"delivered"}]}},"properties":{"order_id":{"type":"string"},"restaurant_id":{"type":"string"},"restaurant_brand_id":{"type":"string"},"customer_id":{"type":"string"},"reason":{"type":"string"},"status":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/status"},"delivered_place":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/delivered_place"},"credit_amount":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"status_log":{"type":"array","items":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/status_log/items"}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"operationId":"signature-order-credit","description":"This webhook is called when a customer has requested credit as a form of compensation."}},"/v1/deliveroo/order-redelivery":{"post":{"summary":"Order Redelivery Callback","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/1"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"parent_order_id":"pEfGNBE4Sb6FGpd7Fv8L8A","new_order_id":"fhFidBvGQJefs49lGKfR4A","short_id":"1234","restaurant_id":"596","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","customer_id":"33080005","reason":"awol","amount":{"currency_code":"GBP","fractional":1080},"prepare_for":"2021-03-26T16:03:22Z","items":[{"description":"Single Mushroom Swiss Meal","id":"HBV","modifiers":[{"description":"Single Mushroom Swiss","id":"LAO","parent_id":"HBV","price_fractional":0},{"description":"Cheesy Fries (L) ","id":"HHR","parent_id":"HBV","price_fractional":80},{"description":"Tea","id":"JAC","parent_id":"HBV","price_fractional":0}],"price_fractional":800,"quantity":1},{"description":"Onion Rings Large","id":"HHI","price_fractional":380,"quantity":1},{"description":"Cheesy Fries Large","id":"HHP","modifiers":[{"description":"Single Mushroom Swiss","id":"LAO","parent_id":"HHP","price_fractional":0}],"price_fractional":420,"quantity":1}]}},"properties":{"parent_order_id":{"type":"string"},"new_order_id":{"type":"string"},"short_id":{"type":"string"},"restaurant_id":{"type":"string"},"restaurant_brand_id":{"type":"string"},"customer_id":{"type":"string"},"reason":{"type":"string"},"amount":{"$ref":"#/paths/~1v1~1refund-notifications/post/requestBody/content/application~1json/schema/properties/amount"},"prepare_for":{"$ref":"#/paths/~1v1~1quotes/post/responses/200/content/application~1json/schema/properties/created"},"items":{"type":"array","items":{"$ref":"#/paths/~1v2~1orders/post/responses/200/content/application~1json/schema/properties/items/items"}}}}}}},"responses":{"200":{"description":"Indicates if the restaurant accepts or rejects the redelivery request","content":{"application/json":{"schema":{"type":"object","x-examples":{"Example 1":{"decision":"rejected","reason":"out of stock"}},"properties":{"decision":{"name":"RedeliveryDecision","type":"string","enum":["accepted","rejected"]},"reason":{"type":"string","example":"Out of stock"}},"required":["decision"]},"examples":{"Accepted":{"value":{"decision":"accepted"}},"Rejected":{"value":{"decision":"rejected","reason":"Out of stock"}}}}}},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"operationId":"signature-order-redelivery","description":"This webhook is called when a customer has requested redelivery as a form of compensation.\n\nThe restaurant must return a valid response in order for the API to successfully process and create the new order"}},"/v1/deliveroo/rider-status":{"post":{"summary":"Rider Status Callback","tags":["Webhooks"],"parameters":[{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/0"},{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/parameters/1"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"order_id":"w7ICBuVZRmOctXOwyUVdsQ","restaurant_brand_id":"38763b54-dfe0-4cb7-906c-54f2fbb2f273","stacked_with":["tAke4r1VSjil2BMTLi3MeQ"],"delivery_priority":["tAke4r1VSjil2BMTLi3MeQ","y97n2Iwmciih9cHMhoTPzQ"],"delivery_eta":{"lower":"2021-10-26T13:15:00Z","upper":"2021-10-26T13:10:00Z"},"riders":[{"estimated_arrival_time":"2021-06-30T22:35:10.197448096Z","at":"2021-06-30T22:11:20.540915696Z","accuracy_in_meters":14,"lat":51.4850045052611,"lon":-0.1742838066332262,"full_name":"Fast Food Euismod","contact_number":"448496931925 ( 129355339 )","bridge_code":"129355339","bridge_number":"448496931925","status_log":[{"at":"2021-06-30T22:11:10.197448493Z","status":"rider_assigned"},{"at":"2021-06-30T22:11:20.525742664Z","status":"rider_nearby"}]}]}},"properties":{"order_id":{"type":"string"},"restaurant_brand_id":{"type":"string"},"stacked_with":{"deprecated":true,"description":"This field is deprecated. Please use delivery_stack instead.","type":"array","items":{"type":"string"}},"delivery_priority":{"deprecated":true,"description":"This field is deprecated. Please use delivery_stack instead.","type":"array","items":{"type":"string"}},"delivery_eta":{"$ref":"#/paths/~1v1~1deliveroo~1order-status/post/requestBody/content/application~1json/schema/properties/delivery_eta"},"riders":{"type":"array","items":{"type":"object","properties":{"full_name":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/rider_full_name"},"contact_number":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/rider_contact_number"},"bridge_code":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/rider_bridge_code"},"bridge_number":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/rider_bridge_number"},"customer_to_rider_contact_number":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/customer_to_rider_contact_number"},"accuracy_in_meters":{"type":"int","$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/accuracy_in_meters","description":"Rider's location accuracy in meters."},"lat":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lat","description":"Rider's location latitude."},"lon":{"$ref":"#/paths/~1v1~1orders~1%7Bid%7D~1location/get/responses/200/content/application~1json/schema/properties/lon","description":"Rider's location longitude."},"at":{"type":"string","format":"date-time","description":"When rider's information was last updated."},"estimated_arrival_time":{"type":"string","format":"date-time","description":"Estimated time when the rider will arrive at the restaurant."},"status_log":{"type":"array","items":{"type":"object","properties":{"status":{"$ref":"#/paths/~1v1~1orders/post/requestBody/content/application~1json/schema/properties/scheduled_webhook_events/items/properties/status/anyOf/1"},"at":{"type":"string","description":"Timestamp when the given event occurred.","format":"date-time"}}},"x-stoplight":{"id":"6089ce437362d"}}}}},"delivery_stack":{"type":"array","items":{"type":"object","x-examples":{"Example 1":{"order_id":"abc123","delivery_priority":0,"order_source":"FULFILLMENT_API"}},"description":"Multiple orders can be part of the same delivery journey, this is also known as stacked orders. This field represents an order that is part of this delivery stack.","properties":{"order_id":{"type":"string","description":"Represents the order public unique identifier. When order_source is 'FULFILLMENT_API' its value will be the id received during the order creation via Signature API. In other cases it will be Deliveroo's short id."},"delivery_priority":{"type":"integer","description":"Represents which order will be delivered first. Orders with lower delivery_priority will be delivery first."},"order_source":{"description":"Represents the Deliveroo channel used to place the order.","type":"string","title":"OrderSource","enum":["FULFILLMENT_API","CORE","KIOSK","FRONT_OF_HOUSE"]},"delivery_status":{"description":"Represents the delivery status of the order","type":"string","title":"DeliveryStatus","enum":["UNKNOWN","ACTIVE","COMPLETED","CANCELED"]}}}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}},"operationId":"signature-rider-status","description":"This callback is triggered when a rider status is updated.\n\nUsually a regular rider status lifecycle is `rider_assigned` => `rider_arrived (at the restaurant)` => `rider_in_transit (en route to customer)` => `rider_nearby`.\n\nThe following are all the valid values for a rider status.\n\n| Rider Status | Description |\n| -- | -- |\n| `rider_assigned` | Rider was assigned to the order. |\n| `rider_unassigned` | Rider was unassigned to the order. |\n| `rider_arrived` | Rider nearby to the restaurant. |\n| `rider_confirmed_at_restaurant` | Rider arrival at the restaurant confirmed on rider's app. |\n| `rider_in_transit` | Rider en route to the customer. |\n| `rider_nearby` | Rider is arriving at customer. |\n\nKeep in mind that while every attempt is made to make callbacks in the order they occurred and in a timely manner, neither can be absolutely guaranteed. It is also possible to receive the same callback more than once.\n\n_It is important to notice that these webhooks will only be triggered when rider_status_url configuration entry is set._"}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://auth.developers.deliveroo.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://auth-sandbox.developers.deliveroo.com/oauth2/token","scopes":{}}}}}},"security":[{"OAuth2-Production":[]}]}