{"openapi":"3.1.0","info":{"version":"1.0","title":"Developer Portal API","description":"API for interacting with scenarios"},"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api-sandbox.developers.deliveroo.com/dev-portal/"}],"paths":{"/scenarios":{"get":{"tags":["Scenarios"],"summary":"Get all scenarios","parameters":[{"name":"api","in":"query","description":"API product to retrieve the scenarios for","required":true,"schema":{"type":"string","enum":["pos_orders","signature","picking","order_status_updates"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Scenario"}},"examples":{"POS Orders Scenarios":{"$ref":"#/components/examples/pos_orders_scenario_example"},"Signature Orders Scenarios":{"$ref":"#/components/examples/signature_scenario_example"}}}}},"403":{"description":"Contract not signed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"examples":{"Contract not signed":{"$ref":"#/components/examples/err_contract_not_signed"}}}}}}}},"/scenarios/{id}":{"get":{"tags":["Scenarios"],"summary":"Get a scenario by ID","parameters":[{"name":"id","in":"path","description":"ID of the scenario","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scenario"},"examples":{"POS ASAP Order":{"$ref":"#/components/examples/pos_orders_scenario_example"},"Signature Simple Order Creation":{"$ref":"#/components/examples/signature_scenario_example"}}}}}}}},"/scenarios/{id}/runs":{"post":{"tags":["Scenarios"],"summary":"Trigger a scenario run by scenario ID","parameters":[{"name":"id","in":"path","description":"ID of the scenario","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioRunResponse"},"examples":{"Triggered POS Order Scenario Run":{"$ref":"#/components/examples/scenario_run_response_example"},"Triggered a Signature Scenario Run":{"$ref":"#/components/examples/signature_scenario_run_response_example"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"examples":{"Scenario not found":{"$ref":"#/components/examples/err_scenario_not_found"}}}}}}},"get":{"tags":["Scenarios"],"summary":"Get runs of a scenario","parameters":[{"name":"id","in":"path","description":"ID of the scenario","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScenarioRunResponse"}},"examples":{"ASAP Order Scenario Run":{"$ref":"#/components/examples/scenario_run_response_example"},"Signature Scenario Run":{"$ref":"#/components/examples/signature_scenario_run_response_example"}}}}}}}},"/scenarios/{id}/runs/{run_id}":{"get":{"tags":["Scenarios"],"summary":"Get a scenario run by ID","parameters":[{"name":"id","in":"path","description":"ID of the scenario","required":true,"schema":{"type":"string"}},{"name":"run_id","in":"path","description":"RunID of the scenario run","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioRunResponse"},"examples":{"POS ASAP Order Scenario Run":{"$ref":"#/components/examples/scenario_run_response_example"},"Signature Scenario Run":{"$ref":"#/components/examples/signature_scenario_run_response_example"}}}}}}}}},"components":{"schemas":{"Parameter":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"}},"required":["id","type"]},"TextBox":{"type":"object","properties":{"name":{"type":"string"},"text":{"type":"string"},"id":{"type":"string"}}},"PreviewField":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"Scenario":{"type":"object","properties":{"id":{"type":"string","description":"ID of the scenario"},"api":{"type":"string","description":"API suite the scenario belongs to"},"title":{"type":"string","description":"Title of the scenario"},"description":{"type":"string","description":"Description of the scenario"},"isOptional":{"type":"boolean","description":"Whether successfully completing the scenario is optional for production access."},"buttonText":{"type":"string","description":"Text shown for the button to start the scenario in the UI"},"preview":{"type":"object","properties":{"title":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/PreviewField"}}}},"parameters":{"type":"array","description":"List of parameters that need to be provided to run the scenario","items":{"$ref":"#/components/schemas/Parameter"}},"textBoxes":{"type":"array","items":{"$ref":"#/components/schemas/TextBox"}}}},"ScenarioRunResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"scenario_id":{"type":"string"},"status":{"type":"string"},"finished":{"type":"boolean"},"passed":{"type":"boolean"},"validated":{"type":"boolean"},"parameters":{"type":"object","additionalProperties":{"type":"object"}},"text_boxes":{"type":"array","items":{"$ref":"#/components/schemas/TextBox"}},"logs":{"type":"array","items":{"$ref":"#/components/schemas/Log"}},"updated_at":{"type":"integer","format":"int64"}}},"Log":{"type":"object","properties":{"logged_at":{"type":"integer","format":"int64"},"message":{"type":"string"}}},"BadRequestError":{"type":"object","properties":{"type":{"type":"string","description":"Error type"},"status":{"type":"integer","description":"The HTTP status code for the error"},"detail":{"type":"string","description":"Further details about the error"},"resource_type":{"type":"string","description":"The type of resource that was not found"}}}},"securitySchemes":{"OAuth2ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://auth-sandbox.developers.deliveroo.net/oauth2/token","scopes":{}}}}},"examples":{"pos_orders_scenario_example":{"value":[{"id":"asap-order","api":"pos_orders","title":"Send ASAP test order","description":"This scenario will trigger a test order event","isOptional":false,"buttonText":"Send test order","preview":{"title":"Preview test order","items":[{"name":"Order Type","value":"ASAP"},{"name":"Order notes","value":"Please be aware of allergies"}]},"parameters":[{"id":"restaurant_drn","type":"restaurant","label":"Where to send the order"},{"id":"basket_id","type":"basket_id","label":"ID of a Developer Portal basket"}],"textBoxes":[{"name":"Payload","text":"{\"occurred_at\":\"2021-01-11T19:33:00Z\",\"status\":\"succeeded\",\"reason\":\"\",\"notes\":\"\"}"},{"id":"sync-status","name":"Returned Sync Status"}]}]},"scenario_run_response_example":{"value":[{"id":"d17dcc4d-b0f6-4f84-b19e-423ab10c717c","scenario_id":"asap-order","status":"","finished":false,"passed":false,"validated":false,"parameters":{"items":[{"name":"Chicken Burger","quantity":1,"modifiers":[{"name":"Mayo Sauce","quantity":1,"modifiers":[],"unit_price":{"fractional":0,"currency_code":"GBP"},"pos_item_id":"OM17001","total_price":{"fractional":0,"currency_code":"GBP"},"discount_amount":{"fractional":0,"currency_code":"GBP"},"operational_name":"Mayo Sauce"}],"unit_price":{"fractional":900,"currency_code":"GBP"},"pos_item_id":"MU11001","total_price":{"fractional":900,"currency_code":"GBP"},"discount_amount":{"fractional":0,"currency_code":"GBP"},"operational_name":"Chicken Burger"}],"basket_id":"90d3fa44-128e-4cdf-9157-b5ebaa7f2e0b","restaurant_drn":"drn:roo:restaurant:gb:c6f03b5b-b92d-4a90-af0b-bd67cb8d87e4"},"text_boxes":[],"logs":[{"logged_at":1694181423,"message":"Completed step common.NotifyOrderCreationStep"},{"logged_at":1694181425,"message":"Completed step common.WaitStep"},{"logged_at":1694181425,"message":"Completed step common.OrderStateChangedStep"},{"logged_at":1694181425,"message":"Running validation..."},{"logged_at":1694181615,"message":"Validation failed due to an internal error.","updated_at":1694181425}]}]},"signature_scenario_run_response_example":{"value":[{"id":"285a3a3f-af6e-4cb8-aebd-81e8d34da84c","scenario_id":"simple-create-order-scenario","status":"","finished":false,"passed":false,"validated":false,"parameters":{},"text_boxes":[],"logs":[],"updated_at":1694182056}]},"signature_scenario_example":{"value":[{"id":"simple-create-order-scenario","api":"signature","title":"Run a simple CreateOrder scenario","description":"This scenario allows you to test your integration on the most basic sequence of events of an order...","isOptional":false,"buttonText":"Start","preview":{"title":"","items":null}}]},"err_scenario_not_found":{"value":{"type":"/dev-portal/errors/not_found","status":404,"resource_type":"scenario"}},"err_contract_not_signed":{"value":{"type":"/dev-portal/errors/forbidden","status":403,"detail":"No contract has been signed for accessing this API","resource_type":"contract"}}}},"security":[{"OAuth2ClientCredentials":[]}]}