{"openapi":"3.1.0","info":{"title":"Menu API","version":"1.0"},"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api.developers.deliveroo.com/menu","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com/menu","description":"Sandbox"}],"paths":{"/v1/brands/{brand_id}/menus/{id}":{"parameters":[{"name":"brand_id","in":"path","description":"The unique identifier for the brand (Deliveroo's integration team will provide this).","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"The unique identifier for the menu for the given \"brand\" context.","schema":{"type":"string"},"required":true}],"get":{"operationId":"get_v1-brands-brand-id-menus-id","tags":["v1"],"summary":"Get menu","description":"The Get Menu API allows you to retrieve a menu created via the Upload Menu API. You can call this API to view the latest status of the menu uploaded in Deliveroo.\n\nNote that currently menus created using the Menu Manager cannot be retrieved using this API. Only menus created via the Upload Menu API can be retrieved through this endpoint. If a menu for the menu ID passed in the request does not exist this API will return an error response.\n","responses":{"200":{"description":"OK","content":{"application/json":{"example":{"name":"site-234 menu","menu":{"categories":[{"description":{"en":"Freshly made porridge"},"id":"porridge","item_ids":["porridge_blueberries","porridge_banana"],"name":{"en":"Porridge 🥣"}},{"description":{},"id":"drinks","item_ids":["tea","coffee","orange_juice"],"name":{"en":"Drinks ☕️"}},{"description":{},"id":"breakfast-bundle","item_ids":["breakfast-bundle"],"name":{"en":"Breakfast bundle 📦"}}],"items":[{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"725272730706","barcodes":["725272730706","9780201379624","4605664000050"],"id":"orange_juice","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Orange juice"},"nutritional_info":{},"operational_name":"orange-juice","plu":"orange_juice_$69","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[{"type":"DEPOSIT_FEE","amount":15}],"price":250},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with a drink of your choice."},"diets":[],"external_data":"","highlights":[],"ian":"5012345678900","barcodes":["5012345678900","3014260115531"],"id":"breakfast-bundle","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":["choose_your_porridge","choose_your_drink"],"name":{"en":"Breakfast bundle"},"nutritional_info":{},"operational_name":"Breakfast bundle","plu":"breakfast_bundle123","price_info":{"overrides":[],"fees":[],"price":450},"tax_rate":"20","type":"ITEM"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with blueberries and cinnamon"},"diets":[],"external_data":"","highlights":["in_store_price"],"ian":"50123452","barcodes":["50123452"],"id":"porridge_blueberries","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with blueberries"},"nutritional_info":{"energy_kcal":{"high":456,"low":123},"hfss":false},"operational_name":"Porridge with blueberries","plu":"porridge_blueberries123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"price":350,"fees":[]},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"ian":"799439112766","barcodes":["799439112766"],"id":"whole_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Whole milk"},"nutritional_info":{},"operational_name":"whole-milk","plu":"whole_milk_$39","price_info":{"overrides":[],"price":0,"fees":[]},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"coffee","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["choose_milk"],"name":{"en":"Coffee"},"nutritional_info":{},"operational_name":"coffee","plu":"coffee_$78","price_info":{"fees":[],"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"price":250},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"0799439112766","barcodes":["0799439112766"],"id":"tea","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":4,"modifier_ids":["choose_milk"],"name":{"en":"Tea"},"nutritional_info":{},"operational_name":"tea","plu":"tea_$23","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":150},"tax_rate":"20","type":"ITEM"},{"allergies":["peanuts"],"classifications":[],"contains_alcohol":false,"description":{"en":"Crunchy peanut butter"},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"peanut_butter","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Peanut butter"},"nutritional_info":{},"operational_name":"peanut-butter","plu":"peanut_butter_123","price_info":{"overrides":[],"fees":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Granola"},"diets":[],"external_data":"","highlights":[],"ian":"1234567890128","barcodes":["1234567890128"],"id":"granola","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Granola"},"nutritional_info":{},"operational_name":"granola","plu":"granola_123","price_info":{"overrides":[],"fees":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"no_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":[],"name":{"en":"No milk"},"nutritional_info":{},"operational_name":"no-milk","plu":"no_milk_$49","price_info":{"overrides":[],"fees":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Honey"},"diets":[],"external_data":"","highlights":[],"ian":"9780444505156","barcodes":["9780444505156"],"id":"honey","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Honey"},"nutritional_info":{},"operational_name":"honey","plu":"honey_123","price_info":{"overrides":[],"fees":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with bananas and cinnamon"},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"porridge_banana","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with bananas"},"nutritional_info":{},"operational_name":"porridge-ban","plu":"porridge_banana123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":350},"tax_rate":"20","type":"ITEM"}],"mealtimes":[{"category_ids":["breakfast-bundle","porridge","drinks"],"description":{"en":"Best breakfast menu in town! Everything on the menu is freshly made at the start of the day."},"id":"breakfast-menu","image":{"url":""},"name":{"en":"Breakfast menu"},"schedule":[{"day_of_week":0,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":1,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":2,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":3,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":4,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":5,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":6,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]}],"seo_description":null}],"modifiers":[{"description":{"en":""},"id":"choose_milk","item_ids":["no_milk","whole_milk"],"max_selection":1,"min_selection":0,"name":{"en":"Choose milk"},"repeatable":true},{"description":{"en":""},"id":"choose_your_porridge","item_ids":["porridge_blueberries","porridge_banana"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your porridge"},"repeatable":true},{"description":{"en":""},"id":"choose_your_drink","item_ids":["tea","coffee","orange_juice"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your drink"},"repeatable":true},{"description":{"en":""},"id":"extra_toppings","item_ids":["honey","peanut_butter","granola"],"max_selection":3,"min_selection":0,"name":{"en":"Choice of extra toppings 🍯"},"repeatable":false}]},"site_ids":["site-234","site-456"]},"schema":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"can't find requested live menu"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"put":{"tags":["v1"],"summary":"Upload menu","description":"With the Upload Menu API you can:\n\n1. Create a new menu in Deliveroo.\n2. Update an existing menu using the same menu ID that was sent when the menu was created.\n3. Assign multiple sites to the same menu.\nUse the Upload menu API if you wish to create menus or update existing menus to let users see the most updated status of your menus and offerings. Reduce the chances of poor customer experience due to orders being placed against an outdated menu by updating outdated menus in real time without any manual intervention.\n\nThis endpoint is rate limited at 1 request per minute per site. Additionally, for menus with payloads over 5 MB, there is also a limit of 10 requests per 10 seconds per entire integration partner.\n\nThe request size limit is 10 MB. However, to make sure you can successfully GET your menus, you should keep your requests no larger than 9 MB as the GET response payload size can be larger than the menu you sent through PUT. In general for large menus we recommend using the new Catalogue API (the documentation is coming soon).\n","requestBody":{"content":{"application/json":{"example":{"name":"site-234 menu","menu":{"categories":[{"description":{"en":"Freshly made porridge"},"id":"porridge","item_ids":["porridge_blueberries","porridge_banana"],"name":{"en":"Porridge 🥣"}},{"description":{},"id":"drinks","item_ids":["tea","coffee","orange_juice"],"name":{"en":"Drinks ☕️"}},{"description":{},"id":"breakfast-bundle","item_ids":["breakfast-bundle"],"name":{"en":"Breakfast bundle 📦"}}],"items":[{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"barcodes":["725272730706","9780201379624","4605664000050"],"id":"orange_juice","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Orange juice"},"nutritional_info":{},"operational_name":"orange-juice","plu":"orange_juice_$69","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[{"type":"DEPOSIT_FEE","amount":15}],"price":250},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with a drink of your choice."},"diets":[],"external_data":"","highlights":[],"barcodes":["5012345678900","3014260115531"],"id":"breakfast-bundle","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":["choose_your_porridge","choose_your_drink"],"name":{"en":"Breakfast bundle"},"nutritional_info":{},"operational_name":"Breakfast bundle","plu":"breakfast_bundle123","price_info":{"overrides":[],"fees":[],"price":450},"tax_rate":"20","type":"ITEM"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with blueberries and cinnamon"},"diets":[],"external_data":"","highlights":["in_store_price"],"barcodes":["50123452"],"id":"porridge_blueberries","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with blueberries"},"nutritional_info":{"energy_kcal":{"high":456,"low":123},"hfss":false},"operational_name":"Porridge with blueberries","plu":"porridge_blueberries123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":350},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"barcodes":["799439112766"],"id":"whole_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Whole milk"},"nutritional_info":{},"operational_name":"whole-milk","plu":"whole_milk_$39","price_info":{"overrides":[],"fees":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"barcodes":["5024121099847"],"id":"coffee","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["choose_milk"],"name":{"en":"Coffee"},"nutritional_info":{},"operational_name":"coffee","plu":"coffee_$78","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":250},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"barcodes":["0799439112766"],"id":"tea","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":4,"modifier_ids":["choose_milk"],"name":{"en":"Tea"},"nutritional_info":{},"operational_name":"tea","plu":"tea_$23","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":150},"tax_rate":"20","type":"ITEM"},{"allergies":["peanuts"],"classifications":[],"contains_alcohol":false,"description":{"en":"Crunchy peanut butter"},"diets":[],"external_data":"","highlights":[],"barcodes":["5024121519116"],"id":"peanut_butter","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Peanut butter"},"nutritional_info":{},"operational_name":"peanut-butter","plu":"peanut_butter_123","price_info":{"overrides":[],"fees":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Granola"},"diets":[],"external_data":"","highlights":[],"barcodes":["1234567890128"],"id":"granola","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Granola"},"nutritional_info":{},"operational_name":"granola","plu":"granola_123","price_info":{"overrides":[],"fees":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"barcodes":["5060040253731"],"id":"no_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":[],"name":{"en":"No milk"},"nutritional_info":{},"operational_name":"no-milk","plu":"no_milk_$49","price_info":{"overrides":[],"fees":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Honey"},"diets":[],"external_data":"","highlights":[],"barcodes":["3560070323067"],"id":"honey","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Honey"},"nutritional_info":{},"operational_name":"honey","plu":"honey_123","price_info":{"overrides":[],"fees":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with bananas and cinnamon"},"diets":[],"external_data":"","highlights":[],"barcodes":["5000168036755"],"id":"porridge_banana","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with bananas"},"nutritional_info":{},"operational_name":"porridge-ban","plu":"porridge_banana123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":350},"tax_rate":"20","type":"ITEM"}],"mealtimes":[{"category_ids":["breakfast-bundle","porridge","drinks"],"description":{"en":"Best breakfast menu in town! Everything on the menu is freshly made at the start of the day."},"id":"breakfast-menu","image":{"url":""},"name":{"en":"Breakfast menu"},"schedule":[{"day_of_week":0,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":1,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":2,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":3,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":4,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":5,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":6,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]}],"seo_description":null}],"modifiers":[{"description":{"en":""},"id":"choose_milk","item_ids":["no_milk","whole_milk"],"max_selection":1,"min_selection":0,"name":{"en":"Choose milk"},"repeatable":true},{"description":{"en":""},"id":"choose_your_porridge","item_ids":["porridge_blueberries","porridge_banana"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your porridge"},"repeatable":true},{"description":{"en":""},"id":"choose_your_drink","item_ids":["tea","coffee","orange_juice"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your drink"},"repeatable":true},{"description":{"en":""},"id":"extra_toppings","item_ids":["honey","peanut_butter","granola"],"max_selection":3,"min_selection":0,"name":{"en":"Choice of extra toppings 🍯"},"repeatable":false}],"experience":"aisles"},"site_ids":["site-234","site-456"]},"schema":{"type":"object","required":["menu","name","site_ids"],"properties":{"name":{"description":"Name of the menu","type":"string"},"menu":{"type":"object","description":"Menu object","required":["mealtimes","categories","items"],"properties":{"mealtimes":{"description":"List of mealtimes. A mealtime act as a wrapper around a group of categories enabling them to be displayed during specified time periods.\n","type":"array","items":{"type":"object","required":["id","name","image","schedule","category_ids"],"properties":{"id":{"description":"Unique identifier for the mealtime.","maxLength":255,"type":"string"},"name":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated name of the mealtime."}]},"description":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated description of the mealtime. You need to send the language code as supported in Deliveroo. For a list of supported languages and corresponding language codes, refer to the 'Language Codes section below'.\n"}]},"seo_description":{"type":"object","additionalProperties":{"type":"string"},"example":{"en":"English text","it":"Italian text"}},"image":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/items/items/properties/image/allOf/0"},{"description":"Object for mealtime images.\nContains a URL for the image. See mealtime images.\nAccepted formats: JPEG, PNG, at least 1920x1080 pixels, 16:9 aspect ratio.\n"}]},"category_ids":{"type":"array","description":"IDs of the categories inside the mealtime.","items":{"type":"string"}},"schedule":{"description":"Schedule describes the operational hours of the menu. See mealtime schedule.","type":"array","items":{"type":"object","required":["day_of_week","time_periods"],"properties":{"day_of_week":{"description":"DayOfWeek is the day of the week on which these hours will be applied. Accepted values are 0 through 6, where 0 is Monday and 6 is Sunday.","type":"integer","format":"int32","enum":[0,1,2,3,4,5,6]},"time_periods":{"description":"TimePeriods are the time spans during which the menu is available.","type":"array","items":{"type":"object","required":["start","end"],"properties":{"start":{"description":"Start time at which the menu becomes available, in 24-hour HH:MM format, e.g. “08:30”, “23:00”. The start time reflects an abstract date and time that is not tied to a specific time and place (for example, breakfast starts on weekdays at 9:00 A.M.). See schedule rules\n","type":"string"},"end":{"description":"End the time at which the menu ceases to be available, in 24-hour HH:MM format, e.g. “08:30”, “23:00”.\n","type":"string"}}}}}}}}}},"categories":{"description":"List of categories. There's a limit of 100 categories per menu. If you get over the limit, you'll get \"the length must be between 1 and 100\" request error.\n","type":"array","minItems":1,"maxItems":100,"items":{"type":"object","required":["id","name","item_ids"],"properties":{"id":{"description":"Unique identifier for the category.","maxLength":255,"type":"string"},"name":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated name of the category. Length: 3-120."}]},"description":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated description of the category. You need to send the language code as supported in Deliveroo. For a list of supported languages and corresponding language codes, refer to the 'Language Codes section below'. Length: 0-255\n"}]},"item_ids":{"type":"array","description":"IDs of the items inside the category.","items":{"type":"string"}}}}},"items":{"description":"List of items. There's a limit of 5000 items per menu. If you get over the limit, you'll get \"the length must be between 1 and 5000\" request error.\n","type":"array","minLength":1,"maxLength":5000,"items":{"type":"object","required":["id","name","price_info","tax_rate","contains_alcohol"],"properties":{"id":{"description":"Unique identifier for the item.","maxLength":255,"type":"string"},"name":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated name of the item. Length: 2-120."}]},"description":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated description of the item. You need to send the language code as supported in Deliveroo. For a list of supported languages and corresponding language codes, refer to the 'Language Codes section below'. Length: 0-500.\n"}]},"operational_name":{"type":"string","description":"Operational name the restaurant uses in-house for the item.","maxLength":255},"price_info":{"description":"Price information for the item. Allows context specific overrides.","type":"object","required":["price"],"properties":{"price":{"description":"Positive integer or zero Price in minor units of the currency, eg. pennies for GBP, or cents for EUR.","type":"integer","format":"int64","minimum":0},"overrides":{"description":"Price overrides for the item in different contexts.","type":"array","items":{"type":"object","properties":{"type":{"description":"Type of the context where the price is overridden.","type":"string","enum":["ITEM","MODIFIER","PICKUP_ITEM","PICKUP_MODIFIER"]},"id":{"description":"Unique identifier for the context.","type":"string"},"price":{"description":"Price in minor units of the currency, eg. pennies for GBP, or cents for EUR. positive integer or zero\n","minimum":0,"type":"integer","format":"int64"}}},"maxItems":100},"fees":{"description":"Fees applied to the item other than the Price","type":"array","items":{"type":"object","properties":{"type":{"description":"Type of the extra Fees applied on the item","type":"string","enum":["DEPOSIT_FEE"]},"amount":{"description":"Price in minor units of the currency, eg. pennies for GBP, or cents for EUR. positive integer or zero\n","minimum":0,"type":"integer","format":"int64"}}}}}},"plu":{"description":"PLU (price lookup code) for the item. This field is Mandatory if the menu linked to pos integrated site.\n","type":"string","maxLength":255},"ian":{"description":"IAN is the International Article Number provided by the partner, deprecated by `barcodes`.","type":"string","deprecated":true},"barcodes":{"description":"The barcodes for this item, accepted in the following formats: EAN-8, UPC-A, EAN-12, EAN-13, GTIN-14. The first barcode in this list will be considered the primary barcode with regards to SKU derivation. Note that all barcodes in this field should correspond to the appropriate pack size. For example, a barcode for a  singular item should not be added to the barcodes for a 6-pack of the same item.\n","type":"array","maxItems":10,"items":{"type":"string"}},"image":{"allOf":[{"type":"object","properties":{"url":{"type":"string"}}},{"description":"Object containing the item images.\nURL for the image (not included in GET Menu v2 response). Accepted formats: JPEG, PNG, at least 1920x1080 pixels, 16:9 aspect ratio.\n"}]},"is_eligible_as_replacement":{"description":"Describes whether this item can be used as replacement during a substitution (relevant to grocery partners only, default true).\n","type":"boolean","default":true},"is_eligible_for_substitution":{"description":"Describes whether this item can be substituted if it's out of stock (relevant to grocery partners only, default true).\n","type":"boolean","default":true},"is_returnable":{"description":"If marked yes, customers are able to return this item to store. This is only applicable to an item of type `ITEM`; if set to true on an item of type `CHOICE` the update is rejected. (default false).\n","type":"boolean","default":false},"tax_rate":{"type":"string","format":"double","minimum":0,"maximum":100,"description":"Tax rate percentage (from 0-100) for the item.\nAccepted tax_rates by country:\nAE: 0.0, 5.0\nBE: 0.0, 6.0, 12.0, 21.0\nFR: 0.0, 2.1, 5.5, 10.0, 20.0\nHK: 0.0\nIE: 0.0, 9.0, 13.5, 23.0\nIT: 0.0, 4.0, 5.0, 10.0, 22.0\nKW: 0.0\nSG: 0.0, 9.0\nGB: 0.0, 5.0, 12.5, 20.0\nQA: 0.0\n"},"modifier_ids":{"description":"Modifiers associated with the item.","type":"array","items":{"type":"string"}},"allergies":{"description":"Item's allergy information. Permitted strings listed in the 'Item allergens' section above. Empty array means \"allergy information unavailable.\n","type":"array","items":{"type":"string"}},"classifications":{"description":"Item's classifications information. Permitted strings listed in the 'Item classifications information' in Menu guidelines section.\n","type":"array","items":{"type":"string","enum":["early_stage_infant_formula","pharmaceuticals_aspirin","pharmaceuticals_ibuprofen","pharmaceuticals_paracetamol","alcohol_product","vape_product","tobacco_product","cbd_product","non_muslim","less_healthy_foods"]}},"diets":{"description":"Item's dietary information. Permitted strings listed in the 'Item dietary information' section above.\n","type":"array","items":{"type":"string"}},"nutritional_info":{"type":"object","description":"Item's nutritional information.","properties":{"energy_kcal":{"type":"object","description":"Item's Calorie information. If present and empty, 0 calories will be assumed.","properties":{"low":{"description":"Lower bound of energy in \"Kcal\" in the item. >= 0.","type":"integer","format":"int64","minimum":0},"high":{"description":"Upper bound of energy in \"Kcal\" in the item. >= 0, >= item.nutritional_info.energy_kcal.low.","minimum":0,"type":"integer","format":"int64"}}},"hfss":{"description":"Describes whether the item is considered high in saturated fat, salt and sugar (HFSS), according to the Department of Health’s Nutrient Profiling Model (relevant to some grocery partners in England and Wales only). Set this to true to mark this item as HFSS.\n","type":"boolean"}}},"contains_alcohol":{"description":"Describes if the item contains an age restricted item requiring an ID check eg alcohol, tobacco.","type":"boolean"},"max_quantity":{"description":"Maximum quantity of the item the consumer can order.","type":"integer","format":"int64","minimum":0},"external_data":{"description":"Free-form text field reserved for the site's use. It's added to order data in Picking API webhook calls.","type":"string","maxLength":1000},"highlights":{"description":"Highlights information. This is for partners to control some of the visual attributes of an item card and apply some \"highlight\" behaviour.\nAvailable labels:\n\"in_store_price\" - to signal to a customer that a given item is matching the price in restaurant/store.\n\"suitable_for_gifting\" - to signal to a customer that a given item is suitable for gifting.\n","type":"array","items":{"type":"string","enum":["in_store_price"]}},"type":{"description":"Type of the item in menu.\n  An item of type \"ITEM\" is something that can be sold by itself.\n  An item of type \"CHOICE\" is typically something like an option in a modifier group, something that can't be sold by itself - often used to do add-ons or customisations.\n  An item of type \"BUNDLE\" is a group of items that may or may not have a discount.\nFor example \"Salad\" would be \"ITEM\", \"choose your size\" - modifier, \"Small\" or \"Large\" would be a CHOICE\" and Meal deal for one would be a \"BUNDLE\".\n","type":"string","enum":["CHOICE","ITEM","BUNDLE"]},"party_size":{"description":"This field represents the number of people the item is intended for. It supports any value between 1 and 99.\n","type":"integer","format":"int32","minimum":1,"maximum":99}}}},"modifiers":{"description":"List of modifiers.","type":"array","items":{"type":"object","required":["id","name"],"properties":{"id":{"description":"Unique identifier for the modifier.","maxLength":255,"type":"string"},"name":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated name of the modifier. You need to send the language code as supported in Deliveroo. For a list of supported languages and corresponding language codes, refer to the 'Language Codes section below'. Length: 1-250.\n"}]},"description":{"allOf":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema/properties/menu/properties/mealtimes/items/properties/seo_description"},{"description":"Translated description of the modifier. Length: 0-500."}]},"min_selection":{"description":"Minimum number of items the consumer can choose from the modifier.","type":"integer","format":"int64"},"max_selection":{"description":"Maximum number of items the consumer can choose from the modifier.","type":"integer","format":"int64"},"repeatable":{"description":"Describes whether a consumer can choose the same item inside a modifier group multiple times.","type":"boolean"},"item_ids":{"description":"IDs of the items inside the modifier.","type":"array","items":{"type":"string"}},"type":{"description":"Describes the type of modification:\n  \"up-sell-existing-items\" is for an existing main menu item sold alongside a main item, e.g coca-cola\n  \"remove-ingredient\" is for removing an ingredient from an item, e.g remove egg\n  \"add-ingredient\" is for adding an additional ingredient to an item, e.g add tomatoes\n  \"cooking-instruction\" is for cooking instructions on how to prepare the item, e.g medium rare\n  \"size-modification\" is for choosing item size, e.g small\n  \"product-variation\" is for product variations, e.g. brioche bun or gluten free\n  \"gift-wrap\" is for items requires gift wrapping\n  \"bundle-item\" is for existing menu items sold as part of a bundle.          \n  \"add-separate-condiment\" is for adding a separate condiment to the item, e.g. ketchup sachet.\n","type":"string","enum":["up-sell-existing-items","remove-ingredient","add-ingredient","cooking-instruction","size-modification","product-variation","gift-wrap","bundle-item","add-separate-condiment"]}}}},"experience":{"description":"Setting the experience allows grocery partners to customize menu processing and presentation for a more tailored consumer experience. This is an optional field. If omitted, menus will be treated in standard way. Available values:\n  \"aisles\" - The UI menu presentation is driven by Deliveroo's consumer taxonomy, automatically assigning categories to items.\n","type":"string","enum":["aisles"]}}},"site_ids":{"description":"IDs of the sites the menu should be published to.","type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"result":{"type":"string","enum":["MATCH_EXISTING_MENU"]}}}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"{\"items\":{\"0\":{\"description\":{\"en\":\"the length must be no more than 500\"}}}}"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"resource not found"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"409":{"description":"Conflict","content":{"application/json":{"example":{"error":{"code":"conflict","message":"conflict"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"example":{"error":{"code":"unprocessable_entity","message":"unprocessable entity"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"429":{"description":"Too many requests","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"too many requests"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"503":{"description":"Internal server error","content":{"application/json":{"example":{"error":{"code":"service_unavailable","message":"service unavailable"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v1/brands/{brand_id}/menus/{id}/plus":{"parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/1"}],"post":{"tags":["v1"],"summary":"Update PLU (Price Look-Up) to Menu Item mapping","description":"Menu items are stored in our platform and can be identified by their ID, which is provided by the restaurant partner. When a restaurant is integrated with our POS APIs, an additional ID is used to identify the same item the customer is ordering on the restaurant partner POS systems. These IDs are sometimes referred as \"sku\", \"external_id\", or \"plu\": this - plu is what we call those identifiers that must find a match on the restaurant's POS system. Our menus APIs can be used to upload an entire menu, including their PLU codes. This API, however, is meant to be the way partners can provide and update that mapping between an item and its PLU code.\n","requestBody":{"description":"The request body must contain an array of JSON objects representing the mapping between an item and its plu.\n","content":{"application/json":{"example":[{"item_id":"1234","plu":"1234-plu"},{"item_id":"5678","plu":"5678-plu"}],"schema":{"type":"array","items":{"type":"object","properties":{"item_id":{"description":"The unique identifier of an existing item within the menu identified by the resource.\n","type":"string"},"plu":{"description":"The PLU (Price Look-Up) that identifies the item and its price in the external system.\n","type":"string"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"status":"OK"},"schema":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/200/content/application~1json/schema"}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"{\"items\":{\"0\":{\"description\":{\"en\":\"the length must be no more than 500\"}}}}"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/404"},"409":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/409"},"429":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/429"},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v1/brands/{brand_id}/menus/{id}/item_unavailabilities/{site_id}":{"parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/1"},{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu/parameters/1"}],"put":{"tags":["v1"],"summary":"Replace All Menu Item Unavailabilities","description":"Once a menu is sent to our platform, all new items in the menu are theoretically \"available\", therefore a customer can order them. This endpoint allows the caller to set items as \"unavailable\" or \"hidden\":\n\n**Statuses**\n\n- `unavailable` - the item is \"greyed out\", \"striked-through\" and marked as \"sold out\" on our platform. It will be made available during the next [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n - `hidden` - the item is not visible in the menu for the customers. It will not be affected by the [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n\nThe call acts as a **complete override** of all the item unavailabilities for the given menu/site; as a corollary, sending an empty array will make everything available again.\n\n**Examples**\n\nSee the following sequence of calls:\n1. set `orange_juice` and `granola` unavailable\n2. set `orange_juice` unavailable\n\nAfter those calls, only `orange_juice` will remain unavailable. `granola` will be available.\n\n**Interference with other channels**\n\nRemember that unavailabilities can be changed through multiple channels (API, Deliveroo tablet, Restaurant Hub). This means that using Replace All Unavailabilities endpoint without knowing the current state of the stock can reset availability of items that were made unavailable/hidden by other channels. Thus we recommend to either:\n- use the [Update Individual Item Unavailability (POST)](ref:post_v1-brands-brand-id-menus-id-item-unavailabilities-site-id) instead \n- or GET the unavailabilities first, so that you're fully aware of state of the stock when preparing the PUT request.\n\n**Rate Limit**\n\nThis endpoint is rate limited at 1 request per minute per site.\n\n**Item IDs not found**\n\nAny item IDs sent in the request that don't exist on the requested menu will be ignored in the update. This won't prevent the request from succeeding.\n\n**Changing unavailabilities after menu upload**\n\nIf you want to set item unavailabilities right after calling Upload Menu request, first wait to receive the [Menu Upload Result Webhook](ref:menu-events-webhook). Otherwise the change of unavailabilities may be ineffective for newly created items.\n","requestBody":{"description":"The request body must contain a json object with two arrays defining the unavailable and hidden IDs.","content":{"application/json":{"examples":{"first":{"description":"Put item_unavailabilities request body","value":{"unavailable_ids":["orange_juice","granola"],"hidden_ids":["whole_milk"]}},"second":{"description":"The above sets orange_juice and granola as unavailable/sold out for the current day, and whole_milk as hidden. The following subsequent update would bring back granola as available, keep orange_juice as sold out, and set \"whole_milk\" to hidden.\n","value":{"unavailable_ids":["orange_juice"],"hidden_ids":["whole_milk"]}}},"schema":{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu~1item_unavailabilities/put/requestBody/content/application~1json/schema"}}}},"responses":{"200":{"description":"OK"},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/404"},"429":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/429"},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"post":{"tags":["v1"],"summary":"Update Individual Menu Item unavailabilities","description":"Once a menu is sent to our platform, all new items in the menu are theoretically \"available\", therefore a customer can order them. This endpoint allows the caller to set items as \"available\", \"unavailable\" or \"hidden\":\n\n**Statuses**\n\n- `available` - the item is visible in the menu and can be ordered.\n- `unavailable` - the item is \"greyed out\", \"striked-through\" and marked as \"sold out\" on our platform. It will be made available during the next [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n - `hidden` - the item is not visible in the menu for the customers. It will not be affected by the [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n\n**Examples**\n\nIn contrast to the PUT endpoint, this endpoint will only update the status of items which are explicitly mentioned in the payload. For example, see this sequence of calls:\n1. Set `orange_juice` unavailable.\n2. Set `granola` unavailable.\n\nAfter those two calls, both `granola` and `orange_juice` will be unavailable.\n\n**Rate Limit**\n\nThis endpoint is rate limited at 1 request per 100ms per site. There is no limit to the number of items that can be updated in a single request.\n\n**Item IDs not found**\n\nAll IDs in the request must be existing IDs on the requested menu. If any ID is not found, the entire request will fail (returns 404).\n\n**Changing unavailabilities after menu upload**\n\nIf you want to set item unavailabilities right after calling Upload Menu request, first wait to receive the [Menu Upload Result Webhook](ref:menu-events-webhook). Otherwise the change of unavailabilities may be ineffective for newly created items.\n","requestBody":{"content":{"application/json":{"example":{"item_unavailabilities":[{"item_id":"orange_juice","status":"unavailable"},{"item_id":"granola","status":"available"},{"item_id":"whole_milk","status":"hidden"}]},"schema":{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu~1item_unavailabilities/post/requestBody/content/application~1json/schema"}}}},"responses":{"200":{"description":"Completed successfully. All item status change requests were updated.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Typically a required parameter is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"The specified resource could not be found. Ex. an item_id requested does not exist on the menu.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"get":{"tags":["v1"],"summary":"Get Menu Item unavailabilities","description":"The endpoint allows to retrieve all unavailable items for the site.","responses":{"200":{"description":"OK","content":{"application/json":{"example":{"unavailable_ids":["orange_juice","granola"],"hidden_ids":["whole_milk"]},"schema":{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu~1item_unavailabilities/put/requestBody/content/application~1json/schema"}}}},"400":{"description":"Typically a required parameter is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"The specified resource could not be found. Ex. an item_id requested does not exist on the menu.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v2/brands/{brand_id}/sites/{site_id}/menu":{"parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"name":"site_id","in":"path","description":"ID of the site the menu unavailabilities should be applied to.","schema":{"type":"string"},"required":true}],"get":{"tags":["v2 (for menus created by Menu Manager)"],"summary":"Get menu","description":"The Get Menu API allows you to retrieve a menu created via the Upload Menu API or Menu Manager for a particular site. You can call this API to view the latest status of the menu uploaded in Deliveroo.\n","responses":{"200":{"description":"OK","content":{"application/json":{"example":{"name":"site-234 menu","menu":{"categories":[{"description":{"en":"Freshly made porridge"},"id":"porridge","item_ids":["porridge_blueberries","porridge_banana"],"name":{"en":"Porridge 🥣"}},{"description":{},"id":"drinks","item_ids":["tea","coffee","orange_juice"],"name":{"en":"Drinks ☕️"}},{"description":{},"id":"breakfast-bundle","item_ids":["breakfast-bundle"],"name":{"en":"Breakfast bundle 📦"}}],"items":[{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"725272730706","barcodes":["725272730706","9780201379624","4605664000050"],"id":"orange_juice","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Orange juice"},"nutritional_info":{},"operational_name":"orange-juice","plu":"orange_juice_$69","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[{"type":"DEPOSIT_FEE","amount":15}],"price":250},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with a drink of your choice."},"diets":[],"external_data":"","highlights":[],"ian":"5012345678900","barcodes":["5012345678900","3014260115531"],"id":"breakfast-bundle","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":["choose_your_porridge","choose_your_drink"],"name":{"en":"Breakfast bundle"},"nutritional_info":{},"operational_name":"Breakfast bundle","plu":"breakfast_bundle123","price_info":{"overrides":[],"price":450},"fees":[],"tax_rate":"20","type":"ITEM"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with blueberries and cinnamon"},"diets":[],"external_data":"","highlights":["in_store_price"],"ian":"50123452","barcodes":["50123452"],"id":"porridge_blueberries","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with blueberries"},"nutritional_info":{"energy_kcal":{"high":456,"low":123},"hfss":false},"operational_name":"Porridge with blueberries","plu":"porridge_blueberries123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":350},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"ian":"799439112766","barcodes":["799439112766"],"id":"whole_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Whole milk"},"nutritional_info":{},"operational_name":"whole-milk","plu":"whole_milk_$39","price_info":{"overrides":[],"price":0,"fees":[]},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"coffee","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["choose_milk"],"name":{"en":"Coffee"},"nutritional_info":{},"operational_name":"coffee","plu":"coffee_$78","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"price":250,"fees":[]},"tax_rate":"20","type":"ITEM"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{},"diets":[],"external_data":"","highlights":[],"ian":"0799439112766","barcodes":["0799439112766"],"id":"tea","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":4,"modifier_ids":["choose_milk"],"name":{"en":"Tea"},"nutritional_info":{},"operational_name":"tea","plu":"tea_$23","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"price":150,"fees":[]},"tax_rate":"20","type":"ITEM"},{"allergies":["peanuts"],"classifications":[],"contains_alcohol":false,"description":{"en":"Crunchy peanut butter"},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"peanut_butter","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Peanut butter"},"nutritional_info":{},"operational_name":"peanut-butter","plu":"peanut_butter_123","price_info":{"overrides":[],"fees":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Granola"},"diets":[],"external_data":"","highlights":[],"ian":"1234567890128","barcodes":["1234567890128"],"id":"granola","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":false,"max_quantity":2,"modifier_ids":[],"name":{"en":"Granola"},"nutritional_info":{},"operational_name":"granola","plu":"granola_123","price_info":{"fees":[],"overrides":[],"price":100},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":""},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"no_milk","image":{},"is_eligible_as_replacement":true,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":[],"name":{"en":"No milk"},"nutritional_info":{},"operational_name":"no-milk","plu":"no_milk_$49","price_info":{"fees":[],"overrides":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":[],"classifications":[],"contains_alcohol":false,"description":{"en":"Honey"},"diets":[],"external_data":"","highlights":[],"ian":"9780444505156","barcodes":["9780444505156"],"id":"honey","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":null,"modifier_ids":[],"name":{"en":"Honey"},"nutritional_info":{},"operational_name":"honey","plu":"honey_123","price_info":{"fees":[],"overrides":[],"price":0},"tax_rate":"20","type":"CHOICE"},{"allergies":["milk"],"classifications":[],"contains_alcohol":false,"description":{"en":"Porridge with bananas and cinnamon"},"diets":[],"external_data":"","highlights":[],"ian":"4006381333940","barcodes":["4006381333940"],"id":"porridge_banana","image":{},"is_eligible_as_replacement":false,"is_eligible_for_substitution":true,"max_quantity":2,"modifier_ids":["extra_toppings"],"name":{"en":"Porridge with bananas"},"nutritional_info":{},"operational_name":"porridge-ban","plu":"porridge_banana123","price_info":{"overrides":[{"id":"breakfast-bundle","price":0,"type":"ITEM"}],"fees":[],"price":350},"tax_rate":"20","type":"ITEM"}],"mealtimes":[{"category_ids":["breakfast-bundle","porridge","drinks"],"description":{"en":"Best breakfast menu in town! Everything on the menu is freshly made at the start of the day."},"id":"breakfast-menu","image":{"url":""},"name":{"en":"Breakfast menu"},"schedule":[{"day_of_week":0,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":1,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":2,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":3,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":4,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":5,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]},{"day_of_week":6,"time_periods":[{"start":"00:00:00","end":"10:29:00"}]}],"seo_description":null}],"modifiers":[{"description":{"en":""},"id":"choose_milk","item_ids":["no_milk","whole_milk"],"max_selection":1,"min_selection":0,"name":{"en":"Choose milk"},"repeatable":true},{"description":{"en":""},"id":"choose_your_porridge","item_ids":["porridge_blueberries","porridge_banana"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your porridge"},"repeatable":true},{"description":{"en":""},"id":"choose_your_drink","item_ids":["tea","coffee","orange_juice"],"max_selection":1,"min_selection":0,"name":{"en":"Choose your drink"},"repeatable":true},{"description":{"en":""},"id":"extra_toppings","item_ids":["honey","peanut_butter","granola"],"max_selection":3,"min_selection":0,"name":{"en":"Choice of extra toppings 🍯"},"repeatable":false}]},"site_ids":["site-234","site-456"]},"schema":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"can't find requested live menu"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v2/brands/{brand_id}/sites/{site_id}/menu/item_unavailabilities":{"parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu/parameters/1"}],"put":{"tags":["v2 (for menus created by Menu Manager)"],"summary":"Replace All Menu Item Unavailabilities","description":"**Note:** this endpoint works for menus created by Upload Menu endpoint as well as menus created using the Menu Manager in Restaurant Hub. If you don't need to support the latter, we recommend you using the [v1 endpoint](ref:put_v1-brands-brand-id-menus-id-item-unavailabilities-site-id) instead.\n\nOnce a menu is sent to our platform, all new items in the menu are theoretically \"available\", therefore a customer can order them. This endpoint allows the caller to set items as \"unavailable\" or \"hidden\":\n\n**Statuses**\n\n- `unavailable` - the item is \"greyed out\", \"striked-through\" and marked as \"sold out\" on our platform. It will be made available during the next [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n - `hidden` - the item is not visible in the menu for the customers. It will not be affected by the [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n\nThe call acts as a **complete override** of all the item unavailabilities for the given menu/site; as a corollary, sending an empty array will make everything available again.\n\n**Examples**\n\nSee the following sequence of calls:\n1. Set `orange_juice` and `granola` unavailable.\n2. Set `orange_juice` unavailable.\n\nAfter those calls, only `orange_juice` will remain unavailable. `granola` will be available.\n\n**Interference with other channels**\n\nRemember that unavailabilities can be changed through multiple channels (API, Deliveroo tablet, Restaurant Hub). This means that using Replace All Unavailabilities endpoint without knowing the current state of the stock can reset availability of items that were made unavailable/hidden by other channels. Thus we recommend to either:\n- use the [Update Individual Item Unavailability (POST)](ref:post_v2-brands-brand-id-sites-site-id-menu-item-unavailabilities) instead \n- or GET the unavailabilities first, so that you're fully aware of state of the stock when preparing the PUT request.\n\n**Rate Limit**\n\nThis endpoint is rate limited at 1 request per minute per site.\n\n**Item IDs not found**\n\nAny item IDs sent in the request that don't exist on the requested menu will be ignored in the update. This won't prevent the request from succeeding.\n\n**Changing unavailabilities after menu upload**\n\nIf you want to set item unavailabilities right after calling Upload Menu request, first wait to receive the [Menu Upload Result Webhook](ref:menu-events-webhook). Otherwise the change of unavailabilities may be ineffective for newly created items.\n","requestBody":{"description":"The request body must contain a json object with two arrays defining the unavailable and hidden IDs.","content":{"application/json":{"examples":{"first":{"description":"Put item_unavailabilities request body","value":{"unavailable_ids":["orange_juice","granola"],"hidden_ids":["whole_milk"]}},"second":{"description":"The above sets `orange_juice` and `granola` as unavailable/sold out for the current day, and `whole_milk` as hidden. The following subsequent update would bring back `granola` as available, keep `orange_juice` as sold out, and set `whole_milk` to hidden.\n","value":{"unavailable_ids":["orange_juice"],"hidden_ids":["whole_milk"]}}},"schema":{"type":"object","properties":{"unavailable_ids":{"description":"Item ids from the site menu that will be marked as unavailable/sold out for the day.\n","type":"array","items":{"type":"string"}},"hidden_ids":{"description":"Item ids from the site menu that will be hidden indefinitely.\n","type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"OK"},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/404"},"429":{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/put/responses/429"},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"post":{"tags":["v2 (for menus created by Menu Manager)"],"summary":"Update individual Menu Item unavailabilities","description":"**Note:** this endpoint works for menus created by Upload Menu endpoint as well as menus created using the Menu Manager in Restaurant Hub. If you don't need to support the latter, we recommend you using the [v1 endpoint](ref:post_v1-brands-brand-id-menus-id-item-unavailabilities-site-id) instead.\n\nOnce a menu is sent to our platform, all new items in the menu are theoretically \"available\", therefore a customer can order them. This endpoint allows the caller to set items as \"available\", \"unavailable\" or \"hidden\":\n\n**Statuses**\n\n- `available` - the item is visible in the menu and can be ordered.\n- `unavailable` - the item is \"greyed out\", \"striked-through\" and marked as \"sold out\" on our platform. It will be made available during the next [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n - `hidden` - the item is not visible in the menu for the customers. It will not be affected by the [morning stock reset](doc:menu-api-overview#morning-stock-reset).\n\n**Examples**\n\nIn contrast to the PUT endpoint, this endpoint will only update the status of items which are explicitly mentioned in the payload. For example, see this sequence of calls:\n1. Set `orange_juice` unavailable.\n2. Set `granola` unavailable.\n\nAfter those two calls, both `granola` and `orange_juice` will be unavailable.\n\n**Rate Limit**\n\nThis endpoint is rate limited at 1 request per 100ms per site. There is no limit to the number of items that can be updated in a single request.\n\n**Item IDs not found**\n\nAll IDs in the request must be existing IDs on the requested menu. If any ID is not found, the entire request will fail (returns 404).\n\n**Changing unavailabilities after menu upload**\n\nIf you want to set item unavailabilities right after calling Upload Menu request, first wait to receive the [Menu Upload Result Webhook](ref:menu-events-webhook). Otherwise the change of unavailabilities may be ineffective for newly created items.\n","requestBody":{"content":{"application/json":{"example":{"item_unavailabilities":[{"item_id":"orange_juice","status":"unavailable"},{"item_id":"granola","status":"available"},{"item_id":"whole_milk","status":"hidden"}]},"schema":{"type":"object","properties":{"item_unavailabilities":{"description":"Contains list of individual item unavailability updates.","type":"array","items":{"type":"object","properties":{"item_id":{"description":"Item ID from the site menu that will be marked as unavailable/sold out for the day.","type":"string"},"status":{"description":"Status to mark unavailable, or sold out for the day.","type":"string","enum":["available","unavailable","hidden"]}}}}}}}}},"responses":{"200":{"description":"Completed successfully. All item status change requests were successful.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Typically a required parameter is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"The specified resource could not be found. Ex. an item_id requested does not exist on the menu.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"get":{"tags":["v2 (for menus created by Menu Manager)"],"summary":"Get Menu Item unavailabilities","description":"The endpoint allows to retrieve all unavailable items for the site.","responses":{"200":{"description":"OK","content":{"application/json":{"example":{"unavailable_ids":["orange_juice","granola"],"hidden_ids":["whole_milk"]},"schema":{"$ref":"#/paths/~1v2~1brands~1%7Bbrand_id%7D~1sites~1%7Bsite_id%7D~1menu~1item_unavailabilities/put/requestBody/content/application~1json/schema"}}}},"400":{"description":"Typically a required parameter is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"The specified resource could not be found. Ex. an item_id requested does not exist on the menu.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v3/brands/{brand_id}/menus/{id}":{"get":{"tags":["v3 (for large menu uploads)"],"summary":"Fetch Menu","description":"Returns details for a specific menu, including the S3 URL, version, and optionally all versions and pending jobs. You can download the menu using the S3 URL.\n","parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/1"},{"name":"include_all_versions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"s3_url":{"type":"string"},"version":{"type":"string"},"other_versions":{"type":"array","items":{"type":"string"}},"pending_jobs":{"type":"array","items":{"type":"string"}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"menu not found"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}},"put":{"tags":["v3 (for large menu uploads)"],"summary":"Create S3 URL for uploading menu","description":"Returns a presigned S3 URL for uploading a menu (new or existing). No request body required.\n","parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"upload_url":{"type":"string"},"version":{"type":"string"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"menu not found"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v3/brands/{brand_id}/jobs":{"post":{"tags":["v3 (for large menu uploads)"],"summary":"Publish Menu","description":"Initiates menu processing and publication. The request body must specify the action and parameters as described. Currently there's only one action to publish the menu that is \"publish_menu_to_live\".\n","parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","enum":["publish_menu_to_live"]},"params":{"type":"object","properties":{"brand_id":{"type":"string"},"menu_id":{"type":"string"},"version":{"type":"string"}},"required":["menu_id"]}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["queued","in_progress","completed"],"description":"Status of a menu processing job"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string","enum":["bad_request","not_found","500","service_unavailable","unprocessable_entity","too_many_requests","conflict","unauthorized"]}}}}}}}},"401":{"description":"The provided API key and API token is invalid or disabled.","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"Unauthenticated"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"menu not found"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"description":"Something went wrong on our end. You’ll have to try again later once we’ve fixed it.","content":{"application/json":{"example":{"error":{"code":"500","message":"internal server error"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v3/brands/{brand_id}/jobs/{job_id}":{"get":{"tags":["v3 (for large menu uploads)"],"summary":"Get Job status","description":"Returns the status of a menu processing job.\n","parameters":[{"$ref":"#/paths/~1v1~1brands~1%7Bbrand_id%7D~1menus~1%7Bid%7D/parameters/0"},{"name":"job_id","in":"path","description":"The unique identifier for the job.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/200/content/application~1json/schema/properties/status"},"isSuccess":{"type":"boolean"},"outcome":{"type":"string"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"bad request"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"401":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/401"},"404":{"description":"Not found","content":{"application/json":{"example":{"error":{"code":"not_found","message":"job not found"}},"schema":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/400/content/application~1json/schema"}}}},"500":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"},"default":{"$ref":"#/paths/~1v3~1brands~1%7Bbrand_id%7D~1jobs/post/responses/500"}}}},"/v1/webhooks/menu-events":{"post":{"summary":"Menu Webhook Callback","description":"This webhook is used for all menu events, though currently there is only one for notification of the success (or failure) of a menu upload.\n\nIn order to receive these events, you need to have a configured Menu Event webhook.\n\nIf we receive an error in the response then we'll try to retry the callback up to 30 minutes. Keep in mind that while every attempt is made to make callbacks in the order they occurred and in a timely manner, neither can be absolutely guaranteed.","operationId":"menu-events-webhook","tags":["Webhooks"],"parameters":[{"in":"header","name":"x-deliveroo-sequence-guid","description":"Deliveroo Sequential globally unique identifier (GUID). Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"1499765769"},{"in":"header","name":"x-deliveroo-hmac-sha256","description":"On registration, we'll provide you with a webhook secret. We'll use the webhook secret and a sequential globally unique identifier (GUID) to generate a hash of the order payload. When you receive a POST request, you will be able to compute a hash and verify that it's a genuine, authorized request sent from Deliveroo. Please implement it as case-insensitive.","schema":{"type":"string"},"required":true,"example":"cc28251639033853f1cd1f8bde5a75cefba53c7c991d2b0db848b6747e258678"},{"in":"header","name":"x-deliveroo-payload-type","description":"Marks what event type is this request. Currently supported values is `webhook_menu`. Please implement it as case-insensitive.","schema":{"type":"string","enum":["webhook_menu"]},"required":true,"example":"webhook_menu"},{"in":"header","name":"x-deliveroo-webhook-version","description":"Marks which version of payload this request is having. Currently, all our payloads are version 1","schema":{"type":"string"},"required":true,"example":"1"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Menu Event","type":"object","properties":{"event":{"title":"Menu Event Type","type":"string","enum":["menu.upload_result"],"properties":{"event":{"type":"string"}}},"body":{"title":"Menu Event Body","type":"object","properties":{"menu_upload_result":{"title":"Menu Upload Result","description":"Menu upload processing result.","type":"object","properties":{"http_status":{"type":"integer","format":"int32","title":"HTTP Status","description":"Menu upload status. Possible values are: 200 (menu processed, not counting possible image download problems),400 (in case of invalid menu), 500 (for any other error)"},"brand_id":{"type":"string","title":"Brand ID","description":"Brand identifier"},"menu_id":{"type":"string","title":"Menu ID","description":"Menu external identifier"},"site_ids":{"title":"Site Location IDs","description":"Array of site location IDs","type":"array","items":{"type":"string","title":"Site Location ID"}},"errors":{"type":"object","title":"Errors","description":"Optional information for menu processing errors","properties":{"processing":{"type":"string","title":"Processing error","description":"Information about processing error in case of '500' HTTP Status"},"images":{"type":"array","items":{"type":"object","title":"Image download error","description":"Information about image download errors","properties":{"url":{"type":"string","title":"URL","description":"URL for which errors were returned"},"message":{"type":"string","title":"Error message","description":"Error details for image URL"}}}},"barcodes":{"type":"array","items":{"type":"object","title":"Barcode validation error","description":"Information about the barcode validation errors","properties":{"barcode":{"type":"string","title":"barcode","description":"Barcode that failed the validation"},"message":{"type":"string","title":"Error message","description":"Cause for the rejection of the barcode"}}}}}}}}}}}},"examples":{"MenuEventType":{"summary":"Menu Event Type","value":{"event":"menu.upload_result","body":{"menu_upload_result":{"http_status":200,"brand_id":"brand-external-id","menu_id":"menu-id","site_ids":["site_location_id_1","site_location_id_2"],"errors":{"processing":"","images":[{"url":"https://.../image-url-with-unknown-format.jpg","message":"cannot decode image to assess size requirements: image: unknown format"},{"url":"https://../other-image-url.jpg","message":"other error message"}],"barcodes":[{"barcode":"1234567","message":"barcode length is invalid"},{"barcode":"96385073","message":"invalid checksum"}]}}}}}}}}},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."},"4XX":{"description":"Your server can return 4XX codes to signal its issues with the request."},"5XX":{"description":"Your server can return 5XX codes to signal its internal issues."}}}},"/v1/integrator/webhooks/menu-events":{"get":{"summary":"Get Integrator's Menu Events Webhook","description":"This endpoint allows you to retrieve menu events webhook URL, including menu uploads.","operationId":"get-menu-events-webhook","tags":["Webhook Management"],"responses":{"200":{"description":"Get webhook URL success response.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1webhooks~1menu-events/put/requestBody/content/application~1json/schema/allOf/0"},{"example":{"webhook_url":"https://example.com/webhook"}}]}}}},"401":{"description":"Unauthorized Request","content":{"application/json":{"schema":{"allOf":[{"title":"Error","type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}},{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}}}]}}}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1webhooks~1menu-events/get/responses/401/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}}}]}}},"headers":{}}}},"put":{"summary":"Change Integrator's Menu Events Webhook","description":"This endpoint allows you to update the menu events webhook URL.","operationId":"put-menu-events-webhook","tags":["Webhook Management"],"requestBody":{"description":"Webhook URL to update.","content":{"application/json":{"schema":{"allOf":[{"title":"Webhook Url","type":"object","properties":{"webhook_url":{"type":"string"}}},{"required":["webhook_url"]},{"description":"URL for the webhook (blank to remove webhook)"},{"example":{"webhook_url":"https://example.com/webhook"}}]}}}},"responses":{"200":{"description":"The request succeeded.","content":{"application/json":{"schema":{"title":"200 OK","type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1v1~1integrator~1webhooks~1menu-events/get/responses/401/content/application~1json/schema/allOf/0"},{"example":{"error":{"code":"invalid_webhook_url","message":"invalid input: 'webhook_url': 'URLs must start with https://'"}}}]}}},"headers":{}},"401":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1menu-events/get/responses/401"},"500":{"$ref":"#/paths/~1v1~1integrator~1webhooks~1menu-events/get/responses/500"}}}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://auth.developers.deliveroo.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://auth-sandbox.developers.deliveroo.com/oauth2/token","scopes":{}}}}}},"security":[{"OAuth2-Production":[]}]}