{"openapi":"3.1.0","info":{"title":"Picking API","version":"1.0"},"servers":[{"url":"https://api.developers.deliveroo.com/","description":"Production API"},{"url":"https://api-sandbox.developers.deliveroo.com/","description":"Sandbox"}],"paths":{"/picking/v1/orders/{order_id}/start_picking":{"parameters":[{"$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/parameters/0"}],"put":{"summary":"Start picking process for order","description":"### Summary\nAllows partners to inform Deliveroo's internal systems that the picking process of an order has started.\n\n### Usage scenario\nSite would like to indicate that the picking process for an order has been started.\n\n### Business constraints\n* Order has to be in the `PLACED` status.\n\n### Operational constraints\n* There's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.","operationId":"picking-v1-start-picking","tags":["Endpoints V1"],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Describes the result of the operation"}},"example":{"message":"Preparation stage updated successfully"}}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"429":{"description":"Too many requests. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/orders/{order_id}/accept":{"parameters":[{"$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/parameters/0"}],"put":{"summary":"Accept order","description":"### Summary\nAllows partners to accept an order. It can be only called once per order.\n\n### Usage scenario\nSite would like to indicate that the order can be fulfilled.\n\n### Business constraints\n* Order has to be in the `PLACED` status.\n\n### Operational constraints\n* There's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.","operationId":"picking-v1-accept-order","tags":["Endpoints V1"],"responses":{"200":{"description":"Order status information","content":{"application/json":{"schema":{"description":"Order status information.","type":"object","properties":{"order_id":{"description":"Order ID.","type":"string"},"status":{"description":"Indicates order status.","type":"string","enum":["pending","placed","canceled","rejected","accepted"],"example":"placed"}},"required":["order_id","status"]}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"429":{"description":"Too many requests. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/orders/{order_id}/reject":{"parameters":[{"$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/parameters/0"}],"put":{"summary":"Reject order","description":"### Summary\nAllows the partner to reject an order. It can only be called once per order.\n\n### Usage scenario\nSite would like to indicate that it is unable to fulfill the order.\n\n### Business constraints\n* Order has to be in the `PLACED` status.\n\n### Operational constraints\n* There's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.","operationId":"picking-v1-reject-order","tags":["Endpoints V1"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"description":"Reason for rejecting an order.","type":"object","properties":{"reject_reason":{"description":"Reason for rejecting an order","type":"string","enum":["INGREDIENT_UNAVAILABLE","CLOSING_EARLY","BUSY","OTHER"]}},"required":["reject_reason"]}}}},"responses":{"200":{"description":"Order status information","content":{"application/json":{"schema":{"$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1accept/put/responses/200/content/application~1json/schema"}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"429":{"description":"Too many requests. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/orders/{order_id}/amendments":{"parameters":[{"$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/parameters/0"}],"post":{"summary":"Allows the partner to make amendments to order items.","description":"### Summary\nAllows the partner to make amendments to order items. The endpoint accepts amendments for multiple items in a single call.\n\n### Usage scenario\nSite would like to make Deliveroo systems and the customer aware of substitutions to the order.\nOnce order is amended it can be [accepted](ref:picking-v1-accept-order).\n\n#### Walk through\nAfter an new order is received it might turn out that site is unable to fulfill all order items and it would like to\nsubstitute some of them. Let's assume the item ID to substitute is `YYY`.\n\n##### Get allowed item substitutions\nCall [get allowed item substitutions](ref:picking-v1-get-order-substitutions) with `YYY` item ID to get list of allowed\nsubstitutions for this item. In case of a successful search a response similar to the one below will be provided:\n```json\n[\n    {\n      \"substitution_id\": \"ZZZ\",\n      \"plu\": \"1234\",\n      \"quantity\": 1,\n      \"category\": \"Fruit\",\n      \"name\": \"Large Oranges 4 per pack\",\n      \"operational_name\": \"Large Oranges 4 per pack\",\n      \"price\": 215\n    },\n    ...\n]\n```\n\n##### Use substitutions\nUse the `substitution_id` attribute from the [get allowed item substitutions](ref:picking-v1-get-order-substitutions)\nresponse as the input to `make amendments` request.\nIn our case we're substituting `YYY` item with `ZZZ` with the same quantity, so the payload will be like:\n```json\n{\n  \"item_amendments\": [\n    {\n      \"amends\": {\n        \"id\": \"YYY\",\n        \"quantity\": 1\n      },\n      \"final_quantity\": 1,\n      \"substitution_id\": \"ZZZ\"\n    },\n  ]\n}\n```\nand in case of successful amendment the response will contain substituted item under a new ID.\n\n##### Substituted items in the data model\n* Amended items will be moved to _archived_items_.\n* New ID will be generated for each amendment even if it's just reducing the quantity of an order item. To make\nanother amendment newly generated ID must be used.\n* Reference to amended item will be kept under _amends_.\n* Reference to original order item item will be kept under _original_. This will cut short all intermediate\namendment operations. It will differ from amends in case of item will be amended multiple times.\n* Reference to refactored order item will be kept under _refactors_.\n\n### Business constraints\n* Order has to be in the `PLACED` status.\n* For amended order items menu item attribute `allowed_actions_if_items_are_unavailable` has to contain:\n  * either `ITEM_REMOVAL`: for removing an item, or:\n  * `PARTNER_CHOSEN_SUBSTITUTION`: for substituting an item.\n\n### Operational constraints\n* There's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.\n* It is recommended that the integrating partner batches all the amendments for an order in a single call to this endpoint in order to avoid receiving a rate limit exceeded error.","operationId":"picking-v1-amend-order","tags":["Endpoints V1"],"requestBody":{"content":{"application/json":{"schema":{"description":"Order amendments specification.","type":"object","properties":{"item_amendments":{"description":"Array of item amendments","type":"array","items":{"description":"Order item amendment.","type":"object","properties":{"amends":{"description":"Original order item attributes.","type":"object","properties":{"id":{"description":"Identifier for the order item to amend.","type":"string"},"quantity":{"description":"Quantity of order item that should be amended.","type":"integer","minimum":0}},"required":["id","quantity"]},"final_quantity":{"description":"Updated quantity of order item. Has to be lower than amends.quantity value.","type":"integer","minimum":0},"substitution_id":{"description":"Identifier of a substitution. Should be provided only when substituting order item. It's available in response of get allowed item substitutions endpoint.","type":"string"}},"required":["amends","final_quantity"]}}},"required":["item_amendments"]}}}},"responses":{"200":{"description":"Details of an order","content":{"application/json":{"example":{"id":"gb:28588c69-efc7-479f-b692-168fa910b19c","location_id":"thrr13z1v3ut-UpgTOHtOgMY","display_id":"1244","status":"placed","status_log":[{"at":"2021-04-07T10:11:49.044Z","status":"pending"},{"at":"2021-04-07T10:11:49.079Z","status":"placed"}],"rejection_reason":"string","time_to_accept":10,"allergy_note":"string","asap":true,"prepare_for":"2021-04-07T10:22:00Z","customer_order_count":1,"order_type":"delivery","subtotal":{"currency_code":"GBP","fractional":1400},"subtotal_after_substitutions":{"currency_code":"GBP","fractional":1400},"substituted_items_total":{"currency_code":"GBP","fractional":1400},"total_price":{"currency_code":"GBP","fractional":1400},"total_after_substitutions":{"currency_code":"GBP","fractional":1400},"partners_final_order_total":{"currency_code":"GBP","fractional":1400},"partners_final_order_subtotal":{"currency_code":"GBP","fractional":1400},"offer_discount":{"currency_code":"GBP","fractional":1400},"item_substitution":"","items":[{"id":"XXX-2","pos_item_id":"string","quantity":1,"original_quantity":2,"final_quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":1400},"unit_price":{"currency_code":"GBP","fractional":1400},"discount_amount":{"currency_code":"GBP","fractional":0},"modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}],"amends":{"quantity":2,"id":"XXX","amendment_type":"SUBSTITUTION"},"original":{"quantity":2,"id":"XXX","amendment_type":"SUBSTITUTION"},"allowed_actions_if_items_are_unavailable":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]},{"id":"YYY-2","pos_item_id":"string","quantity":1,"original_quantity":1,"final_quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":1400},"unit_price":{"currency_code":"GBP","fractional":1400},"discount_amount":{"currency_code":"GBP","fractional":0},"modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}],"amends":{"quantity":1,"id":"YYY","amendment_type":"SUBSTITUTION"},"original":{"quantity":1,"id":"YYY","amendment_type":"SUBSTITUTION"},"allowed_actions_if_items_are_unavailable":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]},{"id":"YYY-3","pos_item_id":"string","quantity":1,"original_quantity":1,"final_quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":1400},"unit_price":{"currency_code":"GBP","fractional":1400},"discount_amount":{"currency_code":"GBP","fractional":0},"modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}],"refactors":{"quantity":1,"id":"YYY","original_id":"YYY"},"allowed_actions_if_items_are_unavailable":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]}],"archived_items":[{"id":"XXX","pos_item_id":"string","quantity":2,"original_quantity":2,"final_quantity":2,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":1400},"unit_price":{"currency_code":"GBP","fractional":1400},"discount_amount":{"currency_code":"GBP","fractional":0},"modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}],"archived_reason":"AMENDMENT","allowed_actions_if_items_are_unavailable":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]},{"id":"YYY","pos_item_id":"string","quantity":2,"original_quantity":2,"final_quantity":2,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":1400},"unit_price":{"currency_code":"GBP","fractional":1400},"discount_amount":{"currency_code":"GBP","fractional":0},"modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}],"archived_reason":"AMENDMENT","allowed_actions_if_items_are_unavailable":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]}],"updated_at_epoch_ms":1643736125493},"schema":{"description":"Order details.","type":"object","properties":{"id":{"description":"Order's unique identification.","type":"string"},"location_id":{"description":"Partner identifier.","type":"string"},"display_id":{"description":"The customer facing 4-digit order number.","type":"string"},"status":{"description":"Latest status of the order.","$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1accept/put/responses/200/content/application~1json/schema/properties/status"},"status_log":{"description":"Append-only log of order status changes.","type":"array","items":{"type":"object","properties":{"at":{"description":"Time of change.","type":"string","format":"date-time"},"status":{"description":"status changed at a particular timestamp.","$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1accept/put/responses/200/content/application~1json/schema/properties/status"}},"required":["at","status"]}},"rejection_reason":{"description":"Indicates the reason in case the order is rejected.","type":"string"},"time_to_accept":{"description":"Indicates the time in minutes until the order to be auto rejected, if no action from partner takes place.","type":"integer"},"allergy_note":{"description":"A plain text field in which the customer can specify dietary restrictions and other special requests.","type":"string"},"asap":{"description":"Whether the order is an ASAP order.","type":"boolean"},"prepare_for":{"description":"The time by which the order must be prepared. This field should not be used as an acceptance time. Instead use time_to_accept (time in minutes) field for computing the acceptance time.","type":"string","format":"date-time"},"customer_order_count":{"description":"Number of orders made by related customer in this place.","type":"integer"},"order_type":{"description":"delivery / pickup Order type.","type":"string","enum":["delivery","pickup"]},"subtotal":{"description":"The original price of all items in the order, unaffected by substitutions.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"subtotal_after_substitutions":{"description":"The price of all items in the order after item substitutions, if any.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"substituted_items_total":{"description":"The price difference between subtotal and subtotal_after_substitutions.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"total_price":{"description":"The original price of all items in the order, unaffected by substitutions, including fees.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"total_after_substitutions":{"description":"The total price of the order after item substitutions, if any, including fees.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"partner_final_order_subtotal":{"description":"The subtotal of the order after substitutions, if any.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"partner_final_order_total":{"description":"The total of the order after substitutions, if any, including fees.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"offer_discount":{"description":"The offer discount used when the order was placed.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"items":{"description":"List of items in the order.","type":"array","items":{"description":"Order item detail.","type":"object","properties":{"id":{"description":"Order item's unique identification.","type":"string"},"pos_item_id":{"description":"Partner identifier, aka PLU.","type":"string"},"quantity":{"description":"This holds the final amount of units expected to be delivered.","type":"string"},"name":{"description":"Customer-facing name of the catalog item.","type":"string"},"operational_name":{"description":"Site-facing name of the catalog item.","type":"string"},"total_unit_price":{"description":"Price per item including the modifiers.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"unit_price":{"description":"Price per item listed in the catalog.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"unreduced_total_unit_price":{"description":"Price per item of the replacement item after substitution.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"discount_amount":{"description":"The total discount applied to the entire quantity of the item.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"modifiers":{"description":"Contains any customizations to the catalog item. These entities take the same shape as a top level catalog item.","type":"array","items":{"description":"Order item detail.","type":"object","properties":{"pos_item_id":{"description":"Partner identifier, aka PLU.","type":"string"},"quantity":{"description":"This holds the final amount of units expected to be delivered.","type":"string"},"name":{"description":"Customer-facing name of the menu item.","type":"string"},"operational_name":{"description":"Site-facing name of the menu item.","type":"string"},"total_unit_price":{"description":"Price for one of the items without Deliveroo fees.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"unit_price":{"description":"Price for one of this item with Deliveroo fee.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"}},"required":["pos_item_id","quantity","name","total_unit_price","unit_price"]}},"barcodes":{"description":"The barcodes of the item.","type":"array","items":{"type":"string"}},"archived_reason":{"description":"Keeps the reason why this item is archived.","type":"string","enum":["REFACTORING","AMENDMENT","UNDO"]},"amends":{"description":"Keeps a reference to the order item that this item amends. It will be NULL if this item is not an amendment.","type":"object","properties":{"id":{"description":"Identifier of the order item that this item refers to.","type":"string"},"quantity":{"description":"Quantity of order item that this item refers to.","type":"integer","minimum":0},"amendment_type":{"description":"Type of amendment.","type":"string","enum":["REMOVAL","SUBSTITUTION"]}},"required":["id","quantity","amendment_type"]},"original":{"description":"Keeps a reference to the original order item that this item relates to. It is meant to keep a direct relationship between each item in the order and the original item/quantity it refers to. Cutting short all of the intermediate refactoring / amendment / undo operations. It will be NULL if this item is not an amendment.","$ref":"#/paths/~1picking~1v1~1webhook_receiver_example/post/requestBody/content/application~1json/schema/properties/order/properties/items/items/properties/amends"},"refactors":{"description":"Refactors keeps a reference to the order item that this item amends. Refactors is NULL if the item was not refactored. This allows to keep the relationship between original order_items and their refactoring items.","$ref":"#/paths/~1picking~1v1~1webhook_receiver_example/post/requestBody/content/application~1json/schema/properties/order/properties/items/items/properties/amends"},"allowed_actions_if_items_are_unavailable":{"description":"Keeps applicable actions for this order item in case it's unavailability.","type":"array","items":{"type":"string","enum":["ITEM_REMOVAL","PARTNER_CHOSEN_SUBSTITUTION","CANCEL_ORDER"]}}},"required":["id","pos_item_id","quantity","name","total_unit_price","unit_price","unreduced_total_unit_price","discount_amount"]}},"archived_items":{"description":"List of items in the order.","type":"array","items":{"$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1amendments/post/responses/200/content/application~1json/schema/properties/items/items"}},"updated_at_epoch_ms":{"description":"Time at which this order was last updated (represented as unix time with ms precision).","type":"integer","minimum":0},"bag_fee":{"description":"Bag fee","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"remake_details":{"description":"Details related to parent order.","title":"Remake Details","type":"object","properties":{"parent_order_id":{"title":"Parent Order ID","description":"Unique ID of the original order.","type":"string"},"fault":{"title":"Fault","description":"Defines who caused the redelivery, and affects the total_price. Possible values are \"deliveroo\" (total_price will be 100%) and \"restaurant\" (total_price will be 0).","type":"string","enum":["deliveroo","restaurant"]},"order_cost":{"title":"Order Cost","description":"The price of the order before fault is applied.","type":"number"}}},"eta":{"description":"A list of timestamps that indicate the ETA for actions on the order.","type":"array","items":{"type":"object","properties":{"type":{"description":"The action that the ETA is for.","type":"string"},"timestamp":{"description":"The timestamp for the action.","type":"string","format":"date-time"}},"required":["action","timestamp"]}},"customer":{"description":"Customer","type":"object","properties":{"first_name":{"description":"First name of the customer.","type":"string"},"contact_number":{"description":"A third party number used to contact customers.","type":"string"},"contact_access_code":{"description":"The access code needed to use the third party number to contact customers.","type":"string"},"order_frequency_at_site":{"description":"Order frequency at a given site. This is free text and shouldn't be considered an enum.","type":"string"},"loyalty":{"description":"Loyalty information provided with the order for the customer","type":"object","properties":{"card_number":{"description":"Loyalty card number provided by the customer","type":"string"}}}}},"promotions":{"description":"Contains the promotions associated with the order. If the order does not have a promotion applied then this section is not in payload.","type":"array","items":{"title":"Promotion Item","type":"object","properties":{"id":{"title":"ID","description":"Unique ID of the promotion.","type":"string"},"type":{"title":"Type","description":"The type of promotion applied to the offer. It can be percentage_off_on_items, percentage_off_on_basket, amount_off_on_items, amount_off_on_single_item_multibuy, amount_off_on_multiple_item_multibuy, percentage_off_on_single_item_multibuy, or percentage_off_on_multiple_item_multibuy.","type":"string","enum":["percentage_off_on_items","percentage_off_on_basket","amount_off_on_items","amount_off_on_single_item_multibuy","amount_off_on_multiple_item_multibuy","percentage_off_on_single_item_multibuy","percentage_off_on_multiple_item_multibuy"]},"value":{"title":"Value","description":"A integer representing the percentage of discount applied to the order. To be used with percentage_off_on_items and percentage_off_on_basket reward types","type":"integer"},"amount":{"properties":{"fractional":{"description":"The value of the monetary amount represented in the fractional or subunit of the currency (e.g. pence, cents). To be used with amount_off_on_items reward type","type":"integer"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}},"bundle_amount":{"properties":{"fractional":{"description":"The value of the monetary bundle amount represented in the fractional or subunit of the currency (e.g. pence, cents). To be used with amount_off_on_single_item_multibuy amount_off_on_multiple_item_multibuy percentage_off_on_single_item_multibuy percentage_off_on_multiple_item_multibuy reward type","type":"integer"},"currency_code":{"description":"The international 3-letter code as defined by the ISO 4217 standard.","type":"string"}}},"quantity":{"title":"Value","description":"A integer representing the quantity of multibuy items. To be used with amount_off_on_single_item_multibuy amount_off_on_multiple_item_multibuy percentage_off_on_single_item_multibuy percentage_off_on_multiple_item_multibuy reward type","type":"integer"},"pos_item_ids":{"title":"In-Store System Item IDs","description":"A list of items in the order affected by the promotion.","type":"array","items":{"type":"object","properties":{"id":{"title":"ID","description":"The ID of the item in the in-store system.","type":"string"}}}}}}}},"required":["id","location_id","status_log","display_id","asap","prepare_for","subtotal_price","total_after_substitutions","subtotal_after_substitutions","substituted_items_total","total_price","partners_final_order_total","partners_final_order_subtotal","offer_discount","customer_order_count","items","archived_items","updated_at_epoch_ms","order_type","bag_fee","time_to_accept","customer"]}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"429":{"description":"Too many requests. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/orders/{order_id}/items/{order_item_id}/substitute":{"parameters":[{"$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/parameters/0"},{"name":"order_item_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"Related order item id in format {order_item_uuid}.","example":"07fbb82a-ceb5-43ec-123f-18af89e3380a"},{"name":"needle","in":"query","required":false,"schema":{"type":"string"},"description":"Search word describing the desired item(s) to be used as a substitute. If not provided, item specific recommendations will be returned. For optimal results do not use needles longer than 10 characters. Multi-word needles must use %20 as a separator","example":"Mango"},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","minimum":0},"description":"Number of substitutions to return","example":2},{"name":"quantity","in":"query","required":true,"schema":{"type":"integer","minimum":0},"description":"Quantity to substitute","example":1}],"get":{"summary":"Get allowed item substitutions.","description":"### Summary\nThis API endpoint allows the partners to search for the allowed item substitutions for a given order item.\n\n### Usage scenario\nSite would like to know which items should be used for substitutions.\n\n### Business constraints\n* Order has to be in the `PLACED` status.","operationId":"picking-v1-get-order-substitutions","tags":["Endpoints V1"],"responses":{"200":{"description":"Response with list of allowed items substitutions","content":{"application/json":{"schema":{"allOf":[{"type":"array","items":{"description":null,"type":"object","properties":{"substitution_id":{"description":"Identifier of substitution used for amending order item.","type":"string"},"plu":{"description":"PLU (price lookup code) of the substitution item.","type":"string"},"quantity":{"description":"Quantity of items that can be used for substitution.","type":"integer","minimum":0},"category":{"description":"Category name of the substitution item.","type":"string"},"name":{"description":"Name of the substitution item.","type":"string"},"operational_name":{"description":"Operational name the site uses in-house for the substitution item.","type":"string"},"price":{"description":"Price in minor units of the currency.","type":"integer","minimum":0}},"required":["substitution_id","plu","quantity","category","name","operational_name","price"]}}]}}},"links":{"address":{"operationId":"picking-v1-amend-order","parameters":{"order_id":"$request.path.order_id"}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Order with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"Unknown order with id: gb:07fbb82a-ceb5-43ec-911f-18af89e3380a"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"429":{"description":"Too many requests. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/sites/{restaurant_id}/orders/active":{"parameters":[{"name":"restaurant_id","in":"path","required":true,"schema":{"type":"string"},"description":"Identifier for the site","example":1234},{"name":"page","in":"query","required":true,"schema":{"type":"integer","minimum":0},"description":"Current page","example":0},{"name":"per_page","in":"query","required":true,"schema":{"type":"integer","minimum":1},"description":"Number of items per page","example":10}],"get":{"summary":"Fetch active orders","description":"### Summary\nAllows to fetch all active orders for a specific site.\nThis means orders that are in the `PLACED` status and are awaiting action from the site side, like:\n* [accept](ref:picking-v1-accept-order)\n* [reject](ref:picking-v1-reject-order)\n* [make amendments](ref:picking-v1-amend-order)\n* [update items quantity](ref:picking-v2-update-order)\n\n### Usage scenario\nSite would like to get a list of all active, `PLACED`, orders.\n\n### Business constraints\nOrders can be automatically accepted in case site configuration enables it. In that case active orders list might be empty.\nDiscuss this option with your dedicated Technical Integration Manager.\n\nIn case orders are not accepted they are automatically rejected. After 3 rejections in the period of 15 minutes site is automatically closed.\n\n### Operational constraints\nThere's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.","operationId":"picking-v1-get-active-orders","tags":["Endpoints V1"],"responses":{"200":{"description":"Active (not accepted) orders","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1amendments/post/responses/200/content/application~1json/schema"}},"meta":{"description":"Current page information.","type":"object","properties":{"total_count":{"description":"Total no. of records.","type":"integer","minimum":0},"page":{"description":"Current page.","type":"integer","minimum":0},"per_page":{"description":"Number of records per page.","type":"integer","minimum":1},"page_count":{"description":"Number of pages.","type":"integer","minimum":0}},"required":["total_count","page","per_page","page_count"]}}},{"example":{"orders":[{"id":"4K6CexdNbessmia4HDVewu9","location_id":"thrr13z1v3ut-UpgTOHtOgMY","status_log":[{"at":"2021-04-07T10:11:49.044Z","status":"PENDING"},{"at":"2021-04-07T10:11:49.079Z","status":"PLACED"}],"status":"PLACED","display_id":"1244","allergy_note":"string","item_substitution":"","rejection_reason":"string","time_to_accept":10,"asap":true,"customer_order_count":1,"order_type":"delivery","subtotal_price":{"currency_code":"GBP","fractional":400},"total_after_substitutions":{"currency_code":"GBP","fractional":400},"subtotal_after_substitutions":{"currency_code":"GBP","fractional":400},"substituted_items_total":{"currency_code":"GBP","fractional":400},"total_price":{"currency_code":"GBP","fractional":440},"offer_discount":{"currency_code":"GBP","fractional":0},"items":[{"id":"string","pos_item_id":"string","quantity":2,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":400},"unit_price":{"currency_code":"GBP","fractional":400},"external_data":"external-data-defined-for-menu-item","modifiers":[{"pos_item_id":"string","quantity":1,"name":"string","operation_name":"string","total_unit_price":{"currency_code":"GBP","fractional":140},"unit_price":{"currency_code":"GBP","fractional":140}}]}],"archived_items":[],"updated_at_epoch_ms":1643736125493,"customer":{"loyalty":{"card_number":"64002424242"}}}],"meta":{"total_count":1,"page":1,"per_page":1,"page_count":1}}}]}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"},{"example":{"error":{"code":"bad_request","message":"invalid request"}}}]}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"},{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}}}]}}},"headers":{}},"404":{"description":"Site with that ID was not found in our systems.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"},{"example":{"error":{"code":"not_found","message":"site was not found for provided external site ID and integrator ID"}}}]}}},"headers":{}},"429":{"description":"Too many request. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"},{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}}}]}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/webhooks/partners/{brand_id}":{"parameters":[{"name":"brand_id","in":"path","required":true,"schema":{"type":"string"},"description":"The unique identifier for the brand (Deliveroo's integration team will provide this)","example":"your-brand-id"}],"get":{"summary":"Retrieve Picking API webhook configuration for a brand","description":"### Summary\nThis API endpoint allows the partners to retrieve their Picking API Webhook configuration.\n---\n**NOTE**\nThis endpoint should only be used by retail partners that are directly integrated with Deliveroo [i.e. NOT Middleware]. Before proceeding, please confirm with your dedicated Technical Integration Manager to confirm if this is the correct endpoint to be implemented, as per your config set up.\n---\n\n### Usage scenario\nThe partner would like to know the current configuration.\n\n### Business constraints\nIntegrator has to use unique picking webhook URLs for this change.\n\n### Operational constraints\n*None*","operationId":"picking-v1-get-brand-webhook-configuration","tags":["Webhook URL Configuration"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks~1partners~1%7Bbrand_id%7D/put/requestBody/content/application~1json/schema"},"example":{"picking_status_url":"https://example.com/webhook"}}}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}},"put":{"summary":"Configure Picking API webhook for a brand","description":"### Summary\nThis API endpoint allows the partner to configure the Picking API webhook url.\n---\n**NOTE**\nThis endpoint should only be used by retail partners that are directly integrated with Deliveroo [i.e. NOT Middleware]. Before proceeding, please confirm with your dedicated Technical Integration Manager to confirm if this is the correct endpoint to be implemented, as per your config set up.\n---\n\n### Usage scenario\nThe partner would like to change existing, brand-specific, Picking API webhook URL.\n\n### Business constraints\nPicking API webhook configuration for the integrator has to set `has_unique_webhook_urls` to `true` in order for\nbrand-specific URL to be effective.\n\n### Operational constraints\n*None*","operationId":"put-brand-webhook-configuration","tags":["Webhook URL Configuration"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"description":"Webhook URL configuration.","type":"object","properties":{"picking_status_url":{"description":"URL for receiving order status messages.","type":"string"}},"required":["picking_status_url"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks~1partners~1%7Bbrand_id%7D/put/requestBody/content/application~1json/schema"},"example":{"picking_status_url":"https://example.com/webhook"}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/webhooks":{"get":{"summary":"Retrieve Picking API webhook configuration (Integrator)","description":"### Summary\nThis API endpoint allows integrators to retrieve their Picking API Webhook configuration.\n---\n**NOTE**\nThis endpoint should only be used by Middleware providers, integrated with Deliveroo. Before proceeding, please confirm with your dedicated Technical Integration Manager to confirm if this is the correct endpoint to be implemented, as per your config set up.\n---\n\n### Usage scenario\nThe partner or the integrator would like to know the current configuration.\n\n### Business constraints\n*None*\n\n### Operational constraints\n*None*","operationId":"picking-v1-get-webhook-configuration","tags":["Webhook URL Configuration"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/put/requestBody/content/application~1json/schema"},"example":{"picking_status_url":"https://example.com/webhook","has_unique_webhook_urls":false}}}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"description":"Error.","type":"object","properties":{"error":{"description":"Error body","type":"object","properties":{"code":{"description":"HTTP status code description.","type":"string"},"message":{"description":"Details about the error.","type":"string"}},"required":["code","message"]}},"required":["error"]}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}},"put":{"summary":"Configure Picking API webhook (Integrator)","description":"### Summary\nThis API endpoint allows the partner to configure the Picking API webhook URL for the integrator.\n---\n**NOTE**\nThis endpoint should only be used by Middleware providers, integrated with Deliveroo. Before proceeding, please confirm with your dedicated Technical Integration Manager to confirm if this is the correct endpoint to be implemented, as per your config set up.\n---\n\n### Usage scenario\n#### Common Middleware URL for all brands\nFor this scenario set `picking_status_url` to the proper URL value and set `has_unique_webhook_urls` to false.\nThis ensures that order statuses for all brands will be sent to this URL only.\n#### Brand-unique URL\nFor this scenario set `picking_status_url` to an empty string and set `has_unique_webhook_urls` to true.\nThis will enable usage of brand-specific URLs for sending the Picking API order statuses.\n\n### Business constraints\n*None*\n\n### Operational constraints\n*None*","operationId":"put-webhook-configuration","tags":["Webhook URL Configuration"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"description":"Webhook configuration for an integrator.","type":"object","properties":{"picking_status_url":{"description":"The single webhook for the integrator.","type":"string"},"has_unique_webhook_urls":{"description":"Whether every partner (within an integrator) should be able to have a different webhook. In case this is enabled please check Partner Webhook configuration.","type":"boolean"}},"required":["picking_status_url","has_unique_webhook_urls"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/put/requestBody/content/application~1json/schema"},"example":{"picking_status_url":"https://example.com/webhook","has_unique_webhook_urls":false}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}},"/picking/v1/webhook_receiver_example":{"post":{"summary":"Picking API webhook receiver example","description":"---\n**NOTE**\n**This is not a real API endpoint**. It is an example on how a webhook receiver could be specified on the partner/integrator side.\n---","operationId":"webhook-receiver-example","tags":["Webhook URL Configuration"],"parameters":[{"name":"x-deliveroo-sequence-guid","in":"header","required":true,"description":"Unique identifier for webhook payload.","schema":{"type":"string"},"example":"173153b95651b2a5"},{"name":"x-deliveroo-hmac-sha256","in":"header","required":true,"description":"Proof of authenticity for sent webhook payloads. Computed based on `webhook-secret` value and `x-deliveroo-sequence-guid` HTTP header value.","schema":{"type":"string"},"example":"b0d002e21f8e39e1afd6a4691fd92b63587f067182bd528a320ff366c4588808"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"description":"Payload sent to configured Picking webhook URL.","type":"object","properties":{"event":{"description":"event type.","type":"string","enum":["order.status_update"]},"order":{"description":"Order details.","$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1amendments/post/responses/200/content/application~1json/schema"}},"required":["event","order"]}}}},"responses":{"200":{"description":"OK"}}}},"/picking/v2/orders/{order_id}":{"parameters":[{"name":"order_id","in":"path","required":true,"schema":{"type":"string"},"description":"Related order id in format {market}:{order_uuid}.","example":"gb:07fbb82a-ceb5-43ec-123f-18af89e3380a"}],"put":{"summary":"Update order items quantity","description":"### Summary\nAllows the partner to update the quantities for order items. The endpoint accepts amendments for multiple items in a single\ncall. It is recommended that the integrating partner batches all the substitutions for an order in a single call\nof this endpoint in order to avoid receiving a rate limit exceeded error.\n\n### Usage scenario\nSite would like to change quantities of order items and fulfill order partially.\nOnce quantities are amended order can be [accepted](ref:picking-v1-accept-order).\n\n### Business constraints\n* Order has to be in the `PLACED` status.\n* An item (identified by id) can be amended only once.\n* The final_quantity value has to be less than the original quantity value.\n* Unchanged items are not allowed in the request.\n\n### Operational constraints\nThere's a rate limit of 1 request per order per 30 seconds. If you get over the limit, you'll get \"Too many requests\" error.","operationId":"picking-v2-update-order","tags":["Endpoints V2"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"description":"Update order item quantities.","type":"object","properties":{"item_amendments":{"description":"Array of item amendments.","type":"array","items":{"description":"Single item update details.","type":"object","properties":{"amends":{"description":"Original item data.","type":"object","properties":{"id":{"description":"Order item identifier.","type":"string","example":"7bec15ee-547c-4f05-bdc3-1bc157937432"},"quantity":{"description":"Initial quantity for a particular order item.","type":"integer","minimum":0,"example":3}},"required":["id","quantity"]},"final_quantity":{"description":"Final quantity for a particular order item.","type":"integer","minimum":0,"example":1}},"required":["amends","final_quantity"]}}},"required":["item_amendments"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"order_id":"gb:28588c69-efc7-479f-b692-168fa910b19c","status":"PLACED","total_price":{"currency_code":"GBP","fractional":1400},"subtotal_price":{"currency_code":"GBP","fractional":1400},"total_after_substitutions":{"currency_code":"GBP","fractional":1400},"subtotal_after_substitutions":{"currency_code":"GBP","fractional":1400},"substituted_items_total":{"currency_code":"GBP","fractional":1400}},"schema":{"description":"Details concerning amended order data.","type":"object","properties":{"order_id":{"description":"Order's unique identification.","type":"string","example":"gb:28588c69-efc7-479f-b692-168fa910b19c"},"status":{"description":"Latest status of the order.","$ref":"#/paths/~1picking~1v1~1orders~1%7Border_id%7D~1accept/put/responses/200/content/application~1json/schema/properties/status"},"total_price":{"description":"The original price of all items in the order, unaffected by substitutions, including fees.","type":"object","properties":{"currency_code":{"description":"Currency code.","type":"string","example":"GBP"},"fractional":{"description":"Monetary amount (multiplied by 100).","type":"integer","minimum":0,"example":169}},"required":["currency_code","fractional"]},"subtotal_price":{"description":"The original price of all items in the order, unaffected by substitutions.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"total_after_substitutions":{"description":"The total price of the order after item substitutions, if any, including fees.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"subtotal_after_substitutions":{"description":"The price of all items in the order after item substitutions, if any.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"},"substituted_items_total":{"description":"The price difference between subtotal and subtotal_after_substitutions.","$ref":"#/paths/~1picking~1v2~1orders~1%7Border_id%7D/put/responses/200/content/application~1json/schema/properties/total_price"}},"required":["order_id","status","total_price","subtotal_price","total_after_substitutions","subtotal_after_substitutions","substituted_items_total"]}}}},"400":{"description":"The request didn't work, often because a required parameter is missing or the content-type hasn't been set e.g. an incorrect JSON request","content":{"application/json":{"example":{"error":{"code":"bad_request","message":"invalid request"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"401":{"description":"The request didn't work because the combination of your API key and API token doesn't exist in our system or your integration has been disabled","content":{"application/json":{"example":{"error":{"code":"unauthorized","message":"basic auth not provided"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"404":{"description":"Partner with that ID was not found in our systems.","content":{"application/json":{"example":{"error":{"code":"not_found","message":"partner does not exist"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}},"429":{"description":"Too many request. Rate limit of 1 request / 30 seconds / 1 order is exceeded","content":{"application/json":{"example":{"error":{"code":"too_many_requests","message":"api calls have exceeded the RPS limit"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}},"headers":{}},"500":{"description":"Something went wrong on our end. You'll have to try again later once we've fixed it.","content":{"application/json":{"example":{"error":{"code":"internal_server_error","message":"Internal server error"}},"schema":{"$ref":"#/paths/~1picking~1v1~1webhooks/get/responses/401/content/application~1json/schema"}}}}}}}},"components":{"securitySchemes":{"OAuth2-Production":{"type":"oauth2","description":"OAuth for Production","flows":{"clientCredentials":{"tokenUrl":"https://deliveroo-api.auth.eu-west-1.amazoncognito.com/oauth2/token","scopes":{}}}},"OAuth2-Sandbox":{"type":"oauth2","description":"OAuth for Sandbox","flows":{"clientCredentials":{"tokenUrl":"https://deliveroo-api-dp.auth.eu-west-1.amazoncognito.com/oauth2/token","scopes":{}}}}}},"security":[{"OAuth2-Production":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}