{"openapi":"3.1.0","info":{"title":"Authentication","version":"1.0","description":""},"servers":[{"url":"https://auth.developers.deliveroo.com","description":"Production API"},{"url":"https://auth-sandbox.developers.deliveroo.com","description":"Sandbox"}],"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"paths":{"/oauth2/token":{"post":{"tags":["Exchange credentials"],"summary":"Get access token.","externalDocs":{"description":"RFC 6749 - The OAuth2.0 Authorization Framework","url":"https://tools.ietf.org/html/rfc6749#section-4.4.2"},"operationId":"get-access-token","requestBody":{"$ref":"#/components/requestBodies/TokenRequestClientCredentialsGrant"},"responses":{"200":{"$ref":"#/components/responses/OAuth2TokenSuccessResponse"},"4XX":{"$ref":"#/components/responses/OAuth2ErrorResponse"}},"security":[{"ClientPasswordHttpBasic":[]}]}}},"components":{"schemas":{"AccessToken":{"title":"Access Token","description":"Access Token\n\n[The OAuth2.0 Authorization Framework - 1.4. Access Token](https://tools.ietf.org/html/rfc6749#section-1.4)\n\nAccess tokens are credentials used to access protected resources.  An access token is a string representing an authorization issued to the client.  The string is usually opaque to the client.  Tokens represent specific scopes and durations of access, granted by the resource owner, and enforced by the resource server and authorization server.","type":"object","required":["access_token","token_type"],"properties":{"access_token":{"description":"The access token issued by the authorization server.","type":"string","example":"2YotnFZFEjr1zCsicMWpAA"},"token_type":{"description":"The type of the token issued as described in [Section 7.1](https://tools.ietf.org/html/rfc6749#section-7.1).  Value is case insensitive.","type":"string","example":"Bearer"},"expires_in":{"description":"**RECOMMENDED**. The lifetime in seconds of the access token.  For example, the value \"3600\" denotes that the access token will expire in one hour from the time the response was generated. If omitted, the authorization server SHOULD provide the expiration time via other means or document the default value.","type":"integer","example":3600}}},"ErrorResponse":{"title":"Error","description":"[The OAuth2.0 Authorization Framework - 5.2. Error Response](https://tools.ietf.org/html/rfc6749#section-5.2)","type":"object","required":["error"],"properties":{"error":{"description":"A single ASCII [[USASCII](https://tools.ietf.org/html/rfc6749#ref-USASCII)] error code from the following:\n| Error Code| Description |\n|-----------|-------------|\n| invalid_request | The request is missing a required parameter, includes an unsupported parameter value (other than grant type), repeats a parameter, includes multiple credentials, utilizes more than one mechanism for authenticating the client, or is otherwise malformed. |\n| invalid_client | Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method).  The authorization server MAY return an HTTP 401 (Unauthorized) status code to indicate which HTTP authentication schemes are supported.  If the client attempted to authenticate via the \"Authorization\" request header field, the authorization server MUST respond with an HTTP 401 (Unauthorized) status code and include the \"WWW-Authenticate\" response header field matching the authentication scheme used by the client. |\n| invalid_grant | The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client. |\n| unauthorized_client | The authenticated client is not authorized to use this authorization grant type. |\n| unsupported_grant_type | The authorization grant type is not supported by the authorization server. |\n| invalid_scope | The requested scope is invalid, unknown, malformed, or exceeds the scope granted by the resource owner. |","type":"string","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type","invalid_scope"],"example":"invalid_client"}}}},"responses":{"OAuth2TokenSuccessResponse":{"description":"Successful Response.\n\n[The OAuth2.0 Authorization Framework - 5.1. Successful Response](https://tools.ietf.org/html/rfc6749#section-5.1)\n\nThe authorization server issues an access token and optional refresh token, and constructs the response by adding the following parameters to the entity-body of the HTTP response with a 200 (OK) status code.","headers":{"Cache-Control":{"schema":{"type":"string","example":"no-store"}},"Pragma":{"schema":{"type":"string","example":"no-cache"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessToken"}}}},"OAuth2ErrorResponse":{"description":"Error Response.\n\n[The OAuth2.0 Authorization Framework - 5.2. Error Response](https://tools.ietf.org/html/rfc6749#section-5.2)\n\nThe authorization server responds with an HTTP 400 (Bad Request) status code (unless specified otherwise) and includes the following parameters with the response.","headers":{"Cache-Control":{"schema":{"type":"string","example":"no-store"}},"Pragma":{"schema":{"type":"string","example":"no-cache"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"requestBodies":{"TokenRequestClientCredentialsGrant":{"description":"Access token request body","content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["grant_type"],"properties":{"grant_type":{"description":"Value **MUST** be set to \"client_credentials\".","type":"string","enum":["client_credentials"],"example":"client_credentials"}}}}},"required":true}},"securitySchemes":{"ClientPasswordHttpBasic":{"description":"Clients in possession of a client password MAY use the HTTP Basic authentication scheme as defined in [[RFC2617](https://tools.ietf.org/html/rfc2617)] to authenticate with the authorization server.\n\nUse `client_id` as username and `client_secret` as password.\n\n[RFC 6749 - 2.3.1. Client Password](https://tools.ietf.org/html/rfc6749#section-2.3.1)","type":"http","scheme":"basic"}}}}